.article {
  padding-bottom: 30px;
  
  &-date {
    color: #b1aea0;
    font-size: 10px;
    text-transform: uppercase;
    span {
      line-height: 13px;
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  
  &-nav {
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    margin: 30px 0;
    
    &-prev {
      float: left;
      text-align: left;
        .icon {
        float: left;
        margin-right: 5px;
      }
      @media (max-width: @screen-xs-max) {
        width: 100%;
      }
    }
    &-next {
      float: right;
      text-align: right;
      
      .icon {
        float: right;
        margin-left: 5px;
      }
      @media (max-width: @screen-xs-max) {
        float: left;
        clear: left;
        width: 100%;
      }
    }
  }
  
  &-gallery {
    letter-spacing: -0.4em;
    margin: 15px -15px;
    &-item {
      display: inline-block;
      letter-spacing: 0;
      width: 33.33%;
      padding: 15px;
      
      figure {
        text-align: center;
      }
      
    }
  }
  
}