.aside {
  
  &-kiosk {
    margin-bottom: @grid-gutter-width;
  }
  
  &-nav {
    &-title {
      .f-os-b;
      margin-top: 0;
    }
    ul {
      .clearfix();
      margin-bottom: 15px;
      li {
        padding: 3px 0;
        float: left;
        clear: left;
        
        &.active {
          background: #96b3c5;
          padding-left: 10px;
          padding-right: 10px;
          margin: 0 -10px;
          border-radius: 3px;
          
          a {
            color: #fff;
          }
        }
      }
    }
  }
  
}