.bookingSuccess {
  h1 {
    .text-center;
  }
  
  &-success {
    .text-center;
    font-size: 16px;
    line-height: 170%;
    margin-bottom: @grid-gutter-width;
  }
  
  &-action {
    .text-center;
    padding: @grid-gutter-width/2 0 @grid-gutter-width;
    letter-spacing: 10px;
    a {
      min-width: 300px;
      letter-spacing: 0;
      margin-bottom: 10px;
    }
  }
  
}