.bookingWagons {
  &-title {
    font-size: 30px;
  }
  &-item {
    font-size: 15px;
    line-height: 24px;
    .f-os-b;
    
    .btn {
      font-size: 12px;
      .f-os-reg;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    
    &[data-cell-type="num"] {
      width: 10%;
    }
    &[data-cell-type="class"] {
      width: 21%;
    }
    &[data-cell-type="price"] {
      width: 15%;
    }
    &[data-cell-type="price-top"] {
      width: 15%;
    }
    &[data-cell-type="free-top"] {
      width: 8%;
    }
    &[data-cell-type="free-bottom"] {
      width: 8%;
    }
    &[data-cell-type="free-total"] {
      width: 8%;
    }
    &[data-cell-type="action"] {
      width: 15%;
    }
    
    &-choose {
      .opened & {
        display: none;
      }
    }
    &-chooseClose {
      display: none;
      .blue-dash;
      line-height: 24px;
      
      > .icon {
        vertical-align: middle;
        margin-top: -1px;
      }
      
      .opened & {
        display: inline-block;
      }
    }
    
    &-choosePanel {
      width: 100%;
      display: none;
      
      .opened & {
        display: block;
      }
      
      .h2 {
        .text-center;
        .f-os-reg;
        >span {
          .blue-dash;
          a {
            text-decoration: none !important;
          }
          &.active {
            background: #96b3c5;
            color: #fff;
            border-width: 0;
            margin-left: -3px;
            margin-right: -3px;
            padding-left: 3px;
            padding-right: 3px;
            a {
              color: #fff;
            }
          }
        }
      }
      
      [data-tab="panel"] {
        display: none;
        &.active {
          display: block;
        }
      }
      
      &-description {
        color: #8a8a8a;
        .text-center;
        margin-bottom: @grid-gutter-width;
      }
      
      
      &-list {
        margin-bottom: 15px;
        label {
          font-weight: 500;
        }
        &-requirements {
          &-placement {
            padding-right: 30px;
            line-height: 34px;
            margin-bottom: 10px;
          }
        }
        
        &-placeQuantity {
          .form-inline {
            margin-bottom: 15px;
          }
          label {
            display: block;
            > span {
              display: block;
              margin-bottom: 5px;
            }
          }
          .form-control {
            width: 100%;
            max-width: 80px;
          }
        }
        
        &-placeList {
          ul {
            .menu;
            letter-spacing: 10px;
            li {
              display: inline-block;
              letter-spacing: 0;
              font-size: 16px;
              cursor: pointer;
            }
          }
        }
      }
      
      &-totalPrice {
        font-size: 13px;
        color: #8a8a8a;
        padding: 20px 0;
        
        &-digit {
          font-size: 42px;
          .f-os-sb;
          color: @gray-darker;
        }
        
        &-text {
          padding: 0 @grid-gutter-width @grid-gutter-width/2 @grid-gutter-width/2;
          line-height: 150%;
        }
        
        .btn {
          @media (min-width: @screen-md) {
            margin-left: -@grid-gutter-width/2;
            margin-right: -@grid-gutter-width/2;
            padding-left: @grid-gutter-width;
            padding-right: @grid-gutter-width;
          }
          font-size: 16px;
        }
        
      }
      
    }
    
    
    
    
  }
  
  .bookingTable-body &-item {
    &[data-cell-type="num"] {
      font-size: 24px;
      .f-os-reg;
      line-height: 24px;
    }
    &[data-cell-type="free-top"],
    &[data-cell-type="free-bottom"],
    &[data-cell-type="free-total"] {
      font-size: 14px;
    }
    
  }
  
  
}

