.bookingTable {
  @media (max-width: @screen-sm-max) {
    
    padding-left: @grid-gutter-width/2;  
    padding-right: @grid-gutter-width/2;
    overflow-x: auto;
  }
  &-row {
    min-width: 970px;
    margin-bottom: 20px;
    .clearfix;
    border-radius: 10px;
    overflow: hidden;
    
    &-item {
      float: left;
      padding-left: @grid-gutter-width/1.5;
      padding-right: @grid-gutter-width/1.5; 
      padding-top: 10px;
      padding-bottom: 10px;      
    }
  }
  
  &-head {
    background: #f2f2ea;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -@grid-gutter-width/1.5;
    margin-right: -@grid-gutter-width/1.5;
    
    &-item {
      font-weight: 500;
      font-size: 15px;
      .f-os-b;
      padding-top: 10px;
      padding-bottom: 10px;
      white-space: nowrap;
      &-caption {
        .f-os-reg;
        font-weight: 500;
        font-size: 12px;
        display: block;
      }
    }
  }
  &-body {
    margin: 10px -@grid-gutter-width/1.5;
  }
  
  &-item {
    background: @dataBackground;
    &:nth-child(2n) {
      background: @dataBackground-darken;
    }
    .clearfix();
    
    
    &-title {
      h5 {
        line-height: 125%;
        margin: 5px 0;
      }
      &-route {
        font-size: 12px;
      }
    }
    
    &-route {
      background: @dataBackground-darken;
      box-shadow: 0 50px 0 0 @dataBackground-darken;
      position: relative;
    }
    
    &-price {
      > span {
        .f-os-b;
        font-size: 12px;
        > span {
          font-size: 16px;
        }
      }
      > p {
        font-size: 12px;
        color: @gray-light;
        margin: 5px 0;
      }
      .btn {
        font-size: 12px;
        line-height: 18px;
        height: 20px;
        padding: 0 15px;
      }
      
      &-selected {
        padding-top: 10px;
        padding-left: 10px;
        > span {
          > span {
            font-size: 24px;
          }
          font-size: 24px;
        }
      }
      
    }
    &-priceComplete {
      min-height: 80px;
      background: @dataBackground-darken;
      box-shadow: 0 80px 0 0 @dataBackground-darken;
    }
  }
}