@gutter: 50px;
  
@import "bookingTable.less";
@import "bookingWagons.less";
@import "ticketPersonal.less";
@import "bookingSuccess.less";

.booking {
  
  &-scale {
    text-align: justify;
    padding: 40px 0 20px;
    box-shadow:  0 77px 0 0 #fff inset, 0 78px 0 0 #d2d2d2 inset;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
    }
    
    &-item {
      display: inline-block;
      vertical-align: top;
      color: #dadadd;
      background: #fff;
      max-width: 100px;
      font-size: 12px;
      text-align: center;
      line-height: 15px;
      &:hover {
        text-decoration: none !important;
      }
      > span {
        .f-os-b;
        font-size: 48px;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 72px;
        height: 72px;
        line-height: 72px;
        border-radius: 36px;
        background: #d5d5d8;
        color: #fff;
        margin-bottom: 7px;
      }
      a& {
        color: @blue-dark;
        > span {
          color: #fff;
          background: #2c2b3c;
        }
      }
      &&-success {
        > span {
          background: #31d674 url("../images/success.png") no-repeat 50% 50%;
          color: rgba(0,0,0,0);
        }
      }
    }
  }
  
  
  &-date {
    font-size: 24px;
  }
 
  &-most {
    margin: 20px 0px;
    border-radius: 4px;
    overflow: hidden;
    
    &-title {
      color: #fff;
      padding: 5px 10px 5px 70px;
      .clearfix();
      
      &-price {
        float: right;
        text-align: right;
        > span {
          font-size: 18px;
          .f-os-b;
        }
      }
      
      h4 {
        .f-os-b;
        margin: 0;
      }
      
      &-name {
        font-size: 12px;
        opacity: 0.9;
      }
      
    }
    &-cheap &-title {
      background: url("../images/hand.png") no-repeat 10px 50%, linear-gradient(270deg, #3ba8e5 0%,#2e3f57 100%);
    }
    &-quick &-title {
      background: url("../images/speed.png") no-repeat 10px 50%, linear-gradient(270deg, #31d674 0%,#244639 100%);
    }
  }  
    
  &-route {
      position: relative;
      color: #8a8a8a;
      font-size: 12px;
      .clearfix();
      padding: 10px 15px;
      line-height: 133%;
      text-align: center;
      box-shadow:  0 44px 0 0 @dataBackground inset, 0 45px 0 0 #d2d2d2 inset;
      background: @dataBackground;
      .bookingTable & {
        padding: 10px 0;
        box-shadow:  0 44px 0 0 @dataBackground-darken inset, 0 45px 0 0 #d2d2d2 inset;
        background: @dataBackground-darken;
      }
      
      &-from, &-from &-time {
        float: left;
        text-align: left;
      }
      &-to, &-to &-time {
        float: right;
        text-align: right;
      }
      
      &-date {
        .f-os-b;
        font-size: 12px;
        color: @blue-dark;
      }
      &-time {
        .f-os-b;
        font-size: 24px;
        color: @blue-dark;
        line-height: 133%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        margin-right: -20px;
        background: @dataBackground;
        .bookingTable & {
          background: @dataBackground-darken;
        }
        
        & + p {
          margin: 0;
          clear: both;
        }
        
        
      }
      &-place {
        clear: both;
        margin-top: 7px;
        strong {
          display: block;
        }
      }
      
      &-buy {
        clear: both;
        text-align: center;
        font-size: 14px;
        padding: 14px 0 7px;
        color: @blue-dark;
        background: @dataBackground;
        .bookingTable & {
          background: @dataBackground-darken;
        }
        
        .btn {
          margin-left: 10px;
        }
        select {
          max-width: 50%;
          vertical-align: middle;
          display: inline-block;
        }
      }
      
      &-duration {
        text-align: center;
        padding: 22px 10px 0;
        color: #a5a5a5;
        display: inline-block;
        font-size: 14px;
        background: @dataBackground;
        .bookingTable & {
          position: absolute;
          left: 50%;
          top: 15px;
          margin-left: -50px;
          width: 100px;
          background: @dataBackground-darken;
          padding-left: 0;
          padding-right: 0;
        }
      }
      
  }
  
  &-places {
    padding-top: 8px;
    font-size: 12px;
    &-title {
      .f-os-b;
    }
    &-quantity {
      .f-os-b;
      font-size: 24px;
      line-height: 120%;
    }
    &-list {
      color: #8a8a8a;
      .f-os-b;
    }
    &-peoples {
      .menu;
      padding-top: 10px;
      color: #8a8a8a;
    }
  }
  
  &-priceComplete {
    font-size: 21px;
    line-height: 160%;
    span {
      display: block;
      .f-os-b;
      font-size: 36px;
    }
  }
    
}