.breadcrumbs {
  border: 1px #dadada solid;
  border-radius: 12px;
  line-height: 24px;
  padding: 0 15px;
  margin-bottom: 15px;
  float: left;
  margin-top: 30px;

  .findForm-inner + .container & {
    margin-top: 0;
  }
  
  + h1 {
    clear: both;
  }
  
  a {
    height: 26px;
    display: inline-block;
    
    &:after {
        border-right: 1px solid #dadada;
        border-top: 1px solid #dadada;
        display: inline-block;
        content: "";
        transform: rotate(45deg);
        vertical-align: middle;
      @media (min-width: @screen-md) {
        margin: -2px 10px 0;
        height: 18px;
        width: 19px;
      }
      @media (max-width: @screen-sm-max) {
        margin: 0 5px;
        height: 10px;
        width: 10px;
      }
    }
  }
  
}