#chooseWay {
  text-align: center;
  
  h2 {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

.modal-chooseWay {
}

.chooseWay {

  &-block {
    margin-bottom: 30px;
  }

  &-descr {
    color: #a2a2a2;
  }
  &-iconBlock {
    background: @dataBackground-darken;
    padding: 12px;
    margin: 10px 30px 20px;
    
    span {
      display: inline-block;
      margin: 10px 5px 0 5px;
      line-height: 120%;
      span {
        padding: 0 10px;
        display: block;
        font-size: 12px;
      }
    }
    
  }
}