* {
  outline: none !important;
}

input::-webkit-input-placeholder {
  .f-os-i;
  font-weight: 400;
  padding-left: 5px;
  overflow: visible;
}
input:-moz-placeholder {
  .f-os-i;
  font-weight: 400;
}
input::-moz-placeholder {
  .f-os-i;
  font-weight: 400;
}

select {
   -webkit-appearance: none;
  background-image: url('../images/select.png') !important;
  background-position: right center;
  background-repeat: no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
select::-ms-expand {
  display: none;
}

textarea {
  resize: none;
}

/* Layout */

h1, .h1 {
  margin: 0 0 15px;
  color: #4a4a4a;
  @media screen and (max-width: @screen-sm) {
    font-size: @font-size-h1/1.5;
  }
}

h2, .h2 {
  margin: 10 0 15px;
  @media screen and (max-width: @screen-sm) {
    font-size: @font-size-h2/1.5;
  }
}

h3, .h3 {
  margin: 15px 0;
  @media screen and (max-width: @screen-sm) {
    font-size: @font-size-h3/1.5;
  }
}

.bg-blue-d {
  background: #004b85;
}
.bg-blue-m {
  background: #4189c4;
}
.bg-blue-l {
  background: #8aafcc;
}

b, strong {
  .f-os-b;
  font-weight: 400;
}

figure {
  margin: 0;
  img {
    max-width: 100%;
  }
}

.kiosk {
  @media screen and (min-width: @screen-sm) {
    .text-center;
  }
  &-title {
    .h1;
  }
  &-text {
      font-size: 16px;
      line-height: 27px;
      margin: 0 auto;
      @media screen and (min-width: @screen-md) {
        max-width: 70%;
      }
  }
  &-gray {
    background: #f6f5ee;
  }
  &-linkAll {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
}

.sort {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border-top: 5px #000 solid;
  border-left: 4px rgba(0,0,0,0) solid;
  border-right: 4px rgba(0,0,0,0) solid;
  margin-top: -2px;
    
  &-up {
    transform: rotate(180deg);
  }
}

.btn-wIcon {
  line-height: 18px;
  font-size: 14px;
  .f-os-sb;
    
  .icon { 
    margin: 2px 6px 0 4px;
    float: left;
  }
}


// TABS
.nav {
  &-tabs {
    .menu;
    
    li {
      display: inline-block;
      font-size: 18px;
      padding: 0 20px;
      line-height: 33px;
      border-radius: 16px;
      position: relative;
      
      a {
        .blue-dash;
      }
      
      &.active {
        border: none;
        background: @tabsBackground;
        
        &:after {
          content: "";
          border-top: 9px @tabsBackground solid;
          border-left: 7px rgba(0,0,0,0) solid;
          border-right: 7px rgba(0,0,0,0) solid;
          position: absolute;
          left: 50%;
          top: 100%;
          margin-left: -7px;
          
        }
        a {
          border-bottom-width: 0;
          color: #fff;
        }
      }
    }
  }
}

.sideFact {
  color: #9c9c9c;
  font-size: 12px;
  line-height: 20px;
  img {
    margin-bottom: 20px;
    display: block;
    @media (max-width: ((@screen-xs)-1)) {
      margin: 0 auto 10px;
    }
  }
  @media (max-width: ((@screen-xs)-1)) {
    display: block;
    margin: 20px auto;
    min-width: 320px;
    text-align: center;
  }
  @media (min-width: @screen-xs) {
    float: right;
    width: 17%;
    margin: 70px 3% 70px 8%;
  }
}

.centerFact {
  margin: 30px 0;
  &:before,
  &:after {
    content: "";
    width: 60px;
    height: 4px;
    background: @tabsBackground;
    display: block;
  }
  &:before {
    margin: 0 auto 20px;
  }
  &:after {
    margin: 20px auto 0;
  }
}

.article {
  font-size: 16px;
  line-height: 28px;
  > p {
    // depends on .sideFact
    @media (min-width: @screen-xs) {
      margin-right: 20%;
    }
  }
}