.content {
  &-col {
    @media (min-width: @screen-md) {
      padding-right: @grid-gutter-width*2;
      padding-bottom: @grid-gutter-width;
    }
    font-size: 16px;
    line-height: 28px;
  }
  &-aside {
  }
  
  &-video {
    &-half {
      margin: 15px 0;
      .clearfix();
      clear: right;
      @media (min-width: @screen-md) {
        float: left;
        width: 46%;
        & + & {
          float: right;
        }
      }
      
      iframe {
        max-width: 100%;
      }
    }
  }
  
}

#map {
  width: 100%;
  height: 300px;
}

table.striped {
  font-size: inherit;
  margin: (@grid-gutter-width / 2) 0;
  tbody {
    tr:nth-child(even) {
      background: #fff;
    }
    tr:nth-child(odd) {
      background: #f7f7f7;
    }
  }
  th {
    .f-os-b;
    font-weight: 500;
  }
  th,td {
    padding: 5px 15px;
  }
}

.dot {
  &-blue {
    background: @blue-wave-link;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
}


.oldmobile {
  position: relative;
  
  &-callOrderInfo {
    padding-top: 85px;
    background: url("../images/_oldmobile_phone_large.png") no-repeat 50% 0;
    text-align: center;
    
    p {
      color: #a2a2a2;
      font-style: italic;
      line-height: 21px;
    }
    
    &-payments {
      ul {
        .menu;
        li {
          margin: 7px 0;
          &:before {
            content: "—";
            margin-right: 6px;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }
    
  }
  &-deliveryInfo {
    background: @dataBackground-darken;
    margin: 15px -@grid-gutter-width/2;
    padding: 20px 20px 40px;
    text-align: center;
    
    ul {
      .menu;
      .clearfix();
      li {
        float: left;
        width: 33.3%;
        text-align: center;
        font-size: 12px;
        padding: 0 15px;
        img {
          display: block;
          margin: 15px auto 0;
        }
      }
    }
  }
  
  &-button {
    margin: -40px 0 40px;
    text-align: center;
    
    &-phones {
      p {
        margin: 10px 0 5px;
        line-height: 180%;
        color: #666;
        
        span {
          font-size: 32px;
          font-weight: 700;
          color: black;
        }
      }
    }
    
  }
  
  &-additional {
    background: @blue-dark;
    margin: 0 -@grid-gutter-width/2 0;
    padding: @grid-gutter-width/2;
    text-align: center;
    
    * {
      color: #fff;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
    
    ul {
      .menu;
      letter-spacing: -0.4em;
      
      li {
        display: inline-block;
        vertical-align: top;
        letter-spacing: 0;
        width: 50%;
        padding: 20px 0;
      }
      
      
    }
    @iconW: 80px;
    &-icon {
      display: inline-block;
      width: @iconW;
      height: @iconW;
      line-height: @iconW;
      border-radius: @iconW/2;
      background: @brand-primary;
      margin-bottom: 5px;
    }
    &-caption {
      .f-os-b;
      font-size: 12px;
    }
  }
}

.oldModal {
  display: none;
  @oldModalPadding: 23px;
  
  &.opened {
    display: block;
  }
  
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
  text-align: center;
  padding: @oldModalPadding;
    
  &-close {
    position: absolute;
    right: @oldModalPadding;
    top: @oldModalPadding;
  }
    
  &-header {
    .clearfix();
    margin-bottom: 50px;
    &-logo {
      float: left;
    }
  }
  
  &-content {
    &-choice {
      position:relative;
      padding: 0;
      &:after {
        display: block;
        content: "ИЛИ";
        background: url("../images/_oldmobile_sectionBorder.png") no-repeat 50% 50%;
        width: 231px;
        font-size: 17px;
        .f-os-sb;
        color: #bcbcbc;
        margin: 40px auto;
      }
      &:last-child {
        &:after {
          content: "";
        }
      }
    }
    h1 {
      font-size: 28px;
      .f-os-sb;
      padding: 0 20px;
      margin: 0 0 20px;
    }
    h2 {
      font-size: 17px;
      .f-os-sb;
      margin-bottom: 15px;
    }
    p {
      .f-os-i;
      color: #a2a2a2;
      font-size: 14px;
    }
    .form-control[type="text"] {
      background: #f6f6f6;
      font-size: 18px;
      border-width: 0;
      height: 48px;
      margin: 15px 0;
      border-radius: 24px;
    }
    .btn {
      padding-left: 30px;
      padding-right: 30px;
      .f-os-sb;
      font-size: 16px;
      
      .icon {
        margin-right: 4px;
      }
      &-lg {
        width: 100%;
        padding-top: 13px;
        padding-bottom: 13px;
      }
    }
  }
    
}