.findForm {
  @media screen and (min-width: @screen-md) {
    //height: 360px;
  }
  background: #313140 url("../images/train.jpg") no-repeat 50% 50%;
  background-size: cover;
  .text-center;
  padding: 34px 0 24px;
  color: #fff;
  margin-bottom: 55px;
  
  .h1 {
    color: #fff;
    @media screen and (min-width: @screen-md) {
      position: relative;
      display: table;
      margin: 0 auto @grid-gutter-width/2;
    }
    @media screen and (max-width: @screen-sm-max) {
      font-size: 24px;
      
      .oldmobile & {
        font-size: 32px;
        .f-os-sb;
      }
    }
    .baloon {
      .hidden-xs;
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
  
  &-target {
    letter-spacing: -0.4em;
    line-height: @input-height-large;
    label {
      letter-spacing: 0;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 2;
      
      &.ui-autocomplete-open {
        z-index: 3;
      }
      
      @media screen and (min-width: @screen-sm) {
        width: 47%;
      }
      @media screen and (max-width: @screen-xs-max) and (min-width: @screen-xs) {
        width: 45%;
      }
      @media screen and (max-width: ((@screen-xs)-1)) {
        width: 100%;
        margin-bottom: 3%;
        &:last-child {
          margin-bottom: 4%;
        }
      }
      
      input {
        width: 100%;
      }
    }
    &-swap {
      display: inline-block;
      vertical-align: middle;
      line-height: @input-height-large;
      cursor: pointer;
      
      .icon {
        vertical-align: middle;
      }
      
      @media screen and (min-width: @screen-sm) {
        width: 6%;
      }
      @media screen and (max-width: @screen-xs-max) and (min-width: @screen-xs) {
        width: 10%;
      }
      @media screen and (max-width: ((@screen-xs)-1)) {
        width: 20%;
        display: none;
      }
      text-align: center;
    }
    &-map {
      position: absolute;
      right: 20px;
      top: 15px;
      cursor: pointer;
    }
  }
  
  &-date {
    label,
    &-container {
      display: inline-block;
      vertical-align: top;
      @media screen and (min-width: @screen-sm) {
        width: 30%;
        margin: 0 3%;
      }
      @media screen and (max-width: ((@screen-xs)-1)) {
        width: 100%;
        margin-bottom: 3%;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media screen  and (min-width: @screen-xs) and (max-width: @screen-xs-max) {
        &:first-child {
          margin: 0 3% 0 0;
        }
        &:last-child {
          margin: 0 0 0 3%;
        }
        width: 44%;
      }
      position: relative;
      
      .icon {
        position: absolute;
        top: 12px;
        cursor: pointer;
        
        &-clock {
          right: 40px;
        }
        &-calendar {
          right: 18px;
        }
      }
    }
    &-oneWay {
      margin: 10px 0 !important;
      padding-left: 10px;
      display: block !important;
      text-align: left;
      width: 100% !important;
      input[type='checkbox'] {
        margin: 0 5px 0 0;
      }
      span {
        font-weight: 300;
        color: rgba(255,255,255,0.8);
        
      }
    }
  }
  
  &-submit {
    position: relative;
    display: table;
    margin: @grid-gutter-width auto @grid-gutter-width*1.5;
    @media screen and (max-width: ((@screen-xs)-1)) {
      display: block;
    }
    
    .btn {
      line-height: 36px;
      border-radius: 28px;
      font-size: 22px;
      padding-left: 40px;
      padding-right: 40px;
      
      @media screen and (max-width: ((@screen-xs)-1)) {
        width: 100%;
      }
      
      .icon {
        margin-right: 10px;
      }
      
      .oldmobile & {
        @media screen and (max-width: 360px) {
          font-size: 18px;
        }
      }
    }
    
    &-popular {
      .hidden-xs;
      .hidden-sm;
      position: absolute;
      left: 110%;
      top: 0;
      text-align: left;
      white-space: nowrap;
      text-decoration: none !important;
      
      .icon {
        float: left;
        margin-right: 7px;
      }
      span {
        .white-dash;
        color: @gray-lighter;
      }
    }
  }
  
  &-feature {
    .hidden-xs;
    .hidden-sm;
    text-align: left;
    
    > span {
      color: @gray-lighter;
      white-space: nowrap;
    }
    .icon {
      float: left;
      margin-right: 10px;
    }
  }
  
  &-counter {
    .hidden-xs;
    .hidden-sm;
    &-digits {
      > span {
        display: inline-block;
        background: #5e5d6d;
        width: 25px;
        height: 37px;
        line-height: 37px;
        font-size: 32px;
        .f-os-sb;
      }
    }
    > span {
      font-size: 12px;
      white-space: nowrap;
      color: @gray-lighter;
    }
  }
  
  /* Inner page */ 
  
  @heightFormInner: 36px;
  
  &-inner {
    height: auto;
    padding: 10px 0;
    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }
     
    form {
      letter-spacing: -0.4em;
      margin: 15px 0;
    }
     
    .h2 {
      color: #868790;
      margin: 0;
    }
    .form-group {
      @media (min-width: @screen-md) {
        display: inline-block;
        height: @heightFormInner;
      }
      letter-spacing: 0;
      margin: 0;
      vertical-align: top;
    }
  }
  &-inner &-target {
    @media (min-width: @screen-md) {
      width: 45%;
    }
    @media (max-width: @screen-sm-max) {
      position: relative;
      padding-right: 40px;
    }
    &-map {
      right: 15px;
      top: 8px;
    }
    &-swap {
      line-height: @heightFormInner;
      vertical-align: top;
      @media (max-width: @screen-sm-max) {
        position: absolute;
        right: 0;
        top: 20px;
        width: 36px;
      }
    }
    label {
      @media (min-width: @screen-xs) {
        width: 45%;
      }
      @media (max-width: @screen-sm-max) {
        width: 100%;
      }
      margin: 0;
      vertical-align: top;
    }
  }
  &-inner &-date {
    @media (min-width: @screen-md) {
      width: 45%;
    }
    label {
      @media (min-width: @screen-xs) {
        width: 45%;
        margin: 0 2%;
      }
      @media (max-width: @screen-sm-max) {
        width: 100%;
        margin: 5px 0;
      }
    }
  }
  &-inner &-submit {
    @media (min-width: @screen-xs) {
      width: 10%;
    }
    @media (max-width: @screen-sm-max) {
      width: 100%;
    }
    
    button {
      height: @heightFormInner;
      line-height: @heightFormInner;
      padding: 0 15px;
      font-size: 14px;
      
      @media (min-width: @screen-xs) {
        width: 98%;
        margin: 0 0 0 2%;
      }
      @media (max-width: @screen-sm-max) {
        width: 100%;
        margin: 5px 0;
      }
      
      .fa {
        margin-right: 6px;
      }
    }
  }

  &-features {
    font-size: 12px;
    padding: 10px 0 0 20px;
    ul {
      .menu;
      letter-spacing: 0;
      text-align: left;
      line-height: 130%;
    }
  }
  
  
}