.firmTrain {
  @sheduleBackground: #faf9f5;

  margin-bottom: @grid-gutter-width;
  
  &-search {
    &-query {
      padding-right: @grid-gutter-width/2;
      width: 60%;
      float: left;
      .form-control {
        width: 100%;
      }
    }
    &-submit {
      float: left;
      button {
        width: 110px;
      }
      .icon {
        margin-right: 6px;
      }
    }
  }
  &-list {
    clear: both;
    padding-top: @grid-gutter-width;
    
    &-header {
      font-size: 20px;
      margin-bottom: 15px;
      
      &-sortLink {
        &:after {
          content: "";
          display: inline-block;
          margin-left: 6px;
          border-top: #96b3c5 9px solid;
          border-left: rgba(0,0,0,0) 6px solid;
          border-right: rgba(0,0,0,0) 6px solid;
        }
      }
      &-sortLink-up {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
    &-item {
      padding: 8px 0;
      &:nth-child(odd) {
        background: #f7f7f7;
      }
    }
  }  
  &-buyBlock {
    font-size: 12px;
    .pull-right;
    line-height: 44px;
    .text-center;
    
    a {
      display: inline-block;
    }
    .icon {
      margin-right: 4px;
    }
    
    @media (min-width: @screen-lg) {
      width: 20%;
    }
    
    .btn {
      font-size: 16px;
      width: 100%;
    }
    .icon {
      vertical-align: middle;
    }
  }
 
  &-page {
    display: none;
    padding: @grid-gutter-width 0;
    .article;
    
    &.active {
      display: block;
    }
      
    figure {
      margin: @grid-gutter-width auto;
      text-align: center;
      
      figcaption {
        font-size: 14px;
        color: #ababab;
        padding: 15px 0 0;
        max-width: 60%;
        margin: 0 auto;
      }
    }
    
    h1, h2, h3 {
      margin-top: @grid-gutter-width;
    }
    
    &-info {
      &-data {
        display: inline-block;
        font-size: 16px;
        margin-right: 20px;
        span {
          .f-os-sb;
        }
      }
      &-tag {
        display: inline-block;
        margin-right: 20px;
        a {
          font-size: 8px;
          color: #fff;
          background: @tabsBackground;
          display: inline-block;
          padding: 0 6px;
          line-height: 15px;
          text-transform: uppercase;
          letter-spacing: 2px;
          border-radius: 3px;
        }
      }
    }
    &-shedule {
      margin: @grid-gutter-width 0;
      padding: 15px 0;
      border-radius: 13px;
      background: @sheduleBackground url("../images/dot.png") repeat-x 0 36px;
      .clearfix();
      text-align: center;
      
      &-depart {
        float: left;
        text-align: left;
        span {
          padding-left: 25px;
          padding-right: 20px;
        }
      }
      &-arrive {
        float: right;
        text-align: right;
        span {
          padding-right: 25px;
          padding-left: 20px;
        }
      }
      
      &-depart,
      &-arrive {
        font-size: 16px;
        span {
          display: block;
          &:first-child {
            font-size: 26px;
            .f-os-sb;
            background: @sheduleBackground;
            display: inline-block;
          }
        }
      }
      &-total {
        display: inline-block;
        font-size: 21px;
        background: @sheduleBackground;
        padding: 5px 20px;
      }
    }
    
    &-map {
      text-align: center;
      margin: @grid-gutter-width 0;
      .btn {
        margin-top: -16px;
        padding-left: 15px;
        padding-right: 15px;
        .icon {
          margin-right: 5px;
          vertical-align: middle;
        }
      }
      img {
        max-width: 100%;
      }
    }
    
    &-fact {
      .sideFact;
    }
    
    &-yearShedule {
      background: @sheduleBackground;
      border-radius: 7px;
      overflow-x: auto;
      padding: 15px 30px;
      table {
        width: 100%;
        td, th {
          padding: 5px 8px;
          .f-os-reg;
          font-weight: 500;
        }
      }
    }
   
    &-calendar {
      .ui-widget-content {
        border-width: 0;
      }
      .ui-datepicker {
        width: 100% !important;
        &-group {
          width: 28%;
          margin-right: 8%;
          
          &-last {
            margin-right: 0;
          }
        }
        &-calendar {
          font-size: 16px;
        }
      }
    }
   
    &-form {
      padding: 15px 30px;
    }
   
  }
  
}