.footer {
  background: #2c2b3c url("../images/footer-background.jpg") no-repeat 50% 50%;
  background-size: cover;
  min-height: 317px;
  padding: 30px 0;

  .oldmobile & {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    * {
      color: #fff;
    }
    .btn {
      width: 100%;
      .icon {
        margin-right: 5px;
      }
    }
  }
  
  &-logo {
    
    a {
      color: #96b3c5;
      font-size: 12px;
      text-decoration: none;
    }

    img,
    span {
      display: block;
      margin-bottom: 10px;
    }
  }
  
  &-links {
    letter-spacing: 5px;
    a {
      display: inline-block;
      background: @blue-wave;
      width: 26px;
      height: 26px;
      line-height: 26px;
      border-radius: 13px;
      text-align: center;
    }
    @media screen and (max-width: @screen-xs-max) {
      margin-bottom: @grid-gutter-width;
    }
  }
  
  &-nav {
    a {
      float: left;
      clear: left;
      text-decoration: underline;
    }
    &-col1 {
      .clearfix();
      font-size: 18px;
      @media screen and (max-width: @screen-xs-max) {
        margin-bottom: @grid-gutter-width;
      }
      a {
        margin: 0 0 12px 0;
      }
    }
    &-col2 {
      .clearfix();
      font-size: 12px;
      @media screen and (max-width: @screen-xs-max) {
        margin-bottom: @grid-gutter-width;
      }
      a {
        color: @white;
        margin: 5px 0 8px 0;
      }
    }
  }
  
  &-contacts {
    color: #96b3c5;
    font-size: 11px;
    padding-top: 7px;
    
    &-phone {
      margin: 10px 0;
      span {
        .f-os-b;
        font-size: 22px;
        color: #fff;
        display: block;
        line-height: 25px;
      }
    }
    .btn {
      margin-top: 10px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    
  }
  
}

