.dot {
  @media screen and (max-width: @screen-sm-max) {
    display: none;
  }
  @media screen and (min-width: @screen-md) {
    color: #cac9c0;
    font-size: 16px;
  }
}

ul {
  .menu;
}

@media screen and (max-width: @screen-sm-max) {
  &-opened & {
    display: block !important;
    position: absolute;
    right: 0;
    top: 45px;
    max-width: 100%;
    padding: @grid-gutter-width/2;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: @border-radius-base 0 0 @border-radius-base;
    
    a {
      color: @blue-dark;
      display: inline-block;
      padding: 3px 0;
    }
    
    &-level {
      &-0 {
        font-size: 18px;
      }
      &-1 {
        font-size: 16px;
        padding: 5px 0 @grid-gutter-width/2 @grid-gutter-width/2;
      }
    }
  }
}

@media screen and (min-width: @screen-md) {

ul {
  text-align: justify;
  height: 57px;
  
  > li {
    display: inline-block;
    position: relative;
    &:hover {
      > ul {
        display: block;
      }
    }
    
    
    > a {
      .f-os-sb;
      font-size: 16px;
      line-height: 57px;
      padding: 20px 0;
      position: relative;
      z-index: 5;
    }
    > ul {
      display: none;
      position: absolute;
      z-index: 4;
      left: -20px;
      top: 0;
      padding: 57px 20px 10px 20px;
      background: @white;
      box-shadow: 0 0 40px rgba(0,0,0,0.2);
      height: auto;
      min-width: 120%;
      
      &:after {
        display: none;
      }
      
      > li {
        display: block;
        margin: 0 -20px;
        
        > a {
          .f-os-reg;
          font-size: 14px;
          display: block;
          line-height: 18px;
          padding: 8px 20px;
          width: 100%;
          
          &:hover {
            background: @blue-wave;
            color: @white;
            text-decoration: none;
          }
          
        }
      }
    }
  }
  
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height : 0;
    line-height: 0;
  }
  
}

}