.header {
  &-black {
  
    background: @blue-dark;
    .clearfix();
    
    // old mobile specific
    &-logo {
      .pull-left;
      color: #fff;
      padding: 10px 0 15px;
      span {
        opacity: 0.3;
        font-size: 10px;
        .f-os-sb;
        display: block;
        margin: 5px 0 0;
      }
    }
    &-callback {
      .pull-right;
      margin: 20px 0 15px;
      text-align: center;
      
      img {
        max-width: 37px;
        margin-bottom: 4px;
      }
      
      span {
        display: block;
        color: white;
      }
      
    }
    
    &-nav {
      @media screen and (min-width: @screen-md) {
        float: left;
      }
      @media screen and (max-width: @screen-sm-max) {
        float: right;
      }
      a {
        @media screen and (min-width: @screen-md) {
          display: inline-block;
          float: left;
          color: #fff;
          font-size: 12px;
          .f-os-sb;
          line-height: 41px;
          padding: 0 @grid-gutter-width/2;
        
          &:hover {
            background: @blue-wave;
            text-decoration: none;
          }
        }
        @media screen and (max-width: @screen-sm-max) {
          display: block;
          color: @blue-dark;
          font-size: 14px;
          padding: 3px 0;
        }
      }
      
      &-headerGrayLink {
        float: right;
        margin: 10px 0 0 @grid-gutter-width/2;
      }
      &-link {
        float: right;
        margin: 10px 0 0 @grid-gutter-width/2;
      }
      
      &-opened &-wrapper {
        @media screen and (max-width: @screen-sm-max) {
          display: block !important;
          position: absolute;
          right: 0;
          max-width: 100%;
          top: 45px;
          padding: @grid-gutter-width/2;
          z-index: 10;
          background: @white;
          box-shadow: 0 5px 10px rgba(0,0,0,0.5);
          border-radius: @border-radius-base 0 0 @border-radius-base;
        }
      }
      
    }
    
    &-auth {
      float: right;
      a {
        line-height: 41px;
        font-size: 12px;
        .f-os-sb;
        &:hover {
          text-decoration: none;
          color: @blue-wave;
          span {
            .blue-dash;
          }
        }
        span {
          margin-left: 5px;
        }
      }
    }
    
  }
  &-white {
    &-logo {
      a {
        &:hover {
          text-decoration: none;
        }
      }
      img {
        margin: 15px 0 5px;
      }
      span {
        display: block;
        color: #96b3c5;
        font-size: 12px;
        margin-bottom: 20px;
      }
      
      @media (min-width: @screen-md) {
        width: 20%;
        float: left;
      }
      
    }
    &-contact {
      padding: 20px 0 0;
      @media (min-width: @screen-md) {
        width: 20%;
        float: left;
      }
      .f-os-sb;
      &-number {
        display: block;
        @media (min-width: @screen-lg) {
          font-size: 22px;
        }
        @media (max-width: @screen-md-max) {
          font-size: 20px;
        }
        .f-os-b;
      }
      &-callback {
        font-size: 12px;
        color: @blue-wave;
        cursor: pointer;
        margin: 5px 0;
        .f-os-reg;
         span {
           margin-left: 5px;
          .blue-dash;
         }
      }
    }
    &-24hour {
      text-align: right;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: 10px;
      
      .icon {
        float: right;
        margin: 0 0 0 15px;
      }
      
    }
  }
  &-gray {
    background: @gray-lighter;
    
    @import "header-nav.less";
    
  }
}