.tales {
  margin-bottom: @grid-gutter-width;
  &-item {
    margin-bottom: @grid-gutter-width;
    display: block;
    width: 100%;
    position: relative;
    
    img {
      border-radius: 5px;
    }
    
    &-title {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 10px 15px;
      margin: 0;
      .f-os-b;
      font-size: 16px;
      color: #fff;
    }
  }
}

.steps {
  &-item {
    text-align: center;
    margin: 40px 0;
    position: relative;
    
    @media screen and (min-width: @screen-md) {
      &:after {
        content: "";
        position: absolute;
        left: 96%;
        top: 60px;
        border-left: 17px #bfbfc4 solid;
        border-top: 20px rgba(0,0,0,0) solid;
        border-bottom: 20px rgba(0,0,0,0) solid;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    
    &-title {
      .f-os-b;
      font-size: 20px;
      margin: 17px 0 8px;
    }
    &-subTitle {
      .f-os-sb;
      font-size: 18px;
      opacity: 0.5;
      margin: 8px 0;
    }
    
  }
}


.offers {
  clear: both;
  
  h1 {
    
  }
  &-item {
    .clearfix();
    padding: @grid-gutter-width/2 0;
    
    &-image {
      @media screen and (min-width: @screen-xs) {
        float: left;
        margin: 7px @grid-gutter-width 0 0;
        maz-width: 50%;
      }
      @media screen and (max-width: ((@screen-xs)-1)) {
        margin: 0 0 @grid-gutter-width/3 0;
      }
    }
    &-text {
      overflow: hidden;
      text-align: left;
      
      &-title {
        margin: 0 0 8px;
        font-size: 18px;
        a {
          text-decoration: underline;
        }
      }
      &-description {
        line-height: 1.6em;
      }
    }
  }
}

.services {
  &-item {
    position: relative;
    display: block;
    margin-top: 10px;
    
    > span {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      .f-os-b;
      color: #fff;
      padding: 6px 40px;
      font-size: 16px;
    }
  }
  &-text {
    margin: 0 auto;
    max-width: 800px;
    font-size: 16px;
    line-height: 28px;
    padding: 30px 0;
  }
}



.videos {
  padding: 50px 0;
  &-list {
    padding: @grid-gutter-width/2 0 @grid-gutter-width;
    .clearfix();
    
    &-item {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      a {
        display: block;
        padding-top: 50px;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
      }
    }
  }
}

.index {
  padding: 50px 0;
  &-list {
    padding: @grid-gutter-width/2 0 @grid-gutter-width;
    &-item {
      text-align: left;
      
      h4 {
        .f-os-sb;
        
        a {
          text-decoration: underline;
        }
      }
      &-text {
        .f-os-reg;
        line-height: 23px;
      }
      &-date {
        .f-os-sb;
        font-size: 10px;
        color: #b1aea0;
        letter-spacing: 1px;
        text-transform: uppercase;
        
        .icon {
          float: left;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}