.icon {
  display: inline-block;
  &:before {
    content: "";
    float: left;
    background: url("../images/icons.png");
    width: 100%;
    height: 100%;
  }
  
  &-bigStar {
    width: 45px;
    height: 42px;
    &:before {
      background-position: 0 0;
    }
  }
  
  &-hour24 {
    width: 52px;
    height: 49px;
    &:before {
      background-position: 0 -47px;
    }
    
    &-black {
      width: 52px;
      height: 49px;
      &:before {
        background-position: -60px -47px;
      }
    }
    
  }
  
  &-pay {
    width: 48px;
    height: 45px;
    &:before {
      background-position: 0 -101px;
    }
  }
  
  &-calendar {
    width: 13px;
    height: 10px;
    &:before {
      background-position: -1px -151px;
    }
    
    &-large {
      width: 26px;
      height: 20px;
      &:before {
        background-position: -49px -147px;
      }
    }
  }
  
  &-clock {
    width: 15px;
    height: 13px;
    &:before {
      background-position: 0 -163px;
    }
  }
  &-clock-blue {
    width: 13px;
    height: 13px;
    &:before {
      background-position: -17px -163px;
    }
  }
  
  &-clock-2 {
    width: 13px;
    height: 13px;
    &:before {
      background-position: 0px -355px;
    }
  }
  
  &-place {
    width: 15px;
    height: 18px;
    &:before {
      background-position: 0 -252px;
    }
    
    &-less {
      width: 12px;
      height: 17px;
      &:before {
        background-position: -19px -252px;
      }
    }
    
    &-blue {
      width: 9px;
      height: 13px;
      &:before {
        background-position: -35px -252px;
      }
    }
    
    &-white {
      width: 13px;
      height: 19px;
      &:before {
        background-position: -49px -252px;
      }
    }
  }
  
  &-bus {
    width: 14px;
    height: 15px;
    &:before {
      background-position: 0 -185px;
    }
    &-blue {
      &:before {
        background-position: -19px -185px;
      }
    }
    &-white {
      &:before {
        background-position: 0 -185px;
      }
    }
  }
  
  &-train {
    width: 11px;
    height: 18px;
    &:before {
      background-position: 0px -206px;
    }
    &-blue {
      &:before {
        background-position: -21px -206px;
      }
    }
    &-white {
      &:before {
        background-position: 0 -206px;
      }
    }
    &-black-large {
      width: 15px;
      height: 23px;
      &:before {
        background-position: -40px -201px;
      }
    }
  }
  
  &-plain {
    width: 29px;
    height: 14px;
    &:before {
      background-position: 0px -232px;
    }
    &-blue {
      &:before {
        background-position: -33px -232px;
      }
    }
    &-white {
      &:before {
        background-position: 0 -232px;
      }
    }
  }
 
  &-star {
    width: 10px;
    height: 10px;
    &:before {
      background-position: 0px -274px;
    }
    &-gray {
      &:before {
        background-position: -14px -274px;
      }
    }
    &-black {
      &:before {
        background-position: -27px -274px;
      }
    }
    
    &-lg-blue {
      width: 31px;
      height: 30px;
      &:before {
        background-position: -60px -270px;
      }
    }
    &-lg-gray {
      width: 31px;
      height: 30px;
      &:before {
        background-position: -102px -270px;
      }
    }
    
  }
  
  &-play {
    width: 57px;
    height: 57px;
    &:before {
      background-position: 0px -288px;
    }
  }
 
  &-vk {
    width: 15px;
    height: 9px;
    &:before {
      background-position: 0px -378px;
    }
  }
  &-facebook {
    width: 7px;
    height: 13px;
    &:before {
      background-position: -19px -378px;
    }
  }
  &-twitter {
    width: 11px;
    height: 10px;
    &:before {
      background-position: -31px -378px;
    }
  }
  
  &-i {
    width: 10px;
    height: 24px;
    &:before {
      background-position: 0 -418px;
    }
  }
  
  &-user {
    width: 12px;
    height: 14px;
    &:before {
      background-position: 0 -396px;
    }
  }
  
  &-bars {
    width: 24px;
    height: 18px;
    &:before {
      background-position: 0 -454px;
    }
    
    &-blue {
      width: 20px;
      height: 15px;
      &:before {
        background-position: -38px -454px;
      }
    }
    
    &-sm {
      width: 17px;
      height: 12px;
      &:before {
        background-position: -62px -454px;
      }
    }
  }
  
  &-refresh {
    width: 25px;
    height: 25px;
    &:before {
      background-position: 0 -479px;
    }
    &-less {
      width: 19px;
      height: 19px;
      &:before {
        background-position: -27px -479px;
      }
    }
    &-small-blue {
      width: 13px;
      height: 13px;
      &:before {
        background-position: -50px -479px;
      }
    }
  }
  
  
  &-firm {
    width: 17px;
    height: 16px;
    &:before {
      background-position: -0px -511px;
    }
    &-white {
      width: 15px;
      height: 14px;
      &:before {
        background-position: -18px -511px;
      }
    }
    &-gray {
      width: 17px;
      height: 16px;
      &:before {
        background-position: -36px -511px;
      }
    }
  }
  
  &-sapsan {
    width: 26px;
    height: 17px;
    &:before {
      background-position: -0px -531px;
    }
  }
  
  &-search {
    width: 14px;
    height: 14px;
    &:before {
      background-position: -0px -555px;
    }
  }
  
  &-buy {
    width: 21px;
    height: 21px;
    &:before {
      background-position: -0px -577px;
    }
    &-small {
      width: 14px;
      height: 14px;
      &:before {
        background-position: -27px -577px;
      }
    }
  }
 
  &-filter {
    width: 13px;
    height: 12px;
    &:before {
      background-position: 0 -606px;
    }
  }
  
  &-e {
    width: 16px;
    height: 16px;
    &:before {
      background-position: 0 -624px;
    }
    &-green {
      width: 18px;
      height: 18px;
      &:before {
        background-position: -18px -624px;
      }
    }
  }
  
  &-border {
    width: 15px;
    height: 16px;
    &:before {
      background-position: 0 -646px;
    }
  }
  &-wifi {
    width: 19px;
    height: 14px;
    &:before {
      background-position: 0 -666px;
    }
  }
 
  &-close {
    width: 14px;
    height: 13px;
    &:before {
      background-position: 0 -684px;
    }
    &-bold {
      width: 14px;
      height: 14px;
      &:before {
        background-position: -14px -682px;
      }
    }
    &-black {
      width: 14px;
      height: 14px;
      &:before {
        background-position: -29px -682px;
      }
    }
    &-large-blue {
      width: 25px;
      height: 24px;
      &:before {
        background-position: -42px -682px;
      }
    }
  }
  
  &-plus {
    width: 16px;
    height: 17px;
    &:before {
      background-position: 0 -698px;
    }
  }
 
  &-arrow {
    &-left {
      width: 19px;
      height: 34px;
      &:before {
        background-position: 0 -718px;
      }
    }
    &-right {
      width: 19px;
      height: 34px;
      &:before {
        background-position: -19px -718px;
      }
    }
    /* black arrow */
    &-forward {
      width: 16px;
      height: 7px;
      &:before {
        background-position: 0 -776px;
      }
    }
    &-rotate {
      width: 18px;
      height: 13px;
      &:before {
        background-position: -23px -776px;
      }
    }
  }
 
  &-logout {
    width: 10px;
    height: 14px;
    &:before {
      background-position: 0 -757px;
    }
  }
  
  &-print {
    width: 15px;
    height: 14px;
    &:before {
      background-position: 0 -787px;
    }
  }
 
  &-call {
    width: 16px;
    height: 16px;
    &:before {
      background-position: 0 -807px;
    }
  }
  
  &-desktop {
    width: 20px;
    height: 17px;
    &:before {
      background-position: 0 -825px;
    }
  }
  
  &-pen {
    width: 20px;
    height: 20px;
    &:before {
      background-position: 0 -848px;
    }
  }
  
  &-courier {
    width: 44px;
    height: 33px;
    &:before {
      background-position: 0 -875px;
    }
  }
  
  &-email {
    width: 28px;
    height: 27px;
    &:before {
      background-position: 0 -916px;
    }
  }
  
  &-office {
    width: 36px;
    height: 32px;
    &:before {
      background-position: 0 -952px;
    }
  }
 
}