#loading {

  @media (max-width: @screen-xs-max) {
    text-align: center;
  }

  .modal-header {
    .fa {
      float: left;
      font-size: 48px;
      color: @blue-wave;
      margin: 10px 20px 0 0;
    }
    .h3, .p {
      margin: 0 0 0 60px;
    }
  }
  
  .modal-body {  
    background: white;
    .h3, .h4, .h5 {
      display: inline;
      font-size: inherit;
      margin: 0;
    }
    img {
      max-width: 80%;
      margin-bottom: 30px;
    }
  }
  
}