.modal {
  &-callBack {
    .clearfix();
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    
    .form-horizontal {
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
      
      label {
        text-align: left;
        padding-top: 6px;
      }
    }
    .form-submit {
      .btn {
        width: 200px;
      }
    }
  }
  
  &-leaveReview {
    padding-left: 40px;
    padding-right: 40px;
    .clearfix();
    
    label {
      text-align: left;
    }
    .form-control-short {
      @media (min-width: @screen-md) {
        width: 70%;
      }
    }
    .btn {
      width: 200px;
    }
  }
  .leaveReview-rating {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px 0 0;
  }
  .leaveReview-rating-item {
    &:hover,
    &.selected {
      text-decoration: none;
      .icon {
        &:before {
          background-position: -60px -270px;
        }
      }
    }
  }  
}