.news {
  &-month {
    font-size: 28px;
    color: #dedede;
  }
  &-list {
    &-item {
      font-size: 14px;
      margin: 20px 0;
      line-height: 24px;
      
      
      &-date {
        color: #b1aea0;
        font-size: 10px;
        text-transform: uppercase;
        span {
          line-height: 13px;
          display: inline-block;
          vertical-align: middle;
        }
        .icon {
          margin-right: 5px;
          vertical-align: middle;
        }
      }
      
      &-text {
      }
      
      h4 {
        margin: 7px 0;
      }
    }
  }
}