.notFound {
  background: rgba(0,0,0,0.8) url("../images/404.jpg") no-repeat 50% 50%;
  background-position: cover;
  text-align: center;
  color: white;
  
  &-logo {
    @media (min-width: 1024px) {
      padding: 7vh 0;
    }
    @media (max-width: 1023px) {
      padding: 20px 0;
    }
  }
  
  
  &-title {
    @media (min-width: 1024px) {
      font-size: 4vh;
    }
    > span {
      @media (min-width: 1024px) {
        font-size: 43vh;
      }
      @media (max-width: 1023px) {
        font-size: 100px;
      }
      display: block;
      .f-os-sb;
      line-height: 100%;
    }
  }
  
  &-text {
    @media (min-width: 1024px) {
      padding: 4vh 0 0;
      font-size: 3vh;
    }
    @media (max-width: 1023px) {
      margin-top: 40px;
    }
    max-width: 800px;
    margin: 0 auto;
    color: #c2c2c2;
    
    p { 
      @media (min-width: 1024px) {
        margin: 0 0 2vh;
      }
    }
    
    .btn {
      @media (min-width: 1024px) {
        font-size: 2.5vh;
      }
    }
    
  }
  
}