.orders {
  padding-bottom: 30px;
  &-item {
    background: @gray-lighter;
    padding: 30px 44px;
    border-radius: 11px;
    position: relative;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    
    &-close {
      position: absolute;
      right: 20px;
      top: 15px;
      display: none;
      cursor: pointer;
      
      .opened & {
        display: block;
      }
    }
    
    &-title {
      float: left;
      font-size: 16px;
      .f-os-sb;
      margin-right: 25px;
    }
    &-date {
      color: #96b3c5;
      .f-os-i;
      padding-top: 15px;
    }
    &-route {
      .f-os-sb;
      font-size: 28px;
    }
    &-depart {
      
    }
    
    &-action {
      padding-top: 15px;
      display: none;
      
      .opened & {
        display: block;
      }
      a {
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn {
        .btn-wIcon;
      }
    }
    
    &-showDetails {
      .btn-wIcon;
      margin-top: 15px;
      
      .opened & {
        display: none;
      }
    }
    
    &-ticket {
      display: none;
      .opened & {
        display: block;
      }
    
      background: @gray-lighter;
      &:nth-child(2n) {
        background: #f0efe7;
      }
      margin: 30px -44px -30px;
      padding: 30px 44px;
      position: relative;
      &:last-child {
        border-radius: 0 0 11px 11px;
      }
      
      &-title {
        font-size: 28px;
        color: #b5b3a7;
      }
      &-date {
        color: #96b3c5;
        .f-os-i;
        padding-top: 15px;
      }
      
      &-person {
        .f-os-b;
        padding: 17px 0 15px;
      }
      
      &-action {
      padding-top: 15px;
      
        a {
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
        }
        .btn {
          .btn-wIcon;
        }
      }
    }
    
  }
  
}