.otherForm {
  background: url("../images/train2.jpg") no-repeat 50% 50%;
  background-size: cover;
  margin: 50px 0;
  padding: 40px 0;
  text-align: center;
  
  .nav {
    .menu;
    margin: 30px 0;
    li {
      .menu;
      @media screen and (min-width: @screen-sm) {
        display: inline-block;
      }
      @media screen and (max-width: @screen-xs-max) {
        display: block;
        margin: 10px 0;
      }
      margin: 0 11px;
      a {
        display: block;
        font-size: 18px;
        padding: 0 30px;
        line-height: 30px;
        text-decoration: none !important;
        color: @blue-wave !important;
        transition: backgorund-color 0.5s easy;
        border: 1px @blue-wave solid;
        border-radius: 15px;
        
        .icon {
          margin-right: 5px;
          display: inline-block;
        }
        &:hover {
          background: @white;
        }
        
      }
      &.active {
        a {
          background: #96b3c5;
          border-color: #96b3c5;
          color: @white !important;
        }
      }
    }
  }
  .tab {
    &-pane {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &-tab {
    label,
    .btn {
      width: 100%;
    }
    label {
      position: relative;
      .icon {
        position: absolute;
        right: 17px;
        &-calendar {
          top: 12px;
        }
        &-place {
          top: 8px;
        }
      }
    }
  }
}