.paging {
  a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 3px;
    font-size: 22px;
    .f-os-b;
    
    &.active {
      background: @tabsBackground;
      color: #fff;
    }
  }
}