.profileForm {
  padding: 20px 40px;
  background: @gray-lighter;
  border-radius: 11px;
  margin-bottom: 40px;
  
  &-section {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    
    h2 {
      margin: 10px 0 20px;
    }
  }
  
}