.reviews {
  margin-bottom: 50px;
  &-item {
    text-align: left;
    padding-right: 60px;
    margin: 0 0 @grid-gutter-width;
    
    &-author {
      .f-os-b;
      font-size: 16px;
      
      [type='page'] & {
        @media (min-width: @screen-md) {
          float: left;
          padding: 7px 0;
          margin-right: 20px;
        }
        
      }
      
    }
    &-date {
      float: left;
      color: #c2c2c2;
      margin-right: 15px;
      padding: 7px 0;
    }
    &-rating {
      float: left;
      padding: 7px 0;
    }
    &-text {
      clear: left;
      font-size: 16px;
      line-height: 28px;
    }
  }
  &-write {
    p {
      color: #9c9c9c;
      font-size: 12px;
    }
  }
}