.route {
  &-map {
  }
  &-id {
    font-size: 24px;
    color: #a5a5a5;
  }
  &-buyLink {
    clear: both;
    & + h1 {
      clear: left;
    }
    .icon {
      margin-right: 5px;
    }
    @media (min-width: @screen-md) {
      margin-top: 20px;
      float: right;
    }
    @media (max-width: @screen-sm-max) {
      clear: both;
      display: block;
      margin: 15px 0 5px;
    }
  }
  &-stations {
  
    &-container {
    width: 100%;
    overflow-x: auto;
    margin: 0 -15px 30px;
    }
    
    &-table {
      width: 650px;
      margin: 20px 0;
      border-radius: 12px;
      line-height: 130%;

      &-header {
        @media (min-width: @screen-md) {
          padding: 13px 15px;
        }
        @media (max-width: @screen-sm-max) {
          padding: 13px 10px;
        }
        vertical-align: middle;
        font-weight: 500;
        font-size: 14px;
        .f-os-b;
        > span {
          &:first-child {
            display: inline-block;
          }
        }
        &-caption {
          .f-os-reg;
          font-weight: 500;
          font-size: 12px;
        }
      }
    
      &-item {
        tbody &:nth-child(odd) {
          background: @dataBackground-darken;
        }
        > td {
          @media (min-width: @screen-md) {
            padding: 13px 15px;
          }
          @media (max-width: @screen-sm-max) {
            padding: 13px 10px;
          } 
          vertical-align: middle;
        }
      
        &-time {
          &-caption {
            color: #a5a5a5;
            font-size: 14px;
          }
        }
      }
    }
  }
}