.routePopular {
  &-letters {
  
    @media (max-width: @screen-xs-max) {
      position: relative;
      &:after {
        content: "";
        width: 40px;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
      }
    }
    
    &-inner {
      text-align: justify;
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        line-height: 1px;
      }
      a {
        display: inline-block;
        font-size: 24px;
      }
      
      @media (max-width: @screen-xs-max) {
        overflow-x: scroll;
        padding: 0 0 15px 0;
        white-space: nowrap;       
        
        &:after {
          width: 40px;
        }
      }
    }
  }
  
  &-search {
    margin-bottom: 30px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      margin-top: 15px;
    }
    @media (min-width: @screen-sm) {
      width: 420px;
    }
    .clearfix();
    
    .form-control {
      @media (max-width: @screen-xs-max) {
        width: 240px;
      }
      @media (min-width: @screen-sm) {
        width: 280px;
      }
      float: left;
    }
    .btn {
      @media (max-width: @screen-xs-max) {
        width: 34px;
        padding-left: 0;
        padding-right: 0;
      }
      @media (min-width: @screen-sm) {
        width: 120px;
      }
      float: right;
    }
  }
  
  &-list {
    &-letterSection {
      margin-bottom: 40px;
      
      h3 {
        font-size: 48px;
        font-weight: 400;
        color: #868790;
        .f-os-reg;
      }
      ul {
        .menu;
        font-size: 16px;
        color: #a5a5a5;
        li {
          margin-bottom: 7px;
        }
      }
    }
    
    .column {
      @media (max-width: @screen-xs-max) {
        width: 100% !important;
      }
      @media (min-width: @screen-sm) {
      }
    }
    
  }
  
}


.popularPage {
  &-header {
    &-action {
      font-size: 12px;
      .clearfix();
      @media (min-width: @screen-sm) {
        float: right;
        width: 20%;
        margin-top: -60px;
      }
      
      a {
        float: left;
        clear: left;
        margin-bottom: 7px;
      }
      
      .icon {
        margin-right: 5px;
      }
      
      .btn {
        width: 100%;
        margin-bottom: 10px;
        @media (min-width: @screen-md) {
          font-size: 16px;
        }
        @media (max-width: @screen-sm-max) {
          font-size: 14px;
        }
      }
      
    }
  }
  &-section {
    .article;
    
    &-eTicketInfo {
      font-size: 24px;
      line-height: 36px;
      color: #c2c2c2;
      text-align: center;
      max-width: 750px;
      margin: 0 auto;
      
      .btn {
        min-width: 200px;
        margin-top: 20px;
      }
      
    }
    
    &-additional {
      text-align: center;
      
      @media (max-width: @screen-xs-max) {
        .row {
          margin: 0 20px;
        }
        *[class*="col"] {
          border-bottom: 2px #dedede solid;
          padding-top: 20px;
          &:last-child {
            border-bottom-width: 0;
          }
          &:first-child {
            padding-top: 0;
          }
        }
      }
      .btn {
        margin-bottom: 20px;
      }
    }
  }
}