.spsInner {
  &-routeTitle {
    margin-bottom: 15px;
    font-size: 28px;
    > a {
      margin-left: 15px;
      font-size: 12px;
    }
  }
  &-searchForm {
    &-title {
      font-size: 16px;
      .f-os-b;
    }
    .form-group {
      margin: 0 10px;
      > label {
        position: relative;
        .icon {
          position: absolute;
          top: 12px;
          cursor: pointer;
          &-clock {
            right: 37px;
          }
          &-calendar {
            right: 15px;
          }
        }
      }
    }
  }
  
  &-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 30px;
  }
  &-table {
    width: 100%;
    margin: 20px 0;
    background: #faf9f5;
    border-radius: 12px;
    min-width: 940px;

    &-header {
      @media (min-width: @screen-md) {
        padding: 13px 20px;
      }
      @media (max-width: @screen-sm-max) {
        padding: 13px 10px;
      }
      vertical-align: middle;
      font-weight: 500;
      font-size: 14px;
      .f-os-b;
      > span {
        &:first-child {
          display: inline-block;
        }
      }
      &-caption {
        .f-os-reg;
        font-weight: 500;
        font-size: 12px;
      }
    }
    
    &-item {
      tbody &:nth-child(odd) {
        background: @dataBackground-darken;
      }
      > td {
        @media (min-width: @screen-md) {
          padding: 13px 20px;
        }
        @media (max-width: @screen-sm-max) {
          padding: 13px 10px;
        } 
        vertical-align: middle;
      }
      
      &-time {
        &-caption {
          color: #a5a5a5;
        }
      }
      &-placeClass,
      &-priceClass,
      &-ticketsClass {
        ul {
          .menu;
          li {
            padding: 5px 0;
            .clearfix();
            white-space: nowrap;
          }
        }
      }
      &-ticketsClass {
        ul {
          li {
            .btn {
              float: right;
              margin-left: 30px;
            }
          }
        }
      }
      
    }
    
  }
  
}