.sendmail {
  form {
    margin: 20px 0;
    padding: 40px 40px 20px 40px;
    background: @gray-lighter;
    border-radius: @border-radius-base;
  }
  .form-control-short {
    @media (min-width: @screen-md) {
      max-width: 60%;
    }
  }
  textarea {
    min-height: 100px;
  }
}