
.menu {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.carcass {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.blue-dash {
  border-bottom: 1px @blue-wave dashed;
  color: @blue-wave-link;
  cursor: pointer;
  text-decoration: none !important;
  &-around {
    border: 1px @blue-wave dashed;
  }
}
.white-dash {
  border-bottom: 1px @white dashed;
  &-around {
    border: 1px @white dashed;
  }
}

.baloon {
  font-size: 11px;
  line-height: 18px;
  border-radius: 9px;
  padding: 0 12px;
  position: relative;
  
  &:before {
    content: "";
    display: block;
    border-left: 6px @blue-wave solid;
    border-bottom: 6px rgba(0,0,0,0) solid;
    border-top: 0 @blue-wave solid;
    position: absolute;
    left: 15px;
    top: 100%;
  }
  
  &-info {
    background: @blue-wave;
    color: @white;
  }
}

.f-os-reg { font-family: "open_sansregular"; }
.f-os-b { font-family: "open_sansbold"; }
.f-os-sb { font-family: "open_sanssemibold"; }
.f-os-i { font-family: "open_sansitalic"; }
.f-icon { font-family: @icon-font-name; }

.clear-both {
  clear: both;
}