.shedule {
  width: 100%;
  margin: 20px 0;
  background: #faf9f5;
  border-radius: 12px;
  min-width: 940px;
  
  &-container {
    width: 100%;
    overflow-x: auto;
  }
  
  &-header {
    &-item {
      @media (min-width: @screen-md) {
        padding: 13px 20px;
      }
      @media (max-width: @screen-sm-max) {
        padding: 13px 10px;
      }
      vertical-align: top;
      font-weight: 500;
      font-size: 16px;
      .f-os-b;
      > span {
        &:first-child {
          display: inline-block;
        }
      }
      &-caption {
        .f-os-reg;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
  
  
  &-item {
    tbody &:nth-child(odd) {
      background: @dataBackground-darken;
    }
    > td {
      @media (min-width: @screen-md) {
        padding: 13px 20px;
      }
      @media (max-width: @screen-sm-max) {
        padding: 13px 10px;
      }
      vertical-align: top;
    }
    
    &-title {
      font-size: 16px;
      h2 {
        margin: 0 0 2px;
        font-size: 20px;
        > .icon {
          display: inline-block;
          vertical-align: middle;
        }
      }
      &-caption {
        font-size: 12px;
        margin-top: 4px;
      }
    }
    
    &-time,
    &-totalTime    {
      font-size: 20px;
      &-caption {
        font-size: 16px;
        color: #a5a5a5;
      }
    }
    
    &-additional {
      &-item {
        font-size: 12px;
        margin-bottom: 3px;
        .clearfix();
        .icon {
          float: left;
          margin-right: 5px;
          margin-top: 2px;
        }
        
        .btn-xs {
          padding-left: 20px;
          padding-right: 20px;
          background: none;
          margin-bottom: 7px;
        }
      }
    }
    
  }
}