.station {
  &-contacts {
    &-figure {
      float: left;
      max-width: 30%;
      margin: 7px 30px 30px 0;
    }
    &-text {
      font-size: 16px;
      &-mapLink {
        font-size: 12px;
        .icon {
          margin-right: 4px;
          vertical-align: middle;
        }
      }
    }
  }

  &-shedule {
    clear: both;
    
    &-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 30px;
    }
    
    &-table {
      width: 100%;
      margin: 20px 0;
      background: #faf9f5;
      border-radius: 12px;
      line-height: 130%;

      &-header {
        @media (min-width: @screen-md) {
          padding: 13px 20px;
        }
        @media (max-width: @screen-sm-max) {
          padding: 13px 10px;
        }
        vertical-align: middle;
        font-weight: 500;
        font-size: 14px;
        .f-os-b;
        > span {
          &:first-child {
            display: inline-block;
          }
        }
        &-caption {
          .f-os-reg;
          font-weight: 500;
          font-size: 12px;
        }
      }
    
      &-item {
        tbody &:nth-child(odd) {
          background: @dataBackground-darken;
        }
        > td {
          @media (min-width: @screen-md) {
            padding: 13px 20px;
          }
          @media (max-width: @screen-sm-max) {
            padding: 13px 10px;
          } 
          vertical-align: middle;
        }
      
        &-time {
          &-caption {
            color: #a5a5a5;
            font-size: 14px;
          }
        }
      }
    }
  }
}