.stations {
  &-search {
    margin-bottom: 30px;
    @media (max-width: @screen-xs-max) {
      width: 100%;
      margin-top: 15px;
    }
    @media (min-width: @screen-sm) {
      width: 420px;
    }
    .clearfix();
    
    .form-control {
      @media (max-width: @screen-xs-max) {
        width: 240px;
      }
      @media (min-width: @screen-sm) {
        width: 280px;
      }
      float: left;
    }
    .btn {
      @media (max-width: @screen-xs-max) {
        width: 34px;
        padding-left: 0;
        padding-right: 0;
      }
      @media (min-width: @screen-sm) {
        width: 120px;
      }
      float: right;
    }
  }
  
  &-list {
    margin-top: 20px;
    &-letterSection {
      margin-bottom: 40px;
      
      ul {
        .menu;
        font-size: 16px;
        color: #a5a5a5;
        li {
          margin-bottom: 7px;
        }
      }
    }
    
    .column {
      @media (max-width: @screen-xs-max) {
        width: 100% !important;
      }
      @media (min-width: @screen-sm) {
      }
    }
    
  }
  
  &-main {
    margin: 5px 0;
    font-weight: 400;
  }
}