.ticketPersonal {
  .make-row(@grid-gutter-width);
  letter-spacing: -0.4em;
  
  [data-role="wrapper"] {
    border-radius: 10px;
    background: @dataBackground;
    padding: 20px @gutter/2;
    float: left;
    width: 100%;
    .clearfix();
  }

  [data-role="passangerContainer"] {
    letter-spacing: 0;
    .clearfix();
  }
  
  &-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: @gutter/2;
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
    overflow: hidden;
    .clearfix();
    @media (min-width: @screen-sm) {
      width: 50%;
    }
    @media (max-width: @screen-xs-max) {
      width: 100%;
    }
    
    
    &-child {
      display: none;
    }
    
    &-childOpen {
      width: 100%;
      [data-role="wrapper"] {
        @media (min-width: @screen-sm) {
          width: 50%;
          &:first-child {
            border-radius: 10px 0 0 10px;
            padding-right: @grid-gutter-width/2 + @gutter/2;
            box-shadow: 1px 100px 0 1px @dataBackground;
          }
          &:last-child {
            background: @dataBackground-darken;
            padding-left: @grid-gutter-width/2 + @gutter/2;
            border-radius: 0 10px 10px 0;
          }
        }
      }
    }
    &-childOpen &-child {
      display: block;
    }
    
    
    
    h2 {
      margin: 0 0 25px;
      line-height: 100%;
      @media (max-width: @screen-sm-max) {
        clear: both;
      }
    }
    h3 {
      clear: both;
      color: #8a8a8a;
    }

    &-addChildren,
    &-closeChildren {
      @media (min-width: @screen-md) {
        .pull-right;
      }
      @media (max-width: @screen-sm-max) {
        .pull-left;
        margin-bottom: 15px;
      }
      .f-os-b;
      font-size: 14px;
      margin: 10px 0 25px;

      span {
        .blue-dash;
        line-height: 17px;
        margin-left: 5px;
      }
      .icon {
        margin-top: 2px;
        float: left;
      }
    }
    &-closeChildren {
      .pull-left;
      .icon {
        margin-top: 4px;
      }
    }

    
    .form-group {
      &-topMargin {
        margin-top: 30px;
      }
      label {
        padding-top: 3px;
        font-weight: 500;
        .f-os-b;
      }
      [class*="col"] {
        position: relative;
      }
      .clearfix();
      .make-row();
      .icon {
        position: absolute;
        top: 12px;
        &-calendar {
          right: 30px;
        }
      }
    }
    
  }
  
  &-contacts {
    width: 100%;
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
    .clearfix();
    margin-bottom: @gutter/2;
    
    .form-inline {
      letter-spacing: 10px;
      margin-bottom: @gutter/2;
    }
    .form-group {
      letter-spacing: 0;
      @media (min-width: @screen-sm) {
        margin-bottom: 0;
      }
      @media (max-width: @screen-xs-max) {
        margin-bottom: @grid-gutter-width/2;
      }
    }
    
    label {
      font-size: 16px;
      font-weight: 500;
      .f-os-reg;
    }
    
  }
  
  &-payment {
    margin: @gutter/2 0 @gutter;
    
    h2 {
      .f-os-reg;
      margin: 0;
    }
    &-sum {
      .f-os-b;
      font-size: 48px;
      line-height: 50px;
      display: block;
      margin-bottom: 15px;
    }
    .btn {
      width: 200px;
      .f-os-b;
    }
    
    p {
      font-size: 16px;
      line-height: 160%;
      margin-bottom: @grid-gutter-width/1.5;
    }
    
    img {
      max-width: 100%;
    }
  }
  
}