&-autocomplete {
  max-height: 300px;
  overflow: auto;
  box-shadow: 0 -@border-radius-large 0 0 #fff, 0 3px 3px 0 rgba(0,0,0,0.5);
  z-index: 2;
  border-width: 0;
  border-radius: 0 0 @border-radius-large @border-radius-large;
  border-right: 1px solid rgba(0,0,0,0);
  padding: @border-radius-large 1px;
  
  &-target {
    li {
      margin: 0 0;
      padding: 0 @padding-large-horizontal;
      &.ui-state-focus {
        background: @blue-wave;
        color: #fff;
        border-color: @blue-wave;
      }
    }
  }
}