&-datepicker {
  border-radius: @border-radius-base;
  padding: @grid-gutter-width/2 @grid-gutter-width/2 @grid-gutter-width/5 @grid-gutter-width/2;
  z-index: 20 !important;
  
  .ui-state-default,
  &-header {
    background: none;
    border-width: 0;
  }
  
  &-calendar {
    .f-os-sb;
    margin-bottom: 15px !important;
    
    th {
      .f-os-reg;
      font-weight: 500;
      color: #9f9f9f;
    }
    td {
      padding-right: 5px;
    }
  }
  &-current-day {
    background: @blue-wave;
    a {
      color: #fff;
    }
  }
  
}

&-timepicker {
  &-div {
    .ui-slider-handle {
      background: @blue-wave;
    }
    dl dd {
      margin-top: 15px;
    }
  }
}
&_tpicker {
  &_hour_label,
  &_minute_label {
    color: #979797;
    .f-os-reg;
    font-weight: 500;
  }
}