.uForm {
  .form-horizontal;
  background: @gray-lighter;
  .clearfix();
  max-width: 700px;
  font-size: 16px;
  border-radius: 10px;
  padding: 40px 40px 20px 40px;
  margin: @grid-gutter-width 0;
  
  label {
    @media (min-width: @screen-sm) {
      padding-top: 5px;
    }
  }
  
  .btn {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
    
    @media (max-width: @screen-xs-max) {
      margin-top: @grid-gutter-width/2;
      margin-bottom: @grid-gutter-width/2;
    }
  }
  .blue-dash {
    white-space: nowrap;
  }
  
  
  &-title {
    font-size: 28px;
    .f-os-sb;
    
    &:first-child {
      margin-top: 0;
    }
    
    &-additional {
      font-size: 14px;
      font-style: italic;
      color: @gray-light;
    }
    
  }
  
  &-target {
    position: relative;
    &-map {
      position: absolute;
      right: 15px;
      top: 9px;
    }
  }
  &-date {
    position: relative;
    max-width: 360px;
    &-icon {
      position: absolute;
      right: 15px;
      top: 12px;
    }
  }
  &-peopleNum {
    max-width: 150px;
  }
  
}