.yearShedule {

  min-width: 920px;
  width: 100%;

  &-wrapper {
    background: @dataBackground;
    padding: 20px;
    border-radius: 14px;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 40px;
  }
 
  th, td {
    vertical-align: middle;
  }
  
  th {
    font-size: 14px;
    font-weight: normal;
  }
  th+th {
    text-align: center;
    min-width: 27px;
    padding-bottom: 15px;
  }
  td {
    text-align: center;
  }
  .circle {
    display: inline-block;
    background: #3dbbff;
    width: 12px;
    height: 12px;
    border-radius: 6px;
  }
 
  &-text {
    font-size: 16px;
    line-height: 170%;
  }
 
}