/**/
div.popupBlock-open-popular div.popupBlock-container{
  display: block; 
}

div.popupBlock-open-popular div.callback-form {
  border: #7597db 3px solid;
  border-radius: 3px;
  width: 222px;
  box-shadow: #aaaaaa 1px 1px 4px;
    z-index: 999;
}


.ui-datepicker-trigger {
    background: url("images/stuff.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 22px;
    width: 43px;
    border: 0px;
}

div#loader {
    position: relative;
    display: none;
    padding: 8px;
    z-index: 999;
    left: 30%;
    top: 50%;
    width: 200px;
    height: 150px;
}
        
div#loader-message {
    font-family: Arial;
    font-weight: bold;
    height: 20px;
    left: 50%;
    margin-left: -85px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 30%;
    white-space: nowrap;
    width: 170px;
    z-index: 101;
}

img#perfectCentre {
    /*height: 50px;
        width: 50px;
    */
    left: 55%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;    
    z-index: 200;
}

.field-validation-error {   
    color: red;
    font-size: 11px;
}

.input-validation-error {
    border: 2px solid red !important;
    margin: 0;
}
.popupBlock-container.borderBlock-right div.input-field-text input.input-validation-error {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

div#QueryList,
div#FromList,
div#ToList {
    position: relative;
}

div#QueryList div.popupBlock {
    position: absolute;
    top: -10px;
}
div#FromList div.popupBlock,
div#ToList div.popupBlock{
    position: absolute;
    top: 23px;
}

div#PopularRoutes div.popupBlock{
    position: absolute;
}

div#QueryList div.popupBlock-container,
div#FromList div.popupBlock-container,
div#ToList div.popupBlock-container,
div#PopularRoutes div.popupBlock-container,
div#DocCountryList div.popupBlock-container {
    background-color: #DDE3EF;
}

div.popupBlock-container  div.station-item-last {
    padding: 7px;
    cursor: pointer;
    line-height: 15px;
}

div.popupBlock-container  div.station-item-last:hover {
    background-color: #b8c2d9;
}

div.popupBlock-container  div.station-item {
    padding: 7px;
    border-bottom: 1px dotted #26353A;
    cursor: pointer;
    line-height: 15px;
}

div.popupBlock-container  div.station-item:hover {
    background-color: #b8c2d9;
}

div.popupBlock-container  div.station-item-sel {
    background-color: #b8c2d9;
}

div#PopularRoutes .callback-form {
    width: 321px;
}

#ToolTip {
    display: none;
    position: absolute;
    z-index: 10000;
}

#ToolTip div.popupBlock-open div.callback-form {
    width: 330px;
}

#ToolTip div.inner{
    background-color: #FFFFEE;
    overflow: auto;    
    width: 300px;
    height: 300px;
    padding: 15px
}


#ToolTip h2 {
    margin: 0px;
}


div.col-left div.wheatherBlock 
{

}

div.delivery-payType-wrapper {
    padding: 15px 0 15px 0px;
}
div.delivery-price-row {
  margin: 7px 0;
  font-size: 11px;
  color: #000000;
}
div.delivery-price-row input {
  float: left;
}
div.delivery-price-row label {
  font-size: 14px;
  color: #000000;
  padding: 0 0 0 3px;
}

#setTrainForm td.shedule-days {
  background: none repeat scroll 0 0 transparent;
  font-size: 12px;
  width: 133px;
}

.h2-16 {
    color: #272727;
    font-size: 16px;
}

.color-yellow {
    color: #959900;
}

.color-red {
    color: #FC6700;
}

.b-500 {
    color: #FF0000;
    font-weight: bold;
    line-height: 1.4em;
}

#GMap {
    background-color: #FFFFFF;
    position: relative;
}

#loader-box {
    left: 43%;
    top: 40%;
    position: absolute;
}

.gal-item {
    display: inline-block;
    margin-bottom: 14px;
    margin-right: 14px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 275px;
}

/* Static Datepicker container */
div.calendarBlock {
  height: 300px;
  overflow: hidden;
  position: relative;
}
div#calendarBlock3 {
  height: 750px;
}
div.calendarBlock input {
  height: 0px;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
/*  display: none; */
}
a.calendarBlockLink {
  background: url("images/stuff.png") no-repeat scroll right -1034px #7597DB;
  border-radius: 0 0 6px 6px;
  border-width: 0;
  color: #00216C;
  font-size: 10px;
  line-height: 20px;
  margin: 0 !important;
  padding: 0 25px 0 10px !important;
  position: absolute;
  text-decoration: underline;
  right: 0;
}

div.callbackForm {
    background: url("images/background-callbackForm.png") repeat-x scroll left top #D4D9E3;
    border: 3px solid #577F8A;
    border-radius: 4px 4px 4px 4px;
    margin: 20px 0;
    padding: 12px 12px 2px;
    width: 370px;
}

div.callbackForm-fieldBlock {
    margin: 10px 0;
}

div.callbackForm-fieldBlock-title {
    font-size: 16px;
    margin: 5px 0;
    padding: 5px 0;
}

div.callbackForm div.input {
    margin: 7px 0;
    overflow: hidden;
}

div.callbackForm div.input-field-textarea textarea {
    height: 72px;
    resize: both;
    width: 366px;
}

div.ticketOrder div.input-submit button, div.borderBlock-right div.input-submit button, div.callbackForm div.input-submit button {
    background: url("images/background-button.png") repeat-x scroll left bottom #F5F6F9;
    border: 2px solid #FC893A;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 1px #000000 inset;
    color: #002650;
    font-size: 14px;
    line-height: 31px;
}
a.sort:link, a.sort:visited, a.sort:hover, a.sort:active
{
    color: #002650;
    text-decoration: underline;
    background: url(images/0711bgSort.gif) no-repeat;
    text-align: center;
    display: block;
    float: left;
    height: 39px;
    width: 148px;
    margin-top: 9px;
    margin-left: 20px;
    margin-right: 60px;
    padding-top: 14px;
}
a.sortA:link, a.sortA:visited, a.sortA:hover, a.sortA:active {
    color: #000000;
    text-decoration: none;
    background: url(images/0711bgSortA.gif) no-repeat;
    text-align: center;
    display: block;
    float: left;
    height: 39px;
    width: 148px;
    margin-top: 9px;
    margin-left: 20px;
    margin-right: 60px;
    padding-top: 14px;
}
a.noLine:link, a.noLine:visited {
    text-decoration: none;
}
a.noLine:hover, a.noLine:active {
    text-decoration: underline;
}
.size18 {
    font-size: 18px;
}
.size12 {
    font-size: 12px;
}
.dottedH {
    background: url("images/dotsH.gif") repeat-x scroll center center transparent;
}
td.table-row-item1 {
    background: url("images/dotsH.gif") repeat-x scroll top center transparent;
    padding: 7px 15px 7px 0;    
}
div.input-submit button { cursor:pointer; }
div.ufsLogo { color: #29393E; }

#vk_like, #fb-like, #fb-root, #___plusone_0 {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
td.content {
    padding: 0 0 20px 0;
} 
.twitter-share-button {
    float: left;
    margin-top: 2px;
}  
div.socialIcons a.lj img {
    border-width: 0;
}
div.socialIcons-homePage {
    height: 20px;
    padding: 0 0 20px;
}
div.route-near-dates-list {
    margin: 15px 0 0 0;
}
.tblTrain td.tdTimeWB {
	padding: 4px 10px 0 0;
	color: #7e7e7e;
	font-size: 12px;
	vertical-align: top;
}
.tdTimeWB a {
	font-size: 10px;
}
.tblTrain td.tdPlacesSummary {
	color: #7e7e7e;
	font-size: 10px;
	vertical-align: top;
}
.tblTrain td.tdPlacesSummary .black {
	font-size: 14px;
}
div.classFilterGray {
    background: none repeat scroll 0 0 #F4F5F5;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 0 0 0 10px;
    padding: 5px 10px;
}
div.trainFreePlaces {
    margin: 0 0 0 119px;
}

body.homePage div.borderBlock div.column-1 div.input-field-text input {
    font-weight: bold;
}
body.homePage div.borderBlock div.column-2 div.input-field-text input {
    font-weight: bold;
}
div.ticketOrder div.input-field-text input,
div.borderBlock-right div.input-field-text input {
    font-weight: bold;
}
div.ticketOrder div.input-field-date input,
div.borderBlock-right div.input-field-date input {
    font-weight: bold;
}
div.sheduleSearch-form input {
    font-weight: bold;
}
div.searchRoute div.input-field-text input {
    font-weight: bold;
}
table.sapsan-table {    
    margin: 10px 0 23px 0;
    width: 570px;
}
span.sapsan-table-place-order {
    padding: 0 0 0 3px;
}
div.callback-title {
    cursor: pointer;
}
#MessageOverlay {
	position: absolute;
    _position:absolute; /* hack for internet explorer 6*/  
	z-index: 997;
	left: 0px;
	top: 0px;
	width: 100%;
    height:100%;
	display: none;
	background: #000;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.alpha(opacity=60)";
}
#MessageWindow {
    display: none;
    position: absolute;
}

#MessageWindow div.inner{
    background-color: #FFFFEE;
    overflow: auto;
    padding: 15px
}

#MessageWindow h1 {
    height: 44px;
    margin-bottom: 18px;
    margin-top: -1px;
    padding: 12px 0 0 73px;
    width: 476px;
}
#MessageWindow .flL {
    background: none repeat scroll 0 0 #F5F6F9;
	border: 1px solid #D4D8E3;
    border-radius: 5px 5px 0 0;
    line-height: 20px;
    padding: 19px 10px 19px 10px;
    text-align: center;
	float: left;
	width: 341px;
}
#MessageWindow .flR {
    background: none repeat scroll 0 0 #F5F6F9;
	border: 1px solid #D4D8E3;
    border-radius: 5px 5px 0 0;
    line-height: 20px;
    padding: 19px 10px 19px 10px;
    text-align: center;
	float: right;
	width: 341px;
}
#selectTickets button {
    background: url("images/background-button.png") repeat-x scroll left bottom #F5F6F9;
    border: 2px solid #FC893A;
    border-radius: 3px 3px 3px 3px;
    color: #002650;
    font-size: 18px;
    line-height: 42px;
    cursor: pointer;
}
div.message-title {
    text-align: center;
	margin: 0 0 19px 0;
}
div.message-title span {
	border-bottom: 1px solid #D45700;
    color: #D45700;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
}
#selectTickets form {
    background: none repeat scroll 0 0 #FCFCFD;
    border: 0px solid #000000;
    padding: 0;
}
.sapsan-shedule-buy button {
    background: url("images/background-button.png") repeat-x scroll left bottom #F5F6F9;
    border: 2px solid #FC893A;
    border-radius: 3px 3px 3px 3px;
    color: #002650;
    line-height: 23px;
    font-weight: normal;
    cursor: pointer;
}

div.place td.shedule-buy {
    padding: 0 0 0 23px;
    vertical-align: middle;
}
div.baby-title {
    font-size: 14px;
    padding: 8px 36px 8px 36px;
    line-height: 18px;
    text-align: center;
}
div.place-class-text span a {
    border-bottom: 1px dashed #777777;
    color: #777777;
    font-size: 10px;
    text-decoration: none;
}
div.validation-summary-errors {
    color: #DF3232;
    font-size: 12px;
    font-weight: bold;
}
div.place td.shedule-buy button {
    cursor: pointer;
}
div.boundary a {
    color: #E90000;
    text-decoration: none;
}
div.flL p {
    text-align: left;
    margin: 15px 0 15px;
    font-size: 10px;
}
div.flR p {
    text-align: left;
    margin: 15px 0 15px;
    font-size: 10px;
}
div.profileOrders-block-er {
    padding: 13px 0 0 0;
    width: 495px;
}
div.profileOrders-block-er button {
    background: url("images/button-common.png") no-repeat scroll right top transparent;
    border: 2px solid #F58438;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 0 1px #000000 inset;
    line-height: 30px;
}
div.contentBlock-title a {
    color: #7E7E7E;
    display: inline-block;
    font-size: 14px;
    text-decoration: none !important;
}
div.contentBlock-title span {
    color: #7E7E7E;
    display: inline-block;
    font-size: 14px;
    text-decoration: none !important;
}

div.top-nav ul li.top-nav-sel span {
  background: #243a42 url("images/background-navTop.png") repeat-x left top;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  line-height: 35px;
  padding: 0 15px;
  display: block;
}
div.top-nav ul li.top-nav-sel span { border-radius: 5px 5px 0 0; }
body.infoPage div.top-nav ul li.top-nav-sel span {
  background-position: 0 -47px;
  color: #ffffff !important;
  text-decoration: none;
}

div.topContent-nav li.topContent-nav-select span {
  color: #303100 !important;
  text-decoration: none !important;
}
body.infoPage div.topContent-nav li.topContent-nav-select span {
  color: #d45700 !important;
  text-decoration: none !important;
}

div.col-left li.arrows-selected span {
  color: #ffffff !important;
  text-decoration: none !important;
  line-height: 14px;
  vertical-align: middle;
  height: 36px;
  display: table-cell;
  *height: auto;
  padding-right: 10px;
}
ul.arrows li span {
    background: url("images/stuff.png") no-repeat scroll left -966px transparent;
    display: inline-block;
    padding: 0 10px 0 16px;
}
/*--- Breadcrumbs ---*/
div.breadcrumbs span,
div.breadcrumbs h1 {
    background: url("images/stuff.png") no-repeat scroll right -607px transparent;
    display: inline-block;
    margin: 0 0 0 -15px;
    padding: 4px 20px;
    vertical-align: middle;
}
div.breadcrumbs .breadcrumbs-active {
  font-size: 24px;
  color: #d45700 !important;
  text-decoration: underline !important;
  background: none;
}
div.ticketCounter {
    margin-bottom: 54px;
}
div.shedule .shedule-buy button {
    cursor: pointer;
}
div.routeLinks {
    width: 651px;
    color: #7E7E7E;
    float: left;
    line-height: 21px;
    margin:6px 0 0 -10px;
}
div.routeLinks-shedule {
    float: right;
    margin-left: 0;
}
div.routeLinks-back {
    float: left;
    margin: 0 5px 0 0;
    width: 209px;
}
div.carListEmpty {
    width: 780px;
}
div.carListEmpty button {
    background: url("images/background-button.png") repeat-x scroll left bottom #F5F6F9;
    border: 2px solid #FC893A;
    border-radius: 3px 3px 3px 3px;
    color: #002650;
    font-size: 18px;
    line-height: 42px;
    margin: 10px 0 5px;
}

body.information div.borderBlock div.column-1 div.input-field-text input {
    font-weight: bold;
}
body.information div.borderBlock div.column-2 div.input-field-text input {
    font-weight: bold;
}
body.homePage h1 {
    border-bottom-width: 0;    
    color: #D45700;
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;
    margin: 25px 0 5px;
    padding: 0;
}
body.homePage h2 {
    margin: 0;
    padding: 0 0 19px 0;
}
div.banners {
    margin: 29px 0 10px -16px;
}

div.offersForPassangers div.newsItem a {
  color: #D45700;
}
div.offersForPassangers {
    margin-bottom: 49px;
}
span.newsIncident {
    color: red; 
    font-size: 11px;
}
div.header-contacts-data b {
    color: #D45700;
    font-size: 12px;
    /*font-weight: normal;*/
    line-height: 100%;
    margin: 0 0 0 0;
}
div.routeInfo {
    margin: 6px 0 6px -10px;
}
div.steps a span {
  cursor: default;
}
div.steps a.steps-selected span {
    cursor: pointer;
}
div.steps a.steps-was span {
    cursor: pointer;
}
div.passanger-buttons button {
    cursor: pointer;    
}
div.passanger div.input-field-checkbox label, div.input-field-checkbox input {
    cursor: pointer;
}
#tblHead {
    margin-top: 0px;
}
body.homePage span.step_num,
body.homePage div.steps a.steps-was span.step_num,
body.homePage div.steps a.steps-was:hover span.step_num {
  background: url("images/background-steps.png") no-repeat left -182px !important;
  display: block;
  color: #dee2ee;
}
div.confirm-po {
  
}

div.confirm-po-final div.table-row {
  padding: 1px 120px 40px 40px;
  width: 620px;
}
div.confirm-po-final div.confirm-totalPrice {
  margin-left: 0;
  margin-right: 0;
  background: #626973;
  color: #ffffff;
  text-align: center;
  padding-left: 0;
}

div.confirm-po div.confirm-grayKiosk {
  margin-left: 0;
  width: auto;
  display: block;  
  padding: 17px 14px 20px 21px;
}
div.confirm-po div.confirm-totalPrice {
  padding: 11px 14px 15px 37px;
}
div.confirm-po h2, div.confirm-po .h2 {
  margin-left: 10px;
}