.scheme-electro {
  border-spacing: 0;
  position: relative;
}
.scheme-electro canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scheme-electro .zone {
}
.scheme-electro .branch {
  vertical-align: top;
}

.scheme-electro .station-item {
  padding: 0 0 0 20px;
  margin: 0 0 0 -2px;
  height: 32px;
  line-height: 32px;
  background: url("images/electro-route-station.png") no-repeat 2px 10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.scheme-electro .station-item span {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
  position: absolute;
  left: 20px;
  top: 9px;
  line-height: 100%;
  white-space: nowrap;
}
.scheme-electro .station-item:hover span {
  text-decoration: underline;
}
.scheme-electro .station-item.station-title-left span {
  left: auto;
  right: 26px;
}
.scheme-electro .station-item:hover {
  background: url("images/electro-route-station.png") no-repeat 2px -62px;
}
.scheme-electro .station-selected,
.scheme-electro .station-selected:hover {
  background: url("images/electro-route-station.png") no-repeat 1px -26px;
}