﻿body {
  margin: 0;
  padding: 0;
  background: #5c747c url("../images/background-body.png") repeat-x left top;
  font-family: "Verdana";
  font-size: 12px;
}

form {
  margin: 0;
  padding: 0;
}

img {
  border-width: 0;
}

a, a:link, a:visited {
  color: #00216c;
  text-decoration: underline;
}
a:hover {
  color: #00216c;
  text-decoration: none;
}

a.dashed,
a.dashed span {
  text-decoration: none;
  border-bottom: 1px #00216c dashed;
  padding-bottom: 1px;
}
a.dashed:hover,
a.dashed:hover span {
  text-decoration: none;
  border-bottom: none;
}

h1, .h1 {
  font-weight: normal;
  font-size: 24px;
  color: #d45700;
  border-bottom: #d45700 1px solid;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  padding: 5px 0;
}
body.infoPage h1 {
  padding-right: 80px;
}
h1.title {
  margin-top: 22px;
  padding-right: 80px;
}
h2, .h2 {
  font-size: 18px;
  font-weight: normal;
  line-height: 100%;
  color: #d45700;
  margin: 25px 0 5px;
  padding: 0;
}
body.information h2 {
  color: #da6d22;
}

h2.bordered,
.h2.bordered {
  background: url("../images/h2Border.png") no-repeat right bottom;
  display: inline-block;
  padding: 0 0 11px;
}

body.profilePage h2,
body.profilePage .h2 {
  font-size: 16px;
  color: #7a7d01;
  margin: 24px 0 13px;
}

h3, .h3 {
  font-size: 14px;
  font-weight: normal;
  color: #d45700;
  margin: 15px 0 5px;
  padding: 0;
}

p, div.p {
  margin: 5px 0 15px 0;
  line-height: 140%;
}

.clear {
  clear: both;
}

div.container {
  margin: 0 auto;
  width: 920px;
  padding: 0 20px;
}
body.infoPage div.container {
  padding: 0 10px;
}
body.homePage div.container {
}

div.ui-tabs-hide {
  display: none;
}

ul.arrows {
  list-style-type: none;
  margin: 6px 0 15px 0;
  padding-left: 0;
}
ul.arrows li {
  padding: 4px 0 4px;
}
ul.arrows li a {
  padding: 0;
  padding: 0 10px 0 16px;
  background: url("../images/stuff.png") no-repeat left -966px;
  display: inline-block;
  *zoom: 1;
}
div.col-left li.arrows-selected {
  background: url("../images/arrow-254.png") no-repeat left top;  
  height: 36px;
  margin-left: -25px;
  padding-left: 25px;
  line-height: 32px;
  vertical-align: middle;
}
div.col-right ul.arrows {
  margin-top: 9px;
}
div.col-right ul.arrows li {
  padding: 3px 0;
}
div.col-right ul.arrows li a {
  background-position: 2px -967px;
}

div.col-right div.ourServices ul.arrows {
  margin-top: 5px;
}
div.col-right div.ourServices ul.arrows li {
  padding: 5px 0;
}

div.col-left li.arrows-selected a {
  color: #ffffff !important;
  text-decoration: none !important;
  line-height: 14px;
  vertical-align: middle;
  height: 36px;
  display: table-cell;
  *height: auto;
  padding-right: 10px;
}

div.yellow-title {
  float: left;
  padding: 0 10px;
  line-height: 60px;
  background: #d2d700 url("../images/background-trainFree.png") repeat-y right top;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
div.payTickets div.yellow-title {
  width: 220px;
  margin: 20px 0 0 -8px;
  font-size: 15px;
  padding: 0 14px 2px;
  text-align: left;
  line-height: 39px;
}
div.payTickets  .tblTrain div.yellow-title {
  margin-top: 0;
  margin-left: 0px;
}

div.validation-summary-errors {
  
}

/*--- Popup ---*/
div.popupBlock {
  position: relative;
  z-index: 20;
}
div.popupBlock div.popupBlock-link {
  z-index: 21;
}
div.popupBlock div.popupBlock-container {
  display: none;
  position: absolute;
  top: 0;
  z-index: 20;
}
div.popupBlock-open div.popupBlock-container {
  display: block; 
}

/*-------------- Header ---------------*/
div.header {
  margin: 13px 0 0 0;
  background: url("../images/background-body-gradient.png") no-repeat 50% -3px;
}

/*
body.infoPage div.header {
  background: none repeat scroll 0 0 #D5DBE9;
  border-top: 15px solid #DEE408;
  margin: 0;
}
*/
div.header div.container {
  background: #f8f8f8 url("../images/background-header.png") no-repeat 0 0;
  height: 136px;
  border-radius: 21px 21px 0 0;
}
body.infoPage div.header div.container {
  background: url("../images/background-header-inner.png") no-repeat 0 0;
}
body.innerPage div.header div.container {
  background: #f8f8f8 url("../images/background-header-inner.png") no-repeat 0 0;
}


div.header-logo {
  width: 515px;
  float: left;
}
div.header-logo a {
  float: left;
  margin: 24px 11px 0 1px;
}
div.header-logo span {
  float: left;
  overflow: hidden;
  width: 295px;
  margin: 35px 0 0 0;
/*  font-size: 11px; */
}

div#header-contacts {
  float: right;
  width: 280px;
  padding: 0 6px 0 0;
}
body.innerPage div#header-contacts {
  width: 288px;
}
div#header-contacts ul {
  list-style-type: none;
  margin: 15px 0 0 0;
  padding: 0;
  height: 29px;
}
div#header-contacts ul li {
  float: left;
  padding: 0 20px 0 14px;
  line-height: 29px;
}
div#header-contacts li.ui-state-active {
  background: url("../images/background-contacts.png") no-repeat left top;
  border-radius: 5px 5px 0 0;
  padding: 0 20px 0 25px;
}
body.innerPage div#header-contacts li.ui-state-active {
  background-position: 8px top;
}

div#header-contacts li.ui-state-active a,
div#header-contacts li.ui-state-active a:hover {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
div#contact-msk { border-radius: 0 5px 0 0; }
div#contact-spb { border-radius: 5px 5px 0 0; }
div.header-contacts-data {
  background: url("../images/background-contacts.png") no-repeat left -29px;
  padding: 5px 20px 7px 26px;
}
body.innerPage div.header-contacts-data {
  background-position: 8px -29px;
}

div.header-contacts-data span {
  font-size: 24px;
  white-space: nowrap;
  line-height: 33px;
  margin-left: -3px;
}

div.header-callback {
  float: right;
  clear: right;
  width: 280px;
}
div#callback-opening {
  padding: 0 20px 0 22px;
}

div.popupBlock-open div.callback-form {
  border: #7597db 3px solid;
  border-radius: 3px;
  width: 222px;
  box-shadow: #aaaaaa 1px 1px 4px;
}
div.callback-form form {
  border: 1px #000000 solid;
  background: #fcfcfd;
  padding: 5px 15px;
}
div.callback-title {
  color: #fc6700;
  border-bottom: 1px #fc6700 dashed;
  font-size: 12px;
  padding: 0 0 3px 0;
  margin: 0 0 7px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
div.callback-text {
  color: #000000;
  padding: 0 0 10px 0;
}
input.callback-input {
  border: 1px #000000 solid;
  background: #ffffff;
  width: 175px;
  margin: 0 0 7px;  
}
button.callback-send {
  background: url("../images/background-button.png") repeat-x scroll left bottom #F5F6F9;
  border: 2px solid #FC893A;
  border-radius: 3px 3px 3px 3px;
  color: #002650;
  font-weight: bold;
  margin: 0 0 5px 0;
}
button.callback-send span {
  line-height: 27px;
  padding: 0 20px 0 0;
  background: url("../images/stuff.png") no-repeat right -424px;
}


/* Header styles while header is scrolled up */
body.scrolled div.header {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 0;
  margin: 0 0 0 -480px;
  border-bottom: 6px #cfd506 solid;
  box-shadow: 0 0 10px #000000;
}
body.scrolled div.header div.container {
  height: 62px;
  background: #ecf0f1;
  border-radius: 0;
}
body.scrolled div.header-logo a {
  margin-top: 10px;
}
body.scrolled div.header-logo span {
  margin-top: 20px;
}
body.scrolled div#header-contacts {
  width: 397px;
  padding: 0;
}
body.scrolled div#header-contacts ul {
  display: none;
}
body.scrolled div.header-contacts-data {
  background: none;
  padding: 20px 0 0 0;
  width: 430px;
}
body.scrolled div.header-contacts-data span {
  float: left;
  margin: -3px 10px 0 -20px;
}
body.scrolled div.header-callback {
  clear: none;
  width: 218px;
  margin: -16px -15px 0 0;
}


/*--- Top Nav ---*/
div.top-nav {
  position: relative;
  top: 3px;
  z-index: 1;
}
div.top-nav ul {
  list-style-type: none;
  margin: -34px 0 0 0;
  padding: 0;
  height: 31px;
  letter-spacing: -0.3em;
  background: url("../images/background-topNav.png") no-repeat right bottom;
  float: left;
}
div.top-nav ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  letter-spacing: 0;
  height: 31px;
  padding: 0 1px 0 0;
  background: url("../images/background-top-nav-li.png") no-repeat right 6px;
}
div.top-nav ul li.top-nav-sel {
  height: 35px;
  background: none;
  border-radius: 5px 5px 0 0 !important;
  margin-top: -4px;
  padding-right: 0;
}
div.top-nav ul li.top-nav-first, div.top-nav ul li.top-nav-first a { border-radius: 5px 0 0 0; }
div.top-nav ul li.top-nav-last { background: none; }
div.top-nav ul li.top-nav-sel-prev { background-image: none; }
div.top-nav ul a {
  display: block;
  padding: 0 8px 0 7px;
  line-height: 30px;
  border-radius: 4px 4px 0 0;
}
div.top-nav li.top-nav-sel-after a {
  padding-left: 19px;
}
div.top-nav ul li.top-nav-sel a {
  background: #243a42 url("../images/background-navTop.png") repeat-x left top;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  line-height: 35px;
  padding: 0 15px;
}
div.top-nav ul li.top-nav-last a {
  padding-right: 18px;
}
div.top-nav ul,
div.top-nav ul li.top-nav-last,
div.top-nav ul li.top-nav-last a { border-radius: 5px 5px 0 0; }
div.top-nav ul li.top-nav-sel a { border-radius: 5px 5px 0 0; }

/* topNav Information page */
body.infoPage div.top-nav {
  position: relative;
  top: 3px;
  z-index: 1;
}
body.infoPage div.top-nav ul {
  background: none;
  list-style-type: none;
  margin: -35px 0 0 -2px;
  padding: 0 0 0 12px;
  height: 35px;
  letter-spacing: -0.3em;
}
body.infoPage div.top-nav ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  letter-spacing: 0;
  margin: 0 1px 0 2px;
  background: none;
}
body.infoPage div.top-nav ul a {
  display: block;
  padding: 0 10px;
  line-height: 35px;
  background: url("../images/background-topNav-I.png") repeat-x 0 0;
  border-radius: 4px 4px 0 0;
}
body.infoPage div.top-nav ul li.top-nav-sel a {
  background-position: 0 -47px;
  color: #ffffff !important;
  text-decoration: none;
}


/*------------------------ Content ------------------------*/
div.content {
  background: url("../images/background-body-gradient.png") no-repeat 50% -136px;
  position: relative;
  z-index: 1;
}
body.infoPage div.content { background-image: none; }
body.innerPage div.content { background-image: none; }
body.scrolled  div.content { margin-top: 136px; }
div.content div.container {
  background: #ffffff url("../images/background-header.png") no-repeat 0 -136px;
  box-shadow: inset 0 -7px 20px #dddddd;
}
body.infoPage div.content div.container {
  border-top: #30393e 22px solid;
  background-image: none;
}

body.innerPage div.content div.container { background: #ffffff url("../images/background-contentContainerTop.png") repeat-x left top; }

div.col-left {
  width: auto;
  padding-bottom: 35px;
}
body.col2 div.col-left,
body.col3 div.col-left {
  float: left;
  width: 238px;
  padding-bottom: 0;
  padding-left: 0;
}
body.homePage div.col-left {
  float: left;
  width: 625px;
  padding-bottom: 0;
}
body.infoPage div.col-left {
  padding-left: 10px;	
}
body.profilePage div.col-left {
  padding-bottom: 50px;
}

div.col-right { 
  display: none; 
  float: right;
}
body.col2 div.col-right {
  display: block;
  width: 645px;
  padding-bottom: 100px;
  padding-right: 10px;
}
body.col3 div.col-right {
  width: 250px;
  display: block;
  padding-top: 18px
}
body.homePage div.col-right {
  display: block;
  width: 260px;
  padding-top: 20px;
}
body.infoPage div.col-right {
  padding-top: 20px;
}

body.col3 div.col-center {
  float: right;
  width: 388px;
  padding: 0 27px 70px 0;
}
body.col3 div.col-center-big {
  width: 641px;
  padding: 30px 27px 70px 0;
}

body.col3 div.contentBlock-container { line-height: 150%; }


div.banners {
  margin: 20px 0 20px -16px;
  letter-spacing: -0.3em;
  white-space: nowrap;
}
div.banners-middle {
  margin-top: 46px;
  margin-bottom: 32px;
  margin-left: -12px;
}
div.banners-bottom {
  margin-top: 20px;
  margin-left: -12px;
}
div.banners-leftCol {
  margin-top: -15px !important;
}
div.banners-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 0 0 15px;
  letter-spacing: 0;
}
div.banners-middle div.banners-item {
  margin: 0 0 0 12px;
}
div.banners-bottom div.banners-item {
  margin: 0 0 0 12px;
}
div.banners-leftCol div.banners-item {
  border: 1px #d3d3d3 solid;
  border-radius: 3px; 
  padding: 3px;
  margin: 2px 0;
  width: 224px;
}
div.banners-item a {
  display: block;
}

div.banners-item-305 {
  border: #d3d3d3 1px solid;
  border-radius: 4px;
  width: 283px;
  padding: 10px; 
}

div.banners-item-200 {
  width: 198px;
  vertical-align: top;
  border: #d3d3d3 1px solid;
  border-radius: 4px;
  background: url("../images/background-banner-205.png") repeat-x left top;
}
div.banners-item-200 div.banners-contentWrapper {
  padding: 0 0 0 90px;
}

div.banners-leftCol div.banners-item a {
  background-position: left 50%;
  background-repeat: no-repeat;
  display: block;
  padding: 5px 0 5px 54px;
  text-decoration: none !important;
}
div.banners-leftCol div.banners-item a:hover u {
  text-decoration: none;
}
div.banners-leftCol div.banners-item a span {
  text-decoration: none !important;
  color: #3c4a4e;
}

div.tableData {
  background: #eeeeee;
  padding: 10px 15px 10px 10px; /* 10px 15px 10px 10px - для правой колонки в poezd_page_02 */
  margin: 25px 0 20px;
  border-radius: 5px;
}
div.tableData-title {
  color: #d45700;
  padding: 0 0 10px;
}
div.tableData {
  overflow: hidden;
}
div.tableData tr {
  background: url("../images/background-tableData.png") no-repeat left top;
}
div.tableData tr.tableData-first {
  background: none;
}
div.tableData td {
  padding-right: 10px;
}

div.mapBlock {
  text-align: center;
  margin: 10px 0;
}
div.mapBlock-container {
  width: 382px;
  overflow: hidden;
  border: 1px #6996ff solid;
  background: #cbdbff;
  padding: 2px;
}
div.mapBlock-linkMore {
  line-height: 31px;
  background: #cbdbff;
  border-radius: 0 0 10px 10px;
  padding: 0 18px;
  display: inline-block;
}

div.trainBox {
  border: 1px #d4d8e3 solid;
  border-radius: 7px 0 0 0;
  background: url("../images/background-table-row.png") repeat-x left bottom #FAFBFC;
  margin: 9px 0;
  padding: 8px 19px 8px 8px;
}
a.button {
  background: url("../images/background-button.png") repeat-x scroll left bottom #F5F6F9;
  border: 2px solid #FC893A;
  border-radius: 3px 3px 3px 3px;
  color: #002650;
  line-height: 23px;
  float: right;
  padding: 0 9px;
  text-decoration: none;
}
div.trainBox-subTitle {
  color: #7c7c7c;
  line-height: 20px;
}
div.trainBox-depart {
  color: #000000;
}
div.trainBox-priceBlock {
  color: #828282;
  padding: 15px 0 0;
  background: url("../images/background-trainBlock-price.png") no-repeat left 9px;
  line-height: 130%;
}
div.trainBox-priceBlock span {
  color: #000000;
}


body.profilePage div.col-left div.linkPartition {
  border: 1px #d9dde9 solid;
  border-radius: 4px;
  padding: 2px;
  background: #ffffff;
  margin-left: 0 !important;
  margin-bottom: 10px;
}
div.linkPartition a {
  background: url("../images/background-linkPartition-a.png");
  display: block;
  padding: 9px 0 10px;
}
div.linkPartition a span {
  background: url("../images/stuff.png") no-repeat -67px -610px;
  display: block;
  padding: 0 0 0 51px;
  line-height: 19px;
}


/*--- Top Content Navigation ---*/
div.topContent-nav {
  background: url("../images/background-topContent-nav.png") repeat-x left bottom;
  padding: 4px 10px 0;
  border-radius: 0 0 4px 4px;
  position: relative;
  z-index: 10;
}
div.topContent-nav ul {
  height: 39px;
  margin: 0;
  border-radius: 4px 4px 0 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
div.topContent-nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 39px;
  padding: 0 5px 0 10px;
  margin: 0;
  background: url("../images/background-topContent-divider.png") no-repeat left 8px;
  vertical-align: bottom;
}
div.topContent-nav li.topContent-nav-select {
  background: #dee408;
  border-radius: 4px 4px 0 0;
  line-height: 32px;
  padding-bottom: 3px;
  box-shadow: inset 2px 3px 3px #626404;
}
div.topContent-nav li.topContent-nav-selectNext {
  background-image: none;
  padding-left: 8px;
}
div.topContent-nav li.topContent-nav-first {
  background-image: none;
}
div.topContent-nav li a {
  color: #ffffff;
}

div.topContent-nav li.topContent-nav-select a {
  color: #303100 !important;
  text-decoration: none !important;
}

/* Top Container Info Page */
body.infoPage div.topContent-nav {
  background: #59666a url("../images/background-topContent-nav-I.png") repeat-x left bottom;
  padding: 3px 1px 0;
  border-radius: 4px 4px 0 0;
  position: relative;
  z-index: 10;
  margin-top: -22px;
}
body.infoPage div.topContent-nav ul {
  background: url("../images/background-topContent-ul-I.png") repeat-x left top;
  height: 39px;
  margin: 0;
  border-radius: 4px;
  padding: 0 0 0 10px;
  list-style-type: none;
  overflow: hidden;
}
body.infoPage div.topContent-nav li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 39px;
  padding: 0 10px 0 12px;
  margin: 0 0 0 -2px;
  background: url("../images/background-topContent-divider-I.png") no-repeat left 8px;
  vertical-align: bottom;
}
body.infoPage div.topContent-nav li.topContent-nav-first {
  background: none;
}
body.infoPage div.topContent-nav li.topContent-nav-select {
  background: url("../images/background-topContent-ul-I.png") repeat-x left -65px;
  border-left: 1px #ffffff solid;
  border-right: 1px #ffffff solid;
  border-radius: 4px 4px 0 0;
  line-height: 32px;
  padding-bottom: 3px;
  box-shadow: none;
}
body.infoPage div.topContent-nav li.topContent-nav-selectNext {
  background: none;
  padding-left: 8px;
}
body.infoPage div.topContent-nav li a {
  color: #00216C;
}
body.infoPage div.topContent-nav li.topContent-nav-select a {
  color: #d45700 !important;
  text-decoration: none !important;
}


/*--- Breadcrumbs ---*/
div.breadcrumbs {
  padding: 15px 0;
}
div.breadcrumbs a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("../images/stuff.png") no-repeat right -607px;
  padding: 4px 20px 4px 20px;
  margin: 0 0 0 -15px;
  vertical-align: middle;
}
div.breadcrumbs a.breadcrumbs-active {
  font-size: 24px;
  color: #d45700 !important;
  text-decoration: underline !important;
  background: none;
}

/*--- Main Content block ---*/

div.borderBlock {
  border: 3px #4c585c solid;
  position: relative;
  z-index: 10;
}
body.homePage div.borderBlock {
  border-width: 0;
  padding: 0 0 24px 0;
  background: url("../images/background-borderBlock.png") no-repeat left top;
  border-radius: 0 7px 7px 7px;
  height: 275px;
}
body.innerPage div.borderBlock {
  border: 5px #243a42 solid;
}

div.borderBlock h3,
div.borderBlock .h3 {
  margin: 0;
  padding: 0 0 9px;
  color: #000000;
}

div.borderBlock div.column-wrapper {
  padding: 21px 15px 17px 25px;;
}

div.column-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 262px;
  padding: 0 16px 0 0;
  vertical-align: top;
}

div.input-container {
  margin: 5px 0;
  height: 24px;
}
div.profileForm div.input-container {
  height: auto;
  overflow: hidden;
}
div.input-caption {
  float: left;
  clear: left;
  width: 77px;
  padding: 6px 0px 0 0;
}
div.searchShedule div.input-caption { width: 63px; }
div.profileForm div.input-caption { width: 102px; padding-right: 7px; }


div.input-field {
  float: left;
  width: 180px;
  padding: 0;  
}

div.searchShedule div.input-field { width: 171px; }
div.input-field-text input {
  border: 1px #4f545a solid;
  background: #ffffff;
  float: left;
  width: 175px;
  color: #fc6700;
  font-size: 14px;
  font-family: "Verdana";
  margin-top: 1px;
  padding: 2px 0 2px 5px;
}
div.profileForm div.input-field-text input {
  width: 188px;
}

div.searchShedule div.input-field-text input { width: 160px; }
div.input-field-textarea textarea {
  border: 1px #4f545a solid;
  background: #ffffff;
  float: left;
  width: 180px;
  color: #fc6700;
  font-size: 14px;
  font-family: "Verdana";
  margin-top: 1px;
  resize: none;
}
div.profileForm-wide div.input-field-textarea textarea {
  width: 387px;
  height: 105px;
  padding: 2px 0 2px 5px;
}

div.submit-container {
  clear: left;
}

div.input-submit { text-align: center; }
div.profileForm div.input-submit { text-align: left; padding: 12px 0 0 0; }

div.input-submit button {
  border-width: 0;
  background: none;
}
div.searchShedule div.input-submit button {  padding: 15px 0 15px 15px; }
div.profileForm div.input-submit button { color: #00216c; *width: 250px; }
div.profileForm div.input-submit p,
div.profileForm div.input-submit .p {
  margin: 17px 0 7px;
  font-size: 14px;
}

div.ticketOrder div.input-field-date input,
div.borderBlock div.input-field-date input {
  width: 119px;
}
div.searchShedule div.input-field-date input { width: 113px; }

div.ticketOrder div.input-field-date span,
div.borderBlock div.input-field-date span,
div.searchShedule div.input-field-date span {
  float: left;
  width: 43px;
  height: 22px;
  background: url("../images/stuff.png") no-repeat 0 0;
  cursor: pointer;
  margin: 1px 0 0 4px;
}
div.ticketOrder div.input-field-date-active span,
div.borderBlock div.input-field-date-active span,
div.searchShedule div.input-field-date-active span {
  border: 4px #7597db solid;
  margin-left: 0;
  margin-top: -4px;
  border-radius: 4px;
  background-color: #7597db;
}

div.borderBlock-info {
  text-align: center;
  padding: 18px 40px 0;
}
body.homePage div.borderBlock-info {
  padding-top: 18px;
}

div.borderBlock-info p {
  padding: 0;
  margin: 0;
}
body.homePage div.borderBlock-info p {
  line-height: 14px;
}

div.profileForm {
  background: #dfe5f0;
  border: #b2b7c5 1px solid;
  border-radius: 4px;
  padding: 16px 22px;
  overflow: hidden;
  width: 384px;
}
div.profileForm-wide {
  width: auto;
}

div.profileForm-title {
  color: #3a4d52;
  font-size: 18px;
  border-bottom: 1px dashed #3a4d52;
  padding: 0 0 4px;
  margin: 0 214px 15px 0;
}

div.profileForm div.input-submit button,
div.profileOrders-block-action button {
  border: 2px #f58438 solid;
  border-radius: 0;
  background: url("../images/button-common.png") no-repeat right top;
  line-height: 30px;
  border-radius: 6px;
  padding: default;
  box-shadow: inset 0 0 1px #000000;
}
div.profileForm div.input-submit button span,
div.profileOrders-block-action button span {
  display: block;
  padding: 0 53px 0 14px;
  white-space: nowrap;
}

div.profileOrders-title {
  font-size: 18px;
  color: #3a4d52;
  position: relative;
  width: 150px;
  margin: 23px 0 0;
}
a.order-printLink {
  font-size: 12px;
  border-left: 1px #00216c solid;
  display: inline-block;
  padding: 0 0 0 11px;
  line-height: 19px;
  position: absolute;
  left: 158px;
  top: 5px;
  width: 250px;
}

div.profileOrders-block {
  padding: 0 0 1px 0;
}
div.profileOrders-block-body {
  background: #edeff4;
  padding: 10px 15px;
  border-radius: 6px;
  margin: 0;
  line-height: 150%;
}
div.profileOrders-block-title {
  width: 495px;
  background: url("../images/contentBlock-title-border.png") repeat-x left top;
  padding: 13px 0;
  margin: 10px 0 0;
  position: relative;
}
div.profileOrders-block-title a.order-printLink {
  top: 12px;
}
div.profileOrders-block-datetrain {
  font-size: 16px;
}
div.profileOrders-block-timeBlock {
  width: 24%;
  padding: 0 1% 0 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
div.profileOrders-block-timeBlock span {
  float: right;
}

div.profileArchive-item {
  color: #3a4d52;
  font-size: 14px;
  padding: 6px 0 7px;
}
div.profileArchive-date {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
div.profileArchive-id {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 0 0 4px;  
}
div.profileArchive-link {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 12px;
  cursor: pointer;
  padding: 0 0 0 5px;
}
div.profileArchive-link span.profileArchive-link-close,
div.profileArchive-item-open div.profileArchive-link span.profileArchive-link-open {
  display: none;
}
div.profileArchive-link span span { text-decoration: underline; }
div.profileArchive-link span:hover span { text-decoration: none; }

div.profileArchive-itemBody {
  display: none;
}
div.profileArchive-itemBody div.profileOrders-block-title {
  background: none;
  margin: 0;
  padding: 0;
}
div.profileArchive-itemBody div.profileOrders-block-body {
  margin: 7px 0 20px 0;
  padding: 5px 10px 20px;
}
div.profileOrders-block-passanger {
  font-size: 12px;
  padding: 10px 0 5px;
}
div.profileOrders-block-passanger p {
  margin: 1px 0;
  padding: 0;
}
div.profileOrders-block-action {
  position: relative;
  padding: 2px 0 0 6px;
}
div.profileOrders-block-action a.order-printLink {
  left: 336px;
  top: 12px;
}
div.profileOrders-block-action button {
  *width: 270px;
}

div.profileArchive-item-open {
  margin-left: -7px;
  padding: 5px 0 0 0;
  border-radius: 5px;
  background: #00216c;
  color: #ffffff;
  margin-bottom: 21px;
}
div.profileArchive-item-open div.profileArchive-date {
  margin-left: 7px;
}
div.profileArchive-item-open div.profileArchive-link span.profileArchive-link-close {
  display: block;
  zoom: 1;
}
div.profileArchive-item-open div.profileArchive-itemBody {
  display: block;
  background: #d0d5e0;
  padding: 5px 10px 20px 9px;
  color: #000000;
  margin: 8px 0 0;
  border-radius: 0 0 4px 4px;
}


body.homePage div.borderBlock div.input-container {
  margin: 6px 0;
}
body.homePage div.borderBlock div.column-1 div.input-caption {
  width: 71px;
}
body.homePage div.borderBlock div.column-1 div.input-field-text input {
  width: 172px;
}
body.homePage div.borderBlock div.column-2 div.input-caption {
  width: 81px;
}
body.homePage div.borderBlock div.column-2 div.input-field-text input {
  width: 112px;
}
body.homePage div.borderBlock div.input-field-date span {
  margin-left: 8px;
}
body.homePage div.borderBlock div.input-field-text a.dashed {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: 2px;
  padding: 0 0 3px;
}
body.homePage div.borderBlock div.input-submit {
  margin-top: -3px;
  margin-left: 4px;
}



/*--- Content Block Container ---*/
div.contentBlock {
  margin: 0 0 28px 0;
}
body.infoPage div.col-left div.contentBlock {
  margin-left: 15px;
}
div.contentBlock-gray {
  background: #eeeeee;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 20px;
}
body.infoPage div.col-left div.contentBlock-gray {
  margin-left: 0;
}
div.contentBlock-title {
  color: #7e7e7e;
  font-size: 16px;
  padding: 3px 33px 6px 0;
  margin: 15px 0 0;
  border-bottom: 1px #7e7e7e solid;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
div.ourServices div.contentBlock-title {
  margin-top: 16px;
  margin-left: 1px;
  
}
div.contentBlock-gray div.contentBlock-title {
  color: #010101;
  border-color: #010101;
  margin-top: 0;
  font-size: 14px;
}
body.innerPage div.contentBlock-title {
  font-size: 14px;
}
div.contentBlock-container {
  padding: 0;
}
div.offersForPassangers div.contentBlock-container {
  padding-top: 7px;
}

div.info24 {
}
div.ticketCounter {
  margin: 54px 0 22px 3px;
}
div.ticketCounter p {
  line-height: 14px;
  margin: 5px 0 8px;
}

div.contentBlock-payment {
  padding: 6px 10px 13px 3px;
}
div.contentBlock-payment img {
  vertical-align: top;
  margin: 7px 13px 0 0;
}

div.ticketCounter {
}

div.ticketCounter .smCount {
  background: url("images/0705bgCount.gif") no-repeat scroll left top transparent;
  float: right;
  font-size: 10px;
  line-height: 14px;
  max-width: 110px;
  min-height: 75px;
  padding: 0 0 0 30px;
  margin: 0 -5px 0 0;
}
div.ticketCounter .countOut {
  background: url("images/3003_bgOut.gif") repeat-y scroll right center #748288;
  border: 1px solid #2E373B;
  border-radius: 3px 3px 3px 3px;
  display: inline-block;
  margin: 13px 0 0 0;
  padding: 6px;
}
div.ticketCounter .countBorder {
  background: none repeat scroll 0 0 #DBDBDB;
  border: 1px solid #2E373B;
  display: inline-block;
}

div.popular {
  text-align: center;
  padding-top: 21px;
  padding-bottom: 12px;
  border: 1px #d9dde9 solid;
  background: #f6f8fb;
}
div.popular div.contentBlock-title {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  margin-bottom: 3px;
}
div.popular div.column-wrapper {
  text-align: left;
  padding: 10px 0px 10px 0px;
  margin: 0 0 0 15px;
  white-space: nowrap;
}
div.popular div.column-1 {
  padding-right: 33px;
  padding-top: 4px;
}
div.popular div.column-2 {
  padding-top: 4px;
}
div.popular div.newsItem {
  margin: 7px 0 10px;
}
div.popular div.newsItem-title {
  font-size: 12px;
}
div.popular div.newsItem-text {
  color: #5e5e5e;
  padding: 0 0 2px;
}
div.aboutNav {
  background: #eaeef5;
  margin-bottom: 10px;
}
div.aboutNav div.contentBlock-title {
  margin-left: 7px;
  padding: 0 0 4px;
  width: 135px;
}
div.col-right div.aboutNav ul.arrows {
  margin-top: 6px;
}
div.col-right div.aboutNav ul.arrows li {
  padding: 4px 0 6px;
}
div.col-right div.aboutNav ul.arrows li a {
  padding-left: 20px;
}


div.content-recentNews div.contentBlock-title {
  margin-left: 3px;
  padding: 2px 0 5px;
  width: 135px;
}


div.contentBlock-menu {
  margin: 18px 0 !important;
  border: 1px #ffffff solid;
  border-radius: 6px;
  box-shadow: inset #d0d5e0 0 0 22px, #e3e3e3 0 0 5px;
  *background: #f4f4f4;
}
html[xmlns*=""] div.contentBlock-menu {
  background: #f4f4f4\9;]
  background: default;
}

div.contentBlock-menu div.contentBlock-title {
  margin: 5px 10px 5px 15px;
  padding-bottom: 10px;
  color: #010101;
  border-width: 0;
  background: url("../images/contentBlock-title-border.png") no-repeat left bottom;
}
body.profilePage div.contentBlock-menu div.contentBlock-title {
  margin: 17px 10px 10px 21px;
  padding-bottom: 8px;
}
div.contentBlock-menu div.contentBlock-body {
  clear: left;
}
ul.contentBlock-menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 10px;
}
ul.contentBlock-menu-ul li {
  padding: 0 1px 0 0;
}
ul.contentBlock-menu-ul li a {
  display: block;
  padding: 9px 15px;
}
body.profilePage ul.contentBlock-menu-ul li a {
  text-decoration: none;
  color: #848da1;
  padding-left: 22px;
}

ul.contentBlock-menu-ul li.contentBlock-menu-selected {
  background: url("../images/background-contentMenu-selected.png") repeat-y left top;
}
body.profilePage ul.contentBlock-menu-ul li.contentBlock-menu-selected {
  background: #d0d5e0;
  padding-right: 10px;
}

ul.contentBlock-menu-ul li.contentBlock-menu-selected a {
  background: url("../images/background-contentMenu-selected-a.png") no-repeat right 50%;
}
body.profilePage ul.contentBlock-menu-ul li.contentBlock-menu-selected a {
  color: #000000;
}




/*--- News Indexes ---*/
div.newsItem {
  padding: 0;
  margin: 12px 0 18px;
}
div.content-recentNews div.newsItem {
  margin: 8px 0 15px;
}
h2.newsItem-title,
div.newsItem-title {
  font-size: 18px;
  padding-top: 0px;
  margin: 0;
}
div.col-right div.newsItem-title {
  font-size: 12px;
}
div.newsItem-date {
  font-size: 14px;
}
div.newsItem-text {
  line-height: 20px;
  padding:0;
}
div.news-linkToAll {
  margin-top: -2px;
}

/* Gallery */
div.contentBlock-gallery {
  padding: 10px 0;
  margin: 0 0 0 -10px;
  width: 246px;
  overflow: hidden;
}
div.contentBlock-gallery img {
  margin: 0px 0 10px 10px;
  display: block;
  float: left;
}

/*--------------- Inner Page Content -----------------*/
div.wheatherBlock {
  float: right;
  width: 130px;
  margin: 10px 10px 0 0;
}

div.routeInfo {
  width: 780px;
  float: left;
  color: #7e7e7e;
  line-height: 23px;
  margin: 11px 0 0px -10px;
}
div.col-right div.routeInfo {
  width: 651px;
}
div.routeInfoBack {
  position: relative;
  padding: 0 0 0 170px;
  height: 30px;
}
div.routeInfo-caption {
  float: left;
  margin: 0 2px 0 0;
}

div.routeInfo-string {
  margin: 0 0 0 90px;
  height: 33px;
}
div.col-right div.routeInfo-string {
  float: right;
  margin-left: 0;
  margin-top: 10px;
}

div.routeInfo-string-back {
  margin-left: 72px;
}
div.routeInfo-direction {
  float: left;
  background: url("../images/background-routInfo-direction.png") no-repeat right top;
  overflow: hidden;
  padding: 0 10px 0 8px;
  margin: 0 5px 0 0;
  line-height: 23px;
  color: #ffffff;
  vertical-align: middle;
}
div.routeInfo-string-back div.routeInfo-direction {
  background-position: left -37px;
  padding: 0 8px 0 10px;
}

div.routeInfo-points {
  float: left;
  color: #000000;
  margin: 0 5px 0 0;
  width: 209px;
  text-align: center;
  /* cursor: pointer; */
}
div.col-right div.routeInfo-points {
  clear: left;
  font-size: 16px;
  color: #d45700;
  line-height: 18px;
  white-space: nowrap;
}

div.routeInfo-date {
  float: left;
  background: url("../images/background-routInfo-date.png") repeat-x left top;
  border-radius: 3px;
  padding: 0 3px 0 10px;
  margin: -3px 5px 0 0;
  cursor: pointer;
  height: 30px;
}
div.routeInfo-date span {
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
  color: #000000;
  width: 166px;
}
div.routeInfo-date span.routeInfo-date-choose {
  width: 36px;
}

span.routeInfo-date-choose,
div.col-right div.sapsan-date span.routeInfo-date-choose {
  display: inline-block;
  *zoom: 1;
  width: 36px;
  height: 25px;
  background: url("../images/stuff.png") no-repeat right top;
  cursor: pointer;
  margin: 1px 0 2px 3px;
  padding: 0;
  border-width: 0;
  position: static;
}
div.col-left span.routeInfo-date-choose { margin-top: 2px; }
div.col-right span.routeInfo-date-choose {
  width: auto;
  background: url("../images/stuff.png") no-repeat 56px -668px;
  padding: 10px 55px 10px 10px;
  color: #00216c;
  border: #fc6b02 2px solid;
  margin: -10px 0 0 0;
  border-radius: 5px;
  position: relative;
  right: -10px;
  line-height: 25px;
}
div.routeInfo-tipInfo {
  float: left;
  font-size: 10px;
  line-height: 11px;
  width: 152px;
  margin-top: -3px;
}

div.steps {
  float: left;
  clear: left;
  overflow: hidden;
  margin: 0 0 10px -10px;
  *width: 785px;
}
div.steps a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("../images/background-steps.png") no-repeat left top;
  padding: 0 0 0 1px;
  max-width: 240px;
  vertical-align: top;
}
div.steps a span {
  display: block;
  padding: 15px;
  height: 31px;
  background: url("../images/background-steps.png") no-repeat right top;
}
div.steps a.steps-selected {
  background: url("../images/background-steps.png") no-repeat left -89px;
  color: #959900;
  text-decoration: none;
}
div.steps a.steps-selected span {
  background: url("../images/background-steps.png") no-repeat right -89px;
}
a.steps-disabled, a.steps-disabled:hover {
  color: #777777;
  text-decoration: none;
  cursor: default;
}


div.routeDircetInfo {
  float: left;
  clear: left;
  margin: 0 0 0 -10px;
  padding: 13px 0 28px;
  *width: 875px;
}
div.routeDircetInfo ol {
  font-size: 14px;
  margin: 0;
  padding: 6px 0 0 24px;
}
div.routeDircetInfo li {
  line-height: 24px;
}

div.routeH1 {
  clear: left;
  color: #959900;
  border-width: 0;
  display: block;
  text-align: center;
  margin: 0 0 10px;
}


div.searchRoute {
  float: right;
  width: 356px;
  margin-top: 16px;
}
div.searchRoute-left {
  float: left;
}
div.searchShedule {
  width: 306px;
}
div.searchRoute-title {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  background: url("../images/background-borderBlock-searchRoute-title.png") repeat-x left top;
  border-radius: 4px 4px 0 0; 
  font-size: 18px;
  color: #ffffff;
  line-height: 48px;
  padding: 0 15px;
}
div.searchRoute-body {
  border: 3px #8294a9 solid;
  border-radius: 7px;
  background: #ffffff url("../images/background-borderBlock-searchRoute.png") repeat-x left bottom;
  padding: 10px 30px;
  position: relative;
  top: -7px;
}
div.searchShedule {
  margin-right: 50px;
}
div.searchShedule div.searchRoute-body { padding-left: 15px; padding-right: 15px; }


ul.railwayStations {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  font-size: 18px;
}
ul.railwayStations-columns {
  padding-left: 0;
}
ul.railwayStations ul {
  display: none;
  list-style-type: none;
  padding: 5px 0 10px 20px;
  font-size: 12px;
}
ul.railwayStations li.railwayStations-select ul {
  display: block;
}
ul.railwayStations li {
  padding: 5px 0;
}
ul.railwayStations li.railwayStations-select a,
ul.railwayStations li.railwayStations-select a:hover {
  text-decoration: underline;
  color: #767676;
}

ul.railwayStations li.railwayStations-select ul a { color: #00216C; }
ul.railwayStations li.railwayStations-select ul a:hover { color: #00216C; text-decoration: none; }


.flL {
  display: block;
  float: left;
  margin: 0;
}
a.sort:link, a.sort:visited, a.sort:hover, a.sort:active {
  background: url("images/0711bgSort.gif") no-repeat scroll 0 0 transparent;
  color: #002650;
  display: block;
  float: left;
  height: 39px;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 9px;
  padding-top: 14px;
  text-align: center;
  text-decoration: underline;
  width: 148px;
}
a.sortA:link, a.sortA:visited, a.sortA:hover, a.sortA:active {
  background: url("images/0711bgSortA.gif") no-repeat scroll 0 0 transparent;
  color: #000000;
  display: block;
  float: left;
  height: 39px;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 9px;
  padding-top: 14px;
  text-align: center;
  text-decoration: none;
  width: 148px;
}

/*------ Table ------*/
div.shedule-wrapper {
  padding: 9px 10px;
  margin: 0 0 10px;
  background: #f2f3b6;
  border-radius: 12px 0 0 0;
}
div.shedule {
  padding-bottom: 1px;
  clear: both;
  margin-bottom: 32px;
}
div.table-head {
  background: #fcfcfd url("../images/background-table-head.png") repeat-x left top;
  border-radius: 10px 10px 0 0;
  width: 900px;
  font-size: 10px;
  line-height: 10px;
  margin: 10px 0 0 0;
  padding: 7px 10px;
  overflow: hidden;
}
div.place div.table-head {
  width: 920px;
  margin-bottom: 11px;
}
div.table-head-withWrapper {
  width: 880px;
  padding: 18px 20px 16px;
}

.table-row {
  border: 1px #d4d8e3 solid;
  border-radius: 10px 10px 0 0;
  width: 900px;
  clear: both;
  background: #fafbfc url("../images/background-table-row.png") repeat-x left bottom;
  margin: 2px 0;
  padding: 5px 10px 3px;
}
div.shedule-wrapper .table-row {
  width: 878px;
  border-radius: 10px 0 0 0;
}
div.place .table-row {
  width: 920px;
}

form.table-row table {
  table-layout: fixed;
}

div.col-right div.table-head,
div.col-right .table-row {
  width: 631px;
}

div.passanger {
  width: 788px;
}
div.passanger-title { width: 120px; }

div.passanger .table-row {
  width: 766px;
  padding-bottom: 20px;
}

div.table-head-item {
  float: left;
  padding: 0 10px;
}
div.col-right div.table-head-item {
}

td.table-row-item {
  vertical-align: top;
  background: url("../images/background-table-td.png") repeat-y right top;
  padding: 7px 10px 0;
}
div.col-right td.table-row-item {
  background: none;
}

.shedule-train { width: 209px; line-height: 20px; padding-left: 0 !important;}
.shedule-days { width: 45px; }
.shedule-depart { width: 140px; }
.shedule-arrive { width: 140px; }
.shedule-time { width: 55px; }
.shedule-price { width: 76px; }
.shedule-currency { width: 150px; }

td.shedule-train { padding-left: 0; width: 206px;}
td.shedule-depart { width: 158px;}
td.shedule-arrive { width: 145px;}
td.shedule-time { width: 37px; padding-left: 5px; }
td.shedule-price { width: 155px; white-space: nowrap; background: none; }
td.shedule-buy { padding-right: 0; padding-top: 10px; background: none; vertical-align: middle; width: 30px;}
td.shedule-addInfo { padding: 5px 0 10px; }

div.col-right .shedule-train { width: 160px; }
div.col-right .shedule-depart { width: 130px; }
div.col-right td.shedule-train { width: 160px;}
div.col-right td.shedule-price { width: 140px;}

div.sheduleSearch .shedule-train { width: 205px; }
div.sheduleSearch .shedule-depart { width: 141px; }
div.sheduleSearch .shedule-arrive { width: 141px; }

div.sheduleSearch td.shedule-train { width: 205px; height: 62px; }
div.sheduleSearch td.shedule-depart { width: 159px; }
div.sheduleSearch td.shedule-arrive { width: 145px; }
div.sheduleSearch td.shedule-days { 
  width: 210px;
  background: none;
  font-size: 14px;
}
.shedule-price a.dashed {
  font-size: 90%;
}

div.sortBlock {
  width: 11px;
  height: 18px;
  float: left;
  margin: 2px 9px 0 0;
}
.sortBlock-a {
  display: block;
  width: 11px;
  height: 9px;
  line-height: 0;
  font-size: 0;
  background: url("../images/stuff.png") no-repeat 0 -90px;
  cursor: pointer;
}
.sortBlock-up { background-position: 0 -89px; }
.sortBlock-down { background-position: 0 -97px; }
.sortBlock-up-selected { background-position: -11px -89px; }
.sortBlock-down-selected { background-position: -11px -97px; }

div.shedule-train-title {
  font-size: 14px;
  line-height: 18px;
}
div.shedule-train-text {
  font-size: 10px;
  line-height: 12px;
  color: #7c7c7c;
}
td.shedule-depart a,
td.shedule-arrive a {
  font-size: 10px;
  line-height: 12px;
}
span.shedule-depart-info {
  color: #7e7e7e;
}
span.shedule-depart-info span {
  color: #000000;
  font-size: 14px;
}
div.shedule-price-row {
  margin: 1px 0;
  font-size: 10px;
  color: #7d7d7d;
}
div.shedule-price-row input {
  float: left;
}
div.shedule-price-row label {
  font-size: 14px;
  color: #000000;
  padding: 0 0 0 3px;
}

div.shedule-days-container {
  padding: 10px 0 0 0;
}
a.shedule-days-link {
  display: block;
  width: 22px;
  height: 24px;
  background: url("../images/stuff.png") no-repeat -32px -85px;
}

div.shedule-currency a {
  display: inline-block;
  line-height: 20px;
  padding: 0 2px;
  text-transform: uppercase;
}
div.shedule-currency a.select {
  padding: 0 10px;
  border-top: 1px #9b9fad solid;
  border-left: 1px #9b9fad solid;
  border-right: 1px #9b9fad solid;
  background: #eceef3;
  color: #414141;
  text-decoration: none;
}

.shedule-buy button {
  border: #fc893a 2px solid;
  border-radius: 3px;
  background: #f5f6f9 url("../images/background-button.png") repeat-x left bottom;
  color: #002650;
  line-height: 23px;
}
div.shedule .shedule-buy button {
  padding: 0 3px;
  margin: 0 0 0 6px;
}


div.col-right .shedule-buy button {
  font-weight: bold;
  *width: 280px;
}

div.eRegistration {
  width: 176px;
  float: left;
  margin: 6px 30px 0 0;
}
div.sheduleSearch div.eRegistration {
  margin-right: 47px;
}
td.shedule-addInfo div.eRegistration {
  width: 195px;
  margin: 10px 30px 0 0;
}
div.eRegistration span {
  background: url("../images/stuff.png") no-repeat left -127px;
  font-size: 10px;
  line-height: 11px;
  color: #7a7a7a;
  padding: 0px 0 2px 26px;
  display: block;
  width: 150px;
}
div.trainSel-container div.eRegistration span {
  line-height: 23px;
}
td.shedule-addInfo div.eRegistration span {
  line-height: 10px;
  background-position: 0 -130px;
}

div.yearShedule,
div.routeMap,
div.boundary {
  margin: 6px 0 0;
  font-size: 10px;
  line-height: 11px;
  float: left;
  width: 120px;
}
div.sheduleSearch div.yearShedule,
div.sheduleSearch div.routeMap {
  margin-top: 9px;
}

div.yearShedule a,
div.routeMap a {
  display: inline-block;
  *zoom: 1;
  text-decoration: none;
  background: url("../images/stuff.png") no-repeat left -1301px;
  padding: 0 0 2px 36px;
}
div.routeMap a {
  background-position: left -1362px;
}
div.shedule div.yearShedule a {
  padding: 0 0 3px 33px;
  line-height: 10px;
}
div.sheduleSearch div.routeMap a {
  padding: 0 0 3px 33px;
  line-height: 10px;
}


div.boundary {
  background: url("../images/stuff.png") no-repeat left -1536px;
  padding: 0 0 0 31px;
  margin: 9px 0 0 -2px;
  width: 170px;
  color: #e90000;
}

div.place {
  clear: both;
  padding: 1px 0 0;
  width: 940px;
  margin: 0 0 0 -10px;
}
div.place td {
  padding-left: 20px;
  padding-top: 18px;
}
div.place div.table-head-item {
  line-height: 20px;
}
.place-price { width: 120px; line-height: 20px; padding-left: 0 !important; }
.place-class { width: 193px; }
.place-carriage { width: 92px; }
.place-free { width: 170px; }
.place-quantity { width: 125px; }

td.place-price { width: 110px; font-size: 16px; font-weight: bold; }
td.place-class { width: 182px; font-size: 16px; font-weight: bold; }
div.place td.shedule-buy { padding: 60px 23px 0 23px; background: none; vertical-align: top;}
td.place-carriage { font-size: 14px; font-weight: bold; color: #909009; width: 81px; }
td.place-free { width: 162px; }
td.place-quantity { padding-right: 20px; padding-left: 9px !important; width: 112px;  }

div.place-price-discount,
div.place-class-discount {
  color: #df3232;
  font-size: 12px;
  position: relative;
}
div.place-price-discount { left: -131px; position: absolute; }
div.place-class-discount { margin: 7px 0 0 0;}

div.place-class-text {
  font-size: 10px;
  font-weight: normal;
  color: #909090;
}
div.place td.shedule-buy button { padding: 0 3px; line-height: 22px;}

.place-free ul,
.place-quantity ul {
  padding: 0;
  margin: -8px 0 15px;
  list-style-type: none;
  overflow: hidden;
  color: #757575;
}
.place-free li,
.place-quantity li {
  border-top: 1px #cdd1d7 solid;
  margin-top: -1px;
  padding: 3px 0 4px;
  line-height: 20px;
  clear: left;
  overflow: hidden;
}
.place-quantity li { padding-left: 15px; *height: 18px; }
.place-quantity input {
  width: 20px;
  height: 14px;
  float: left;
  background: #f2f3f4;
  border: 1px #e4e7ee solid;
  border-radius: 3px 0 0 3px;
  margin: 2px 0 0 0;
  padding: 1px 0 1px 3px;
  color: #c04e00;
  font-weight: bold;
  font-size: 14px;
}
.place-free li span {
  float: right;
  margin-right: 20px;
}

li.place-quantity-unactive {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.shedule-attention {
  color: #fc893a;
  padding: 0 0 10px;
  width: 155px;
  white-space: normal;
}


div.trainInfo {
  padding: 11px 0 0px 0;
  clear: left;
  position: relative;
  margin: 0 0 0 -10px;
}
div.passangerInfo {
  height: 90px;
  padding: 1px 0 0 130px;
}
div.passangerInfo .h2 {
  margin-left: 30px;
  margin-top: 15px;
  color: #959900;
}
div.routeInfoBack div.passangerInfo {
  height: auto;
  padding: 1px 0 0 0;
  float: left;
  width: 100%;
}

div.trainSel {
  position: absolute;
  left: 0;
  top: 0;
}
div.routeInfoBack div.passangerInfo div.trainSel {
  margin: 0 0 0 -160px;
  top: -9px;
}

div.routeInfoBack div.passangerInfo div.trainSel-ChooseBack {
/*  margin-left: 10px; */
}

div.trainSel-open {
  left: -7px;
  top: 0;
  border: 3px #7597db solid;
  border-radius: 2px;
  background: #ffffff;
  z-index: 10;
}
div.trainSel-link {
  background: #0058c0 url("../images/background-trainSel.png") repeat-x right top;
  width: 109px;
  border-radius: 5px;
  padding: 9px 0 8px;
  text-align: center;
  position: absolute;
  top: 11px;
  line-height: 17px;
}
div.routeInfoBack div.trainSel-link {
  padding: 2px 0 4px;
  width: 155px;
}
div.trainSel-ChooseBack div.trainSel-link {
  width: 185px;
  left: 160px;
}
div.trainSel-open div.trainSel-link {
  margin: -3px 0 0 4px;
  float: left;
  line-height: 17px;
}

div.trainSel-link a {
  color: #ffffff;
  border-color: #ffffff;
}
div.trainSel-container {
  display: none;
  background: #ffffff;
  width: 540px;
  color: #000000;
  line-height: 120%;
}
div.routeInfoBack div.trainSel-container {
  width: 940px;
}

div.trainSel-open div.trainSel-container {
  display: block;
  overflow: hidden;
}
div.trainSel-container-title {
  float: left;
  width: 165px;
  margin: 65px 0 0 0;
  padding: 0 0 0 10px;
}

div.trainSel-container-time {
  float: right;
  overflow: hidden;
}
div.trainSel-container-time-item {
  float: left;
  width: 110px;
  padding: 7px 8px 7px 18px;
  font-size: 10px;
  line-height: 110%;
}
div.trainSel-container-time-item-price { width: 55px; }
div.trainSel-container-time-item-place { width: 90px; }

div.trainSel-container-time-title {
  background: url("../images/background-table-head.png") repeat-x left top #FCFCFD;
  border-radius: 10px 10px 0 0;
  padding: 0 0;
  overflow: hidden;
  margin: 24px 22px 0 0;
  border-bottom:  1px #000000 solid;
}
div.routeInfoBack div.trainSel-container-time-title { margin-top: 38px; }

div.trainSel-container-time-body {
  overflow: hidden;
}
div.trainSel-container-time-body span {
  font-size: 12px;
  color: #7e7e7e;
  line-height: 19px;
}
table.trainSel-container-table {
  margin: -1px 0 0 0;
  float: left;
}
table.trainSel-container-table tr {
  background: url("../images/stuff.png") repeat-x left -366px;
}
table.trainSel-container-table td {
  padding: 5px 10px 5px 17px;
}
td.trainSel-container-table-price { width: 55px; }
td.trainSel-container-table-class { width: 110px; }
td.trainSel-container-table-place { width: 90px; }

table.trainSel-container-table td span {
  color: #7e7e7e;
  font-size: 10px;
  display: block;
}

div.trainSel-container div.eRegistration {
  float: left;
  clear: both;
  line-height: 24px;
  margin: 10px 50px 0 10px;
  white-space: nowrap;
}
div.trainSel-container-change {
  float: right;
  background: #edf0f5;
  width: 137px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 4px #D4D8E3 inset;
  text-align: center;
  line-height: 28px;
  margin: 15px 100px 0 0;
}
div.passangerInfo div.trainSel-container-change {
  clear: left;
  float: left;
  margin-left: 10px;
}
div.passangerInfo div.trainSel-container-change-places {
  width: 160px;
  clear: none;
  float: right;
}

/* используется также в div.callback-form */
div.trainSel-close {
  clear: both;
  background: #7597db;
  overflow: hidden;
  position: absolute;
  bottom: -24px;
  left: -3px;
  border-radius: 0 0 6px 6px;
  box-shadow: #aaaaaa 1px 1px 4px;
}
div.trainSel-close span {
  display: inline-block;
  padding: 0 24px 0 10px;
  line-height: 24px;
  background: url("../images/stuff.png") no-repeat right -1071px;
  color: #00216c;
  text-decoration: underline;
  cursor: pointer;
  font-size: 11px;
}

div.trainFreePlaces {
  float: left;
  width: 209px;
  height:52px;
  background: #d2d700 url("../images/background-trainFree.png") repeat-x right top;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 0 50px 119px;
  line-height: 17px;
}
div.trainFreePlaces a {
  display: block;
  color: #ffffff !important;
  text-decoration: none;
  padding: 7px 10px 0 21px;
  height: 43px;
}

div.classFilter {
  color: #757575;
  overflow: hidden;
  padding: 0 0 0 10px;
}
div.classFilter span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 32px;
  vertical-align: top;
}
div.classFilter ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  list-style-type: none;
  margin: 0 4px 10px 0;
  padding: 0 5px 0 10px;
  white-space: nowrap;
  letter-spacing: -0.2em;
  width: 480px;
}
div.classFilter ul.classFilter-gender {
  margin: 0;
  padding: 0;
}
div.classFilter li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 22px;
  padding: 0 6px 0 5px;
  border: 1px #ffffff solid;
  border-right: 1px #9a9b9c solid;
  letter-spacing: 0;
}
div.classFilter li.classFilter-last {
  border-right-color: #ffffff;
}
div.classFilter li.classFilter-select {
  border: #d4d8e3 1px solid;
  border-radius: 5px;
  box-shadow: inset 0 4px 4px #d4d8e3;
  background: #ecedee;
  padding: 0 14px 3px 12px;
  position: relative;
  top: -1px;
  line-height: 23px;
}
div.classFilter ul.classFilter-gender li.classFilter-select {
  padding: 0 5px 3px;
}
div.classFilter li.classFilter-select-prev {
  border-right-color: #ffffff;
}
div.classFilter li a {
  border-bottom: 1px solid #00216C;
  line-height: 26px;
  padding-bottom: 2px;
  text-decoration: none;
}
div.classFilter li.classFilter-select a {
  color: #767900;
  text-decoration: none;
  border-bottom-width: 0;
}

div.classFilterGray {
  background: #f4f5f5;
  float: left;
  margin: 10px 0 10px 0;
  *margin-bottom: 10px;
  padding: 2px 10px 6px;
  border-radius: 5px;
}
div.classFilterGray input {
  position: relative;
  top: 2px;
}
div.classFilterGray label {
  margin: 0 10px 0 3px;
  color: #757575;
}

div.passanger-data {
  overflow: hidden;
  padding: 0 0 0 40px;
}
div.passanger-data div.input-container {
  float: left;
  width: 180px;
  padding: 0 10px 0 0;
  height: auto;
}
div.passanger div.passanger-document {
  clear: left;
}
div.passanger div.passanger-checkbox {
  clear: left;
  width: auto;
}
div.passanger div.input-caption {
  padding: 3px 0 3px;
  width: auto;
}
div.passanger div.input-field input {
  font-size: 18px;
  color: #a74400;
  font-family: "Verdana";
  padding: 0 0 0 3px;
  width: 175px;
}
div.passanger div.passanger-document {
  width: 225px;
  margin-left: -20px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  background: url("../images/stuff.png") no-repeat left -302px;
}
div.passanger div.input-field select {
  font-family: "Verdana";
  width: 225px;
  font-size: 17px;
  *font-size: 16px;
  margin: 1px 0 0;
  border: 1px solid #4F545A;
}
div.passanger div.input-field-checkbox {
  width: auto;
  *width: 530px;
}
div.passanger div.input-field-checkbox input {
  width: auto;
  margin: 2px;
}
div.passanger div.input-field-checkbox label {
  padding: 0 0 0 7px;
  color: #7e7e7e;
}

div.passanger-buttons {
  overflow: hidden;
  padding: 30px 0 0;
}
div.passanger-buttons button {
  background: url("../images/background-button.png") repeat-x scroll left bottom #F5F6F9;
  border: 2px solid #FC893A;
  border-radius: 3px 3px 3px 3px;
  color: #002650;
  font-size: 18px;
  line-height: 42px;
  color: #484848;
}
div.passanger-buttons button.passanger-buttons-back {
  float: left;
  border-color: #d6d6d6;
  box-shadow: 0 0 1px #000000 inset;
  padding: 0 20px;
}
div.passanger-buttons button.passanger-buttons-submit {
  float: right;
  clear: right;
  padding: 0 29px;  
}
div.passanger-buttons  button.passanger-buttons-gray {
  border-color: #d6d6d6;
  margin-bottom: 5px;
}


div.payTickets {
  padding: 12px 0 0 0;
  clear: left;
}
div.payTickets-total {
  float: left;
  width: 450px;
  padding: 10px 0 0 20px;
  line-height: 56px;
  font-size: 18px;
}
div.payTickets-total span {
  font-size: 24px;
}
div.payTickets-type {
  float: left;
  width: 435px;
  padding: 17px 0 0 4px;
}
div.payTickets-type-2 {
  margin-left: 34px;
}
div.payTickets-type label {
  color: #b6bb01;
  font-size: 18px;
  padding: 0 0 0 10px;
}
div.payTickets-desc {
  border-top: #6e7a8f 1px dotted;
  margin: 7px 20px 0 0;
  padding: 5px 0 0 32px;
  font-size: 11px;
  line-height: 15px;
}
div.payTickets-desc p {
  line-height: 130%;
  margin-bottom: 10px;
}
div.payTickets div.table-row {
  width: 800px;
  margin: 20px 0 20px -8px;
  background: #f5f6f9;
  border-radius: 8px;
}
div.payTickets div.table-row-2 {
  padding-top: 28px;
}

div.payTickets div.table-row div.yellow-title {
  margin: 5px 0 0 0;
  padding: 0 9px;
}
div.payTickets-payType-unactive {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

div.payTickets-payType-wrapper {
  clear: left;
  overflow: hidden;
  text-align: center;
  padding: 15px 0 15px 30px;
}
div.payTickets-payType {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 165px;
  vertical-align: top;
  text-align: left;
  padding: 0 0 5px;
}
div.payTickets-payType input,
div.payTickets-payType label {
  display: inline-block;
  vertical-align: middle;
}
div.payTickets-payType label {
  padding: 0 0 0 10px;
}
div.payTickets-payDesc {
  padding: 28px 0 20px 38px;
}

div.payTickets-client {
  overflow: hidden;
  padding: 0 0 0 23px;
}
div.payTickets-client div.input-container {
  padding: 0 0 16px;
  margin: 0;
  height: auto;
  position: relative;
}
div.payTickets-client div.input-caption {
  float: none;
  width: 195px;
  line-height: 20px;
  padding: 0;
}
div.payTickets-client div.input-field {
  float: none;
  width: 195px;
}
div.payTickets-client div.input-field input,
div.payTickets-client div.input-field textarea {
  float: none;
  width: 189px;
}
div.payTickets-client div.input-field textarea {
  width: 400px;
  height: 90px;
}
div.payTickets-client div.input-subCaption {
  position: absolute;
  left: 213px;
  top: 10px;
  font-size: 10px;
  color: #7f7f7f;
  border-left: 1px #b6ba01 solid;
  border-top: 1px #b6ba01 solid;
  border-bottom: 1px #b6ba01 solid;
  width: 180px;
}
div.payTickets-client div.input-subCaption span {
  background: #f5f6f9;
  position: relative;
  display: block;
  width: 180px;
  margin: -3px 0 -3px 3px;
  padding: 0 0 0 10px;
}

div.payTicket-buttons {
  width: 823px;
  padding-top: 0;
  margin-left: -8px;
}
div.payTicket-agree {
  background: #fd8a3b;
  border-radius: 2px;
  float: right;
  padding: 0 0 0 10px;
  *width: 595px;
}
div.payTicket-agree label,
div.payTicket-agree label a {
  color: #ffffff;
  line-height: 13px;
}
div.payTicket-agree input,
div.payTicket-agree label,
div.payTicket-agree button {
  float: left;
  margin: 0 0 0 7px;
}
div.payTicket-agree input,
div.payTicket-agree label {
  margin-top: 10px;
}

label.eRegLabel {
  background: url("../images/2701e.gif") no-repeat scroll left top transparent;
  display: inline-block;
  line-height: 120%;
  overflow: hidden;
  padding: 0 0 0 25px;
  vertical-align: top;
  width: 149px;
}

div.confirm {
  padding: 15px 0 0 20px;
  width: 788px;
}
div.confirm-e {
  padding: 13px 0 0 11px;
}
div.confirm .table-row {
  width: 748px;
  background: #ffffff;
  padding: 10px 20px 20px;
}
div.confirm-e .table-row {
  padding: 1px 20px 20px 16px;
  border-radius: 10px;
}
div.confirm .table-row .table-head {
  width: auto;
  margin-top: 25px;
}
div.confirm-e .table-row .table-head {
  background: none;
  padding: 0;
  margin-top: -4px;
}
div.confirm h2,
div.confirm .h2 {
  color: #3a4d52;
}
div.confirm .h2 span {
  font-size: 12px;
}

div.confirm-orderDate {
  font-size: 14px;
  color: #fc6901;
  margin-top: -5px;
}

a.confirm-changeLink {
  float: right;
  margin: 10px 5px 0 0;
  font-size: 12px;
}
div.confirm-e a.confirm-changeLink {
  margin: 1px 3px 0 0;
}

div.confirm-grayKiosk {
  padding: 10px 35px 5px;
  background: #edeff4;
  border-radius: 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 10px 0 0 40px;
  width: 535px;
}
div.confirm-e div.confirm-grayKiosk {
  margin-left: 0;
  width: auto;
  display: block;
  background: url("../images/background-confirmGrayKiosk.png") repeat-x scroll left top #FCFCFD;
  padding: 17px 14px 20px 21px;
}
div.confirm-e div.confirm-totalPrice {
  background: #edeff4;
  margin: 37px 87px 10px 41px;
  padding: 11px 14px 15px 37px;
}

div.confirm-trainRouteData {
  font-size: 16px;
}
div.confirm-trainTimeData {
  line-height: 20px;
}
span.confirm-trainTimeData {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 160px;  
}
div.confirm-e div.confirm-trainTimeData {
  padding: 6px 0 0 0;
}

div.confirm-tableData {
  margin: 10px 0 0 75px;
  overflow: hidden;
}
div.confirm-e div.confirm-tableData {
  margin: 0;
}

div.confirm-tableData table {
  margin: -1px 0 0 0;
}
div.confirm-e div.confirm-tableData table {
  width: 100%;
}
div.confirm-tableData table tr {
  background: url("../images/stuff.png") repeat-x scroll left -366px transparent;
}
div.confirm-e div.confirm-tableData table tr {
  background: none;
}
div.confirm-tableData table th {
  text-align: left;
  background: #d8dbe1;
  padding: 9px 0;
}
div.confirm-tableData table td {
  padding: 5px 20px 5px 0;
  line-height: 16px;
  vertical-align: top;
}
div.confirm-e div.confirm-tableData table td {
  background: url("../images/background-tableData.png") repeat-x left bottom;
  padding: 13px 20px 8px 0;
}
div.confirm-tableData table td.confirm-tableData-total {
  font-size: 16px;
  line-height: 30px;
  background: none !important;
}
div.confirm-e div.confirm-tableData table td.confirm-tableData-total {
  padding-right: 75px;
  font-size: 18px;
  text-align: right;
}
div.confirm-e div.confirm-tableData table td.confirm-tableData-total span {
  padding-left: 40px;
}
td.confirm-tableData-rowCaption {
  width: 160px;
}
div.confirm-e td.confirm-tableData-rowCaption {
  padding-left: 60px;
}

div.confirm-totalPrice {
  font-size: 16px;
  margin-top: 30px;
}
div.confirm-totalPrice span {
  font-size: 24px;
  padding: 0 0 0 10px;
}

p.confirm-addAdvise {
  float:right;
  width: 442px;
}

div.confirm-buttons {
  background: #dfe5f0 url("../images/background-confirmButtons.png") repeat-x left top;
  border-radius: 10px;
  width: 700px;
  padding: 20px;
  margin: 35px 0 0 45px;
}
div.confirm-e div.confirm-buttons {
  margin-left: 0;
}

div.confirm-buttons button {
  border-radius: 5px;
  line-height: 34px;
}

div.confirm-buttons button.passanger-buttons-back {
  border-color: #96b6fb;
}

div.confirm-buttons button.passanger-buttons-back span {
  padding-left: 25px;
  background: url("../images/stuff.png") no-repeat left -486px;  
}
div.confirm-buttons button.passanger-buttons-submit span {
  padding-right: 25px;
  background: url("../images/stuff.png") no-repeat right -540px;  
}

div.confirm-contentBlock {
  margin: 42px 130px 40px 32px;
  line-height: 200%;
}
div.confirm-contentBlock p {
  line-height: 200%;
}

div.confirm-steps {
  margin: 40px 0 0 20px;
}

.confirm-tableData-tdPlaces {
  width: 150px;
}
.confirm-tableData-tdDocs {
  width: 180px;
}
.confirm-tableData-tdPrice {
  width: 157px;
}


div.confirm-e-final div.table-row {
  padding: 1px 120px 40px 40px;
  width: 620px;
}
div.confirm-e-final div.confirm-totalPrice {
  margin-left: 0;
  margin-right: 0;
  background: #626973;
  color: #ffffff;
  text-align: center;
  padding-left: 0;
}



/* Styles for step8 taken from the old site */

#tblHead {
	/* FF3.6 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebedf2', endColorstr='#ffffff', gradientType='0')";
    border-radius: 9px 9px 0 0;
    -moz-border-radius: 9px 9px 0 0;
    -webkit-border-radius: 9px 9px 0 0;
    height: 51px;
    padding: 0 0 0 0;
    margin-top: 20px;
    background-image: -moz-linear-gradient(top center, #ebedf2 1%, #ffffff 50%);/* Saf4+, Chrome */
  	/* IE6,IE7 */
  	/* IE8 */
	}
#tblHead td {
	padding: 0;
}
.tblTrain {
	width: 890px;
	border-collapse: collapse;
	border: 0;
}
.tblTrain td {
	padding: 0;
}
.tdSort {
	padding: 0;
	color: #414141;
	font-size: 10px;
	vertical-align: middle;
	text-align: left;
	line-height: 10px;
}
.tblTrainWrap {
	border: 1px solid #d4d8e3;
	border-radius: 9px 9px 0 0;
	-moz-border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0;
	padding: 0 0 7px 9px;
	margin-bottom: 1px;
	margin-left: -10px;
	/* FF3.6 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7ecf0', gradientType='0')";
    background-image: -moz-linear-gradient(top center, #ffffff 70%, #e7ecf0 99%);/* Saf4+, Chrome */
}
.tblTrain td { vertical-align: top; }
.tblTrain td.tdTrain {
	padding: 4px 10px 6px 0;
	color: #7c7c7c;
	font-size: 10px;
	vertical-align: top;
}
.tblTrain td.tdTrain a {
	font-size: 12px;
	margin-bottom: 5px;
}
.tblTrain td.tdTrain p a {
    border-bottom: 1px dashed #777777;
    color: #777777;
    font-size: 10px;
    text-decoration: none;
}
.tblTrain td.tdTrain span a {
    border-bottom: 1px dashed #777777;
    color: #777777;
    font-size: 10px;
    text-decoration: none;
}
.tdTrain p {
	margin-top: 5px;
	margin-bottom: 0;
}
.tblTrain td.tdDays {
	border-left: 1px dashed #6e7a8f;
	padding: 7px 0 0 10px;
	vertical-align: top;
}
.tblTrain td.tdTime {
	padding: 4px 10px 0 13px;
	border-left: 1px dashed #6e7a8f;
	color: #7e7e7e;
	font-size: 12px;
	vertical-align: top;
}
.black {
	color: #000;
	font-size: 12px;
}
.tdTime a {
	font-size: 10px;
}
.tblTrain td.tdPath {
	padding: 4px 5px 0 15px;
	border-left: 1px dashed #6e7a8f;
	color: #7e7e7e;
	font-size: 12px;
	vertical-align: top;
}
.tblTrain td.tdPlaces {
	padding: 4px 10px 6px 9px;
	border-left: 1px dashed #6e7a8f;
	color: #7e7e7e;
	font-size: 10px;
	vertical-align: top;
}

.tblTrain td.tdPlacesSummary td {
	padding: 4px 0 6px 0;
	border-bottom: 1px dashed #6e7a8f;
	vertical-align: top;
}
.tblTrain td.tdPlacesSummary td.tdH {
	padding: 0;
	border-bottom: 0;
}
.tblTrain td.tdPlacesSummary td.tdH img {
	display: block;
}
.tblTrain td.tdPlacesSummary td.full {
	padding: 10px 20px 6px 0;
	border-bottom: 0;
	color: #000;
	font-size: 14px;
}
.tblTrain td.tdPlacesSummary td.fullSumm {
	padding: 10px 0px 6px 0;
	border-bottom: 0;
	color: #000;
	font-size: 14px;
}
.tblTrain td.blackfull {
	padding: 4px 0 6px 0;
	border-bottom: 1px dashed #6e7a8f;
	vertical-align: top;
}
.tblTrain td.tdPlacesSummary td.service {
	padding: 6px 20px 6px 0;
	border-bottom: 1px dashed #6e7a8f;
	color: #000;
	font-size: 12px;
}




/* Year shedule table */
div.yearSheduleTable {
  width: 100%;
  font-size: 12px;
  padding: 10px 0 0;
}
div.yearSheduleTable table {
  width: 100%;
  table-layout: fixed;
}
div.yearSheduleTable table td {
  text-align: center;
  vertical-align: middle;
}
div.yearSheduleTable table tr.yearSheduleTable-thead td {
  border-bottom: 1px #000000 solid;
  padding: 0 0 16px;
}
div.yearSheduleTable table tr.yearSheduleTable-tbody-1 td {
  padding-top: 8px;
}
div.yearSheduleTable table td.yearSheduleTable-month {
  width: 73px;
  padding: 0 10px 0 0;
  text-align: right;
  border-right: 1px #000000 solid;
}
div.yearSheduleTable table tr.yearSheduleTable-thead td.yearSheduleTable-month {
  padding-top: 0;
}
div.yearSheduleTable table td span {
  display: block;
  width: 27px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
div.yearSheduleTable table td span.yearSheduleTable-is {
  background: url("../images/stuff.png") no-repeat -3px -1471px;
  text-indent: -10000px;
  cursor: pointer;
}
div.yearSheduleTable table td span.yearSheduleTable-is-select {
  background-position: -2px -1421px;
}


/* Shedule by stations */
div.stationShedule table {
  width: 100%;
  table-layout: 100%;
}
div.stationShedule thead td {
  color: #7a7a7a;
}
div.stationShedule tbody tr {
  background: url("../images/background-tableData.png") repeat-x bottom left;
}
div.stationShedule tbody td {
  padding: 11px 0;
}
td.stationShedule-station {
  background: #ffffff;
}

/* Ticket order popup block */
/* see also styles like "div.borderBlock-right div.input-field" */
div.ticketOrder {
  float: right;
  margin: 33px 0 0 ;
}
div.col-right div.ticketOrder {
  margin: 0 0 20px;
}
div.ticketOrder-bottom {
  margin: 47px 0 0;
}
div#ticketOrder-opening a,
div#ticketOrder-opening-2 a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("../images/background-button.png") repeat-x scroll left bottom #F5F6F9;
  border: 1px solid #72787f;
  border-radius: 5px 5px 5px 5px;
  color: #002650;
  font-size: 12px;
  line-height: 31px;
  padding: 0 19px;
}
div.popupBlock-open div#ticketOrder-opening a {
  background: none;
  border-width: 0;
  color: #fc6700;
}
div.popupBlock-open a.dashed {
  border-bottom-width: 0;
}
div.popupBlock-open a.dashed span {
  color: #fc6700;
  border-color: #fc6700;
  padding-bottom: 6px;
}
div.ticketOrder div.column-item {
  width: 222px;
}
div.ticketOrder-form {
  border: 3px solid #7597DB;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 4px #AAAAAA;
  margin-top: -20px;
  margin-left: -6px;
  
}
div.ticketOrder-form form {
  background: none repeat scroll 0 0 #FCFCFD;
  border: 1px solid #000000;
  padding: 16px 0 5px 16px;
}
div.ticketOrder-form .h3 {
  color: #000000;
  font-size: 16px;
  margin-bottom: 15px;
}
div.ticketOrder-form div.column-item {
  padding-top: 5px;
  padding-right: 10px;
}
div.ticketOrder div.input-submit {
  width: 150px !important;
  padding: 15px 0 9px;
}
div.ticketOrder div.input-submit button {
  padding: 0 20px;
}

/* Search train */
div.sheduleSearch-form {
  background: url("../images/background-searchForm.png") no-repeat left top;
  width: 896px;
  height: 66px;
  margin: 15px 0 30px 0;
  padding: 22px 10px 0 10px;
  text-align: right;
}

div.sheduleSearch-inputBlock {
  float: left;
  padding: 0 0 0 9px;
}
div.sheduleSearch-date {
  margin-left: 7px;
}

div.sheduleSearch-form input {
  width: 157px;
  padding: 2px 5px;
  margin: 0 1px;
  border: 1px #000000 solid;
  font-size: 14px;
  color: #fc6700;
}
div.sheduleSearch-form input.sheduleSearch-date-input {
  width: 107px;
  margin: 0 3px;
}

span.sheduleSearh-date-span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("../images/stuff.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 27px;
  margin: 1px 4px 0 0;
  width: 43px;
  vertical-align: middle;
}
span.sheduleSearh-date-span-active {
  border: 4px #7597db solid;
  margin: -2px 0 1px 0;
  border-radius: 4px;
  background-color: #7597db;
  height: 22px;
}

div.sheduleSearch-form button {
  background: none;
  border-width: 0;
  float: right;
  margin: 0;
  padding: 0;
  *width: 157px;
}

span.swap {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30px;
  height: 27px;
  background: url("../images/stuff.png") no-repeat left -1600px;  
  vertical-align: middle;
  margin: 0 14px 0 2px;
  cursor: pointer;
}

div.sheduleSearch-form div.sheduleSearch-date a {
  line-height: 20px;
}


/* Popular Page */
div.popularSearch {
  margin: 20px 0;
  height: 56px;
}
div.popularSearch-title {
  background: url("../images/arrow-214.png") no-repeat left top;
  float: left;
  width: 194px;
  line-height: 42px;
  font-size: 18px;
  padding: 0 0 0 20px;
  color: #ffffff;
  position: relative;
  z-index: 10;
  margin: 8px 0 0;
}
div.popularSearch-form {
  float: left;
  border: 3px #8294a9 solid;
  border-radius: 5px;
  position: relative;
  left: -12px;  
  z-index: 9;
  line-height: 50px;
  background: #ffffff url("../images/background-contacts.png") repeat-x left bottom;
  padding: 0 10px 0 25px;
}
div.popularSearch-form input {
  display: inline-lbock;
  *zoom: 1;
  color: #fc6700;
  font-size: 18px;
  border: 1px #4f545a solid;
  margin: -2px 10px 0 0;
  vertical-align: middle;
}
div.popularSearch-form button {
  display: inline-lbock;
  *zoom: 1;
  border-radius: 5px;
  border: 3px #fd830d solid;
  background: #637cb6;
  color: #ffffff;
  font-size: 14px;
  line-height: 27px;
  box-shadow: 0 -10px 10px #364872 inset;
  vertical-align: middle;
  margin: -4px 0 0;
}
div.popularSearch-form button span {
  background: url("../images/stuff.png") no-repeat right -791px;
  padding: 0 20px 0 0;
}

div.popularList {
  clear: left;
  margin: 20px 0;
}
div.popularList div.contentBlock-title { min-width: 130px; }
div.popularList div.contentBlock-body { overflow: hidden; }

div.contentBlock h3,
div.contentBlock .h3 {
  margin: 0 0 15px;
}

/*--- Hotel booking ---*/
div.filter {
  background: #ededed;
  border-radius: 6px;
  overflow: hidden;
  padding: 10px 10px 10px 18px;
}
div.filter-block {
  float: left;
  margin: 0 10px 0 0;
  line-height: 36px;
}
div.filter-paging {
  float: left;
  line-height: 36px;
}
a.filter-showmap {
  float: right;
  line-height: 18px;
  padding: 0 0 0 47px;
  background: url("../images/stuff.png") no-repeat left -860px;
  line-height: 36px;
}


div.bookingList-item {
  border: 1px #d2d2d0 solid;
  border-radius: 5px;
  margin: 10px 0;
  *zoom: 1;
}
div.bookingList-image {
  float: left;
  padding: 10px;
}
div.bookingList-image a {
  display: inline-block;
  *zoom: 1;
  border: #e1e1e1 1px solid;
  padding: 3px;
}
div.bookingList-image a:hover { border-color: #aaaaaa; }
div.bookingList img {
  display: block;
}

div.bookingList-title {
  font-size: 14px;
  font-weight: bold;
  margin: 9px 0 0;
  float: left;
  width: 350px;
}

div.rating {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
span.rating-item {
  display: inline-block;
  *zoom: 1;
  width: 12px;
  height: 11px;
  background: url("../images/rating.png") no-repeat left bottom;
}
span.rating-item-select { background-position: left top; }

div.bookingList-text {
  padding: 3px 0;
  float: left;
  width: 350px;
}
div.bookingList-text-addinfo {
  font-size: 90%;
  color: #ababce;
}
div.bookingList-text-addinfo span {
  color: #333333;
  font-weight: bold;
}
div.bookingList-text-addinfo a {
  font-size: 110%;
}
div.bookingList-gallery {
  float: left;
  width: 400px;
  margin: 10px 0;
}
div.bookingList-gallery a {
  display: inline-block;
  *zoom: 1;
  border: #e1e1e1 1px solid;
  padding: 2px;
}
div.bookingList-gallery a:hover { border-color: #aaaaaa; }

div.bookingList-comments {
  float: right;
  width: 175px;
  padding: 11px 10px 0 0;
  text-align: right;
  font-size: 90%;
  color: #ababce;
}
div.bookingList-comments a {
  display: block;
  font-size: 14px;
  font-weight: bold;
}
div.bookingList-comments span {
  color: #333333;
}

button.bookingList-submit {
  float: right;
  clear: right;
  margin: 22px 10px 0 0;
  background: #F5F6F9 url("../images/background-button.png") repeat-x left bottom;
  border: 2px #fd8a3b solid;
  border-radius: 3px;
  line-height: 27px;
  font-weight: bold;
  color: #00216c;
}
button.bookingList-submit span {
  background: url("../images/stuff.png") no-repeat right -425px;  
  padding: 0 12px 0 0;
}

div.bookingList-last {
  clear: both;
  background: #eeeeee;
  line-height: 28px;
  padding: 0 10px;
  font-size: 11px;
  color: #777777;
  border-radius: 0 0 5px 5px;
}
div.bookingList-last span {
  color: #669a16;
}


/* Seach tickets block */
div.searchTickets {
  width: 375px;
  margin: 100px auto 30px;
  padding: 10px 0;
  border: #cdd5e5 3px solid;
  border-radius: 5px;
  text-align: center;
}
span.searchTickets-route {
  display: block;
  font-size: 16px;
  color: #fc6b02;
  padding: 3px 0;
}
div.searchTickets div.routeInfo-string {
  float: none;
  margin: 15px auto;
  width: 342px;
}
button.searchTickets-submit {
  background: url("../images/background-button.png") repeat-x scroll left bottom #F5F6F9;
  border: 2px solid #FC893A;
  border-radius: 3px 3px 3px 3px;
  color: #00216c;
  font-size: 18px;
  line-height: 33px;
}

div.gallery {
  margin: 10px 0 10px -5px;
}
div.gallery img {
  margin: 5px;
}

/* Ticket order form @ right column (based on .borderBlock container) */
body.innerPage div.borderBlock-right {
  background: url("../images/background-borderBlock-rightCol.png") no-repeat center bottom;
  border-left-width: 0;
  border-right-width: 0;
  border-top: #689eae 3px solid;
  border-bottom: #689ead 3px solid;
  width: 226px;
  padding: 12px;
  margin: 0 0 40px;
}
div.borderBlock-right div.borderBlock-title {
  border-bottom: 1px dashed #fc6700;
  color: #fc6700;
  float: left;
  padding: 3px 0 5px;
}
div.borderBlock-right div.column-wrapper {
  padding: 0;
}
div.borderBlock-right div.column-item {
  display: inline-block;
  padding: 12px 0;
  vertical-align: top;
  width: 226px;
}
div.borderBlock-right h3, 
div.borderBlock-right .h3 {
  margin-bottom: 0;
  font-size: 16px;
}

div.ticketOrder div.input-field,
div.borderBlock-right div.input-field {
  float: right;
  width: 140px;
}
div.ticketOrder div.input-field-text input,
div.borderBlock-right div.input-field-text input {
  width: 132px;
}
div.ticketOrder div.input-field-date input,
div.borderBlock-right div.input-field-date input {
  width: 85px;
}
div.ticketOrder div.input-field-checkbox,
div.borderBlock-right div.input-field-checkbox {
  margin-left: -77px;
  float: left;
}
div.ticketOrder div.input-field-checkbox input,
div.borderBlock-right div.input-field-checkbox input {
  float: left;
  clear: left;
}
div.ticketOrder div.input-field-checkbox label,
div.borderBlock-right div.input-field-checkbox label {
  float: left;
  padding: 2px 0 0 3px;
}
div.ticketOrder div.input-submit,
div.borderBlock-right div.input-submit {
  float: right;
  width: 140px;
  text-align: left;
}
div.ticketOrder div.input-submit button,
div.borderBlock-right div.input-submit button,
div.callbackForm div.input-submit button {
  background: url("../images/background-button.png") repeat-x scroll left bottom #F5F6F9;
  border: 2px solid #FC893A;
  border-radius: 5px;
  color: #002650;
  line-height: 31px;
  font-size: 14px;
  box-shadow: 0 0 1px #000000 inset
}
div.borderBlock-right div.input-submit button span,
div.callbackForm div.input-submit button span {
  padding: 0 12px;
}

/* Static Datepicker container */
div.calendarBlock {
  height: 300px;
  overflow: hidden;
  position: relative;
}
div#calendarBlock3 {
  height: 750px;
}
div.calendarBlock input {
  height: 0px;
  padding: 0;
  margin: 0;
  line-height: 0;
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
/*  display: none; */
}
a.calendarBlockLink {
  background: url("../images/stuff.png") no-repeat scroll right -1034px #7597DB;
  border-radius: 0 0 6px 6px;
  border-width: 0;
  color: #00216C;
  font-size: 10px;
  line-height: 20px;
  margin: 0 !important;
  padding: 0 25px 0 10px !important;
  position: absolute;
  text-decoration: underline;
  right: 0;
}


/* Sapsan page */

div.sapsan-route-item {
  float: left;
  padding: 12px;
  font-size: 16px;
  line-height: 27px;
  margin: 10px 0;
  color: #00216b;
  cursor: pointer;
}
div.sapsan-route-active {
  background: url("../images/background-confirmGrayKiosk.png") repeat-x left top;
  border-radius: 8px 8px 0 0;
  color: #7b7d02;
  cursor: default;
}

div.sapsan-date {
  clear: left;
  color: #7b7d02;
  line-height: 30px;
  padding: 6px 0 0 0;
}
div.sapsan-date div.routeInfo-date {
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 10px;
}

table.sapsan-table {
  width: 523px;
  margin: 10px 0;
  background: url("../images/dashedSep.png") repeat-x left top;
}
table.sapsan-table tr {
  background: url("../images/dashedSep.png") repeat-x left bottom;
}
table.sapsan-table th {
  line-height: 49px;
  font-size: 10px;
  font-weight: normal;
  text-align: left;
  color: #000000;
}
table.sapsan-table td {
  padding: 11px 0; 
  vertical-align: top;
  line-height: 23px;
}
div.sapsan-table-place {
  text-align: right;
  padding: 0 0 5px 0;
}
span.sapsan-table-place-id {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 30px;
}
span.sapsan-table-place-price {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 53px;
  padding: 0 0 0 10px;
  text-align: left;
}
span.sapsan-table-place-order {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 80px;
  text-align: center;
  padding: 0 0 0 31px;
}

.sapsan-table-place-order a.button {
  border-width: 0;
  border-radius: 8px;
  float: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

div.sapsan-photo {
  margin: 30px 0;
}
div.sapsan-photo-title {
  background: url("../images/background-sapsanGallery.png") repeat-x left top;
  padding: 20px;
  border-radius: 15px 15px 0 0;
  font-size: 16px;
  color: #7B7D02;
}
div.sapsan-photo-body {
  word-spacing: 0;
  padding: 0 50px 0 0;
}
div.sapsan-photo-body img {
  margin: 16px 0 0 17px;
}


/* Callback big form */

div.callbackForm {
  background: #d4d9e3 url("../images/background-callbackForm.png") repeat-x left top;
  border-radius: 4px;
  border: #577f8a 3px solid;
  padding: 12px 12px 2px;
  margin: 20px 0;
  width: 370px;
}
div.callbackForm-fieldBlock {
  margin: 10px 0;
}
div.callbackForm-fieldBlock-title {
  font-size: 16px;
  padding: 5px 0;
  margin: 5px 0;
}
div.callbackForm div.input {
  overflow: hidden;
  margin: 7px 0;
}
div.callbackForm div.input-caption {
  width: 140px;
}
div.callbackForm div.input-field {
  width: 225px;
}
div.callbackForm div.input-field-text input {
  widtH: 220px;
}
div.callbackForm div.input-field-textarea textarea {
  width: 366px;
  height: 72px;
  resize: both;
}
div.callbackForm div.input-submit {
  margin: 5px 0 0;
  text-align: left;
}
div.callbackForm div.input-submit button {
}

/* Other stuff :) */

p.background {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 5px;
}
a.howToReach {
  float: right;
  margin: 0 0 10px 10px;
  text-align: center;
}
a.howToReach img {
  margin-bottom: 5px;
}

.color-yellow {
  color: #959900;
}
.color-red {
  color: #fc6700;
}
.h2-16 {
  font-size: 16px;
  color: #272727;
  margin-bottom: 22px;
}
div.searchRoute .h2-16 {
  padding: 10px 0 15px;
  margin-top: 0;
}

/*---------------- Footer Navigation -----------------*/
div.navBottom {
  padding-top: 1px;
}
div.navBottom div.container {
  background: #e9ecf4;
  border-top: #d9dce4 20px solid;
}
div.navBottom-wrapper {
  float: left;
  width: 600px;
  padding: 15px 0 27px;
}
div.navBottom-links {
  float: right;
  width: 300px;
  padding: 7px 0 0;
}
div.navBottom-links a {
  display: block;
  border-radius: 4px;
  border: 1px #d9dde9 solid;
  background: #f8f8f8 url("../images/background-navBottom.png") repeat-x left 2px;
  margin: 9px 0;
  width: 278px;
  line-height: 39px;
  font-size: 14px;
}
div.navBottom-links a span {
  display: block;
  border: 2px #ffffff solid;;
  border-radius: 4px;
  line-height: 39px;
  background: url("../images/stuff.png") no-repeat 18px -176px;
  padding: 0 0 0 48px;
}

div.navBottom-wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.navBottom-wrapper ul ul {
  padding: 0;
  margin: 14px 0 10px;
}
div.navBottom-wrapper li {
  width: 220px;
  margin: 8px 24px 0 33px;
  float: left;
}
div.navBottom-wrapper li li {
  padding: 5px 0 3px;
  margin: 0;
  float: none;
}
div.navBottom-wrapper li a {
  font-size: 14px;
  line-height: 31px;
  background: url("../images/background-bottomNav.png") repeat-x left bottom;
  color: #010101;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
div.navBottom-wrapper li li a {
  font-size: 12px;
  line-height: 120%;
  background: none;
  color: #00216c;
  text-decoration: underline;
  font-weight: normal;
  display: inline;
}

/*---------------------- Footer ----------------------*/
div.footer {
  padding: 0 0 63px;
}
div.footer div.container {
  border-top: #dee408 5px solid;
  height: 129px;
  background: #d5dbe9 url("../images/background-footer.png") no-repeat right top;
  border-radius: 0 0 16px 16px;
}

div.footer-logo {
  float: left;
  padding: 26px 0 0 0;
  width: 500px;
}
div.ufsPage div.footer-logo {
  width: 250px;  
}
div.footer-logo img {
  float: left;
  margin: 0 14px 0 -5px;
}
div.footer-logo span {
  float: left;
  color: #29393e;
  padding: 6px 0 0;
/*  font-size: 11px; */
}

div.ufsLogo {
  float: left;
  clear: left;
  width: 250px;
  background: url("../images/ufs-logo.png") no-repeat scroll 0 0 transparent;
  padding: 0 0 0 44px;
  margin: 10px 0 0 -5px;
  font-size: 90%;
  line-height: 27px;
}

div.footer-phone {
  padding: 23px 0 0 59px;
  overflow: hidden;
}
div.ufsPage div.footer-phone {  padding: 23px 55px 0 0;
  overflow: hidden;
  float: right;
  width: 250px;
}
div.footer-phone p {
  margin: 10px 0 2px;
}
div.footer-phone span {
  font-size: 24px;
  display: block;
  margin: -2px 0 0 -2px;
}

div.ui-datepicker-group {
  border-left: 1px #4f5d65 solid;
  padding: 0 0 0 2px;
  margin: 0 2px 0 0;
  width: 33%;
}
div.ui-datepicker-group-first {
  border-left-width: 0;
  padding-left: 0;
}
div.ui-datepicker-group-last {
  margin-right: 0;
}

body.infoPage div.footer-logo {
  padding-left: 10px;
}

div.footer-supportPhone {
}