div.sort-container {
  color: #30447e;
  overflow: hidden;
  margin: 0 0 20px;
}
div.sort-container-bottom {
  margin: 40px 0 20px;
}
/*-- Sort Container --*/

div.sort-container div.sort {
  float: left;
  width: 440px;
  line-height: 27px;
}

div.sort-container div.sort ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.sort-container div.sort li {
  float: left;
  background: url("img/bgChoice.png") repeat-x left bottom;
  height: 12px;
  padding: 7px 15px;
  margin: 0 2px 0 0;
  width: 130px;
  border-radius: 0 0 10px 10px;
  line-height: 14px;
  white-space: nowrap;
  text-align: center;
}

div.sort-container div.sort li.selected {
  background-position: left top;
  border-width: 0;
  border-radius: 10px 10px 0 0;
}

div.sort-container a { text-decoration: none; }
div.sort-container a:hover { text-decoration: underline; }

div.sort-container div.sort li.selected a {
  color: #ff7838;
  text-decoration: none;
}

div.sort-container div.paging {
  float: right;
  width: 440px;
  text-align: right;
}

/*-- Paging --*/
div.sort-container div.paging {
  line-height: 27px;
}
div.sort-container div.paging a {
  background: url("img/bgChoice.png") repeat-x left bottom;
  border-radius: 0 0 10px 10px;
  display: inline-block;
  font-size: 18px;
  width: 30px;
  text-align: center;
  margin: 0 1px;
  *display: inline;
  *zoom: 1;
}
div.sort-container div.paging a.selected {
  background-position: left top;
  border-width: 0;
  border-radius: 10px 10px 0 0;
  padding: 0;
  color: #ff7838;
}

/*-- Tickets booking --*/
div.ticket-item {
  font-family: Arial;
  margin: 10px 0;
  padding: 0px;
}

div.ticket-item form {
  margin: 0;
  padding: 0;
}

div.ticket-headline {
  background: #ebebeb;
  padding: 10px 0 10px 20px;
  color: #334782;
  cursor: pointer;
}

span.ticket-price {
  font-size: 36px;
  padding-right: 5px;
}
span.ticket-class {
  font-size: 24px;
  padding-right: 10px;
}
span.ticket-pay {
  font-size: 14px;
}

div.ticket-body {
  background: #4d639e;
  color: #6786d9;
  font-size: 36px;
  overflow: hidden;
}

div.ticket-to,
div.ticket-from {
  float:left;
  width: 388px;
  padding: 20px 0 40px 20px;
}

input.ticket-order {
  display: block;
  border-width: 0;
  float: right;
  font-size: 18px;
  font-family: Verdana;
  color: #ffffff;
  background: url("img/ticket_order.png") no-repeat right top;
  padding: 14px;
  width: 125px;
  height: 50px;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 72px 0 0 0;
}
input.ticket-order:hover {
  text-decoration: none;
}

div.ticket-variant {
  background: #b9b9b9 url("img/ticket_variant.png") repeat-x left top;
  border: 1px #283a74 solid;
  border-radius: 0 10px 0 0;
  padding: 15px 0 15px 17px;
  margin: 10px 0;
  font-size: 12px;
  color: #000000;
  overflow: hidden;
}

div.ticket-choice {
  float: right;
  width: 65px;
  padding: 0 0 45px 0;
  background: url("img/ticket_plane.png") no-repeat 3px 39px;
}
div.ticket-choice-selected {
  background-position: 3px bottom;
}
div.ticket-choice input {
  float: left;
  margin-left: 18px;
}
span.ticket-choosen {
  float: left;
  clear: left;
  padding: 3px 0 0 0;
  color: #2f417c;
}
span.ticket-choosen-selected {
  color: #f95500;
}

div.ticket-choice span.ticket-choosen-selected { display: none; }
div.ticket-choice-selected  span.ticket-choosen { display: none; }
div.ticket-choice-selected  span.ticket-choosen-selected { display: block; }

span.ticket-caption {
  padding: 0 15px 0 0;
}

span.ticket-data {
}

span.ticket-dataBig {
  font-size: 18px;
}