﻿* {
  outline: none;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: #000;
  background: #fff url("images/body-gradient.png") repeat-x left top;
}
.container {
  width: 999px;
  margin-left: auto;
  margin-right: auto;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clear {
  clear: both;
}

a, a:link, a:visited, a:hover {
  color: #405f86;
  text-decoration: underline;
}
a:hover {
  color: #6182aa;
}

h1, .h1 {
  margin: 5px 0 10px;
}
h2, .h2 {
  margin: 5px 0 10px;
}
h3, .h3 {
}

article p {
  line-height: 120%;
  margin: 0 0 10px;
}

.orange { color: #b26003; }
.blue { color: #214071; }
.lightblue { color: #547980; }
.white { color: #fff; }
.black { color: #000; }
.green { color: #097053; }
.red { color: #f00; }

.s10 {  font-size: 83% !important; }
.s11 {  font-size: 92% !important; }
.s12 {  font-size: 100% !important; }
.s13 {  font-size: 108% !important; }
.s14 {  font-size: 117% !important; }
.s15 {  font-size: 125% !important; }
.s16 {  font-size: 134% !important; }
.s18 {  font-size: 150% !important; }
.s20 {  font-size: 167% !important; }
.s22 {  font-size: 183% !important; }
.s24 {  font-size: 200% !important; }
.s30 {  font-size: 250% !important; }

.bold { font-weight: bold !important; }

.button-green {
  background: url("images/button_green.png") repeat-x left top;
  height: 30px;
  border: 1px #49bc80 solid;
  border-radius: 10px;
  font-size: 133%;
  box-shadow: 0 0 0 1px #ddf4e5 inset;
}

label span.orange {
  font-weight: bold;
}

/*------------------------------------*/
/*---------- Header ------------------*/
/*------------------------------------*/

header.container {
  padding: 24px 0 0;
}

.logo-img {
  float: left;
}
.logo-title {
  font-size: 150%;
  float: left;
  margin: 8px 0 0 56px;
}

form.search {
  float: right;
  padding: 3px 6px 3px 26px;
  background: #b2c8c9 url("images/search.png") no-repeat 5px 50%;
  border: 1px #92b0b3 solid;
  border-right-width: 0;
  border-radius: 6px 0 0 6px;
}
form.search input[type=text] {
  border: 1px #aaa solid;
  height: 20px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  padding: 0 2px;
}
form.search button {
  background: #1e375a url("images/search-button-gradient.png") repeat-x left top;
  border-width: 0;
  border-radius: 10px;
  color: #fff;
  height: 20px;
  text-shadow: 2px 2px 2px #1e4076;
  font-size: 11px;
  box-shadow: 1px 1px 2px -1px #fff;
}

header.container nav {
  clear: both;
  border-bottom: 3px #b2c8c9 solid;
  padding: 17px 0 0;
}
header.container nav a {
  display: inline-block;
  line-height: 24px;
  padding: 0 0 0 34px;
  margin: 0 31px -3px 0;
  font-size: 116%;
  color: #000;
  text-decoration: none;
}
header.container nav a:hover {
  color: #000;
  text-shadow: 0 0 6px rgba(0,0,0, 0.3);
}
header.container nav a.nav-select {
  color: #49bc80;
  background: url("images/nav-select.png") no-repeat left 50%;
}
header.container nav a.nav-select:hover {
  text-shadow: none;
}


/*------------------------------------*/
/*---------- Content -----------------*/
/*------------------------------------*/

/* structure */

.content {
  float: right;
  width: 686px;
  margin: 20px 0 0;
}

.side {
  float: left;
  width: 289px;
  margin: 20px 0 0;
}
.side-right {
  float: right;
  width: 289px;
  margin: 0 0 12px 12px;
}


/* data */

.tickets-list header .date,
.tickets-list header .class {
  display: inline-block;
  margin: 15px 0 0;
}

.tickets-list header .title h2 {
  display: inline-block;
  font-family: "Times New Roman", times;
  color: #0b7053;
  font-size: 159%;
}
.tickets-list header .title > span,
.tickets-list header .date > span {
  display: inline-block;
  width: 88px;
  line-height: 150%;
  font-size: 109%;
}
.tickets-list header .date span:last-child {
  display: inline-block;
  width: 197px;
  margin: 0 23px 0 -10px;
  padding: 0 0 0 5px;
  background: #edf1f3;
  font-weight: bold;
}

.tickets-list header div:first-child {
  margin: 20px 0;
}
.tickets-list header ul {
  list-style-type: none;
}
.error-list {
  margin: 20px 0 40px 40px;
}


/* breadcrumbs */

.breadcrumbs {
  padding: 0 0 10px;
}


/* shedule page */

.panel-blue {
  clear: both;
  background: #547980;
  padding: 12px 40px 1px;
  margin: 12px 0;
  position: relative;
}
.panel-blue .h3 {
  text-transform: uppercase;
  padding: 0 20px;
  margin: 0 -40px 0 -40px;
  line-height: 155%;
  color: #fff;
  background: #3e6c82;
  box-shadow: 0 1px 1px 1px #386175 inset;
  clear: both;
}
.panel-blue .h3:first-child {
  margin-top: -12px;
}
.panel-blue ul {
  list-style: none;
  line-height: 121%;
  margin: 1px 0 5px 0;
}
.panel-blue li a {
  color: #fff;
}
.link_more {
  float: left;
  background: #fff url("images/link_more.png") no-repeat right top;
  border-radius: 13px;
  text-decoration: none;
  min-width: 245px;
  padding: 0 28px 0 15px;
  margin: 5px 0 8px -15px;
  line-height: 216%;
}
.panel-plain {
  position: absolute;
  right: 15px;
  top: 7px;
  margin: 0;
}

/*------------------------------------*/
/*---------- Sidebar -----------------*/
/*------------------------------------*/

.form-side {
  border: 1px #cecece solid;
  padding: 10px;
  margin: 0 0 12px;
}
.form-side h3 {
  padding: 10px 0;
  margin: -10px -10px 10px -10px;
  font-size: 150%;
  box-shadow: 0 2px 2px -2px #333 inset;
  text-align: center;
}

.form-search {
  background: #d2eae5;
}
.form-filter {
  background: #eef9f7;
}
.form-order {
  background: #d2eae5;
}
.form-search h3 {
  color: #eceff3;
  background: #405f86;
}
.form-order h3 {
  color: #eceff3;
  background: #405f86;
}

.form-filter h3 {
  color: #ecf6f3;
  background: #40a884;
}

/* Search tickets form */

/* структура */

.row {
  display: block;
  margin: 0 0 5px;
}
.col-2,
.col-3 {
  float: left;
}
.col-2 {
  width: 50%;
  position: relative;
  margin: 0 0 10px;
}
.col-3 {
  width: 33%;
  text-align: center;
  margin: 0 0 10px;
}

/* элементы формы */

.form-side input[type=text],
.form-side select,
.form-side textarea,
#recall_form input[type=text] {
  border: 1px #a9bec1 solid;
  box-shadow: 2px 2px 2px #eee inset; 
  height: 21px;
  font-size: 100%;
  font-family: "Verdana", sans-serif;
  color: #000;
  padding: 0 0 0 6px;
}
.form-side select {
  padding-left: 3px;
}
.row input[type=text] {
  width: 179px;
}
.row textarea {
  width: 281px;
  height: 179px;
}
.row select {
  width: 187px;
}
.col-2 input[type=text] {
  width: 83px;
}
.col-2 input[type=datetime] {
  width: 83px;
}
.col-2 > label.date + label input[type=checkbox],
.col-2 > label.date + label + label input[type=checkbox] {
  margin: -2px 5px 0 0;
  float: left;
}

.col-3 select {
  width: 75%;
}

.form-search button[type=submit] {
  background: url("images/searchTickets-button.png") no-repeat left top;
  border-width: 0;
  width: 240px;
  height: 30px;
  display: block;
  margin: 10px auto 0;
}

.form-order button[type=submit] {
  background: url("images/searchTickets-button.png") no-repeat left top;
  border-width: 0;
  width: 240px;
  height: 30px;
  display: block;
  margin: 10px auto 0;
}

/* вспомогательные элементы формы поиска */

.form-search .row > span {
  display: inline-block;
  width: 56px;
  white-space: nowrap;
  text-align: right;
  padding: 0 8px 0 0;
}

.form-search .col-2 > label {
  display: block;
  padding: 0;
}
.form-search .col-2 > label:first-child span,
.form-search .col-3 > span {
  display: block;
  padding: 3px 0;
}

.form-search .col-2 > label.date + label,
.form-search .col-2 > label.date + label + label {
  font-size: 91%;
  color: #405f86;
  padding: 5px 0 0;
}

.form-search .date:after {
  content: "";
  position: absolute;
  right: 12px;
  top: 17px;
  background: url("images/datepicker-icon.png") no-repeat left top;
  width: 25px;
  height: 25px;
  display: block;
}

/* вспомогательные элементы формы заказа */

.form-order .row > span {
  display: inline-block;
  width: 86px;
  white-space: nowrap;
  text-align: left;
  padding: 0 8px 0 0;
}

.form-order .col-2 > label {
  display: block;
  padding: 0;
}
.form-order .col-2 > label:first-child span,
.form-order .col-3 > span {
  display: block;
  padding: 3px 0;
}

.form-order .col-2 > label.date + label,
.form-order .col-2 > label.date + label + label {
  font-size: 91%;
  color: #405f86;
  padding: 5px 0 0;
}

/* Вспомогательные элементы формы фильтрации */

.range {
  height: 28px;
  background: url("images/range.png") repeat-x left 8px;
  padding: 0;
  margin: 30px 16px 0 0;
  position: relative;
}
.range .ui-slider-range {
  height: 28px;
  background: url("images/range.png") repeat-x left -25px;
  position: absolute;
  top: 0;
}
.range .ui-slider-handle {
  float: left;
  width: 16px;
  height: 28px;
  cursor: pointer;
  background: url("images/range.png") no-repeat left bottom;
  position: absolute;
  top: 0;
}

.range-caption {
  float: left;
  margin: -20px 0 0;
}
.range-value {
  float: right;
  margin: -20px 0 0;
}

/* Autocomplete */

.ui-autocomplete {
  max-height: 180px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ui-autocomplete li {
  color: #228467;
  font-weight: bold;
}
.ui-autocomplete li:nth-of-type(odd) {
  background-color: #eee;
}
.ui-autocomplete .ui-state-focus {
  background: #406085 !important;
  color: #fff;
  font-weight: bold;
}


/* ui standard styles redefine */

.range .ui-state-default, 
.range .ui-widget-content .ui-state-default, 
.range .ui-widget-header .ui-state-default,
.range.ui-widget-content,
.range .ui-widget-header {
  border-width: 0;
  color: inherit;
}


/* Datepicker */

.datepick {
  line-height: 19px;
}

/* Форма контактов */

.form-phone {
  background: #eef2f4;
  padding: 15px 15px 1px;
  margin: 0 0 10px;
}
.form-phone h3 {
  line-height: 104%;
  color: #214071;
}

#recall {
  margin: 10px 0 5px;
}
.form-phone p {
  line-height: 200%;
  margin: 0 0 10px;
}

.side-right .form-phone {
  padding: 5px 0 5px 10px;
  background-image: url("images/operator-woman.png");
  background-repeat: no-repeat;
  background-position: 2px 2px;
}
.side-right .form-phone h3,
.side-right .form-phone .button-recall {
  margin-left: 80px;
  margin-right: 20px;
}
.side-right .form-phone h3 {
  line-height: 130%;
  text-align: right;
}
.side-right .form-phone .button-recall {
  margin-top: 11px;
  margin-bottom: 11px;
}
.side-right .form-phone .blue {
  min-width: 64px;
  display: inline-block;
  text-align: right;
}
.side-right .form-phone p {
  margin-bottom: 5px;
}
.side-right .form-phone p:last-child {
  text-align: center;
}

/* Список билетов */
.tickets-item {
  border: 1px #747474 solid;
  border-radius: 10px;
  margin: 64px 0 0 0;
  padding: 20px 10px 6px;
}
.tickets-price {
  background: #90d58d url("images/ticket-price.png") repeat-x left top;
  height: 36px;
  line-height: 36px;
  float: left;
  padding: 0 17px;
  border-radius: 8px 8px 0 0;
  margin: -57px 0 0 0;
}

.tickets-book {
  float: left;
  background: url("images/button_book.png") no-repeat left top;
  height: 28px;
  line-height: 28px;
  border: 1px #c3c3c3 solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 0 6px 0 30px;
  margin: 9px 0 -39px;
}
.tickets-book:active {
  padding-top: 1px;
  background-position: left 1px;
  height: 27px;
}
.tickets-buy {
  float: right;
  background: url("images/button_buy.png") no-repeat left top;
  height: 35px;
  width: 190px;
  line-height: 35px;
  text-decoration: none;
  padding: 0 0 0 50px;  
  margin: 6px 0 -42px 0;
}
.tickets-buy:hover,
.tickets-buy:active {
}

.tickets-item form {
  background: #eef2f4;
  border: 1px #adbec8 solid;
  padding: 0 0 1px 0;
  display: block;
  margin: 0 0 38px;
}
.tickets-item table th {
  padding: 13px 8px 5px;
  text-align: left;
  font-weight:bold;
}
.tickets-item table td {
  padding: 5px 8px;
}
.tickets-item table tr:last-child td {
  padding-bottom: 13px;
}

.tickets-item table tr td {
  border-bottom: 1px #87959e dashed;
}
.tickets-item table tr:first-child td,
.tickets-item table tr:last-child td {
  border-bottom-width: 0;
}

/* список ссылок левая колонка */
.links-side h4 {
  background: #baebb1;
  padding: 3px 14px;
}
.links-side ul {
  list-style: none;
  padding: 3px 0;
}
.links-side li {
}
.links-side a {
  background-image: url("images/a.png");
  background-repeat: no-repeat;
  background-position: left 5px;
  padding: 3px 0 4px 14px;
  display: block;
}
.node > a {
  background-color: #baebb1;
  color: #000;
}
 
/*------------------------------------*/
/*---------- Footer ------------------*/
/*------------------------------------*/

.mainfooter {
  clear: both;
  background: #f3f3f3;
  padding: 1px;
  box-shadow: 0 130px 130px -130px #ccc inset;
}
.logo-footer {
  float: left;
  margin: 28px 0 0 -5px;
}

.mainfooter nav {
  float: right;
  padding: 48px 0 0;
}
.mainfooter nav a {
  line-height: 110%;
  padding: 0 10px;
  display: inline-block;
}
.mainfooter nav a.nav-select {
  text-decoration: none;
  background: url("images/nav-select-footer.png") no-repeat 50% top;
  margin-top: -48px;
  padding-top: 48px;
  vertical-align: bottom;
}

.footer-link {
  float: left;
  clear: left;
  margin: 43px 0 0 -5px;
}
.footer-contacts{
  float: right;
  clear: right;
  padding: 30px 0 20px;
}

.footer-contacts-caption {
  float: left;
  margin: 0px 10px 0 0;
}
.footer-contacts-block {
  float: right;
  margin: -6px 0 0 22px;
  line-height: 165%;
}
.footer-copy {
  clear: left;
  float: left;
  margin: 0 0 10px;
}
.footer-counter {
  clear: right;
  float: right;
  margin: 0 0 10px;
}

/* Fancybox recall */
#recall_form {
  width: 688px;
  height: 231px;
  box-shadow: 0 77px 0 0 #49bc80 inset, 0 80px 1px -1px #42a973 inset, 0 0 1px #fff inset;
  border: 1px #fff solid;
  background: #edf2e6;
}
.fancybox-skin {
  padding: 0 !important;
}
#recall_form form {
  background: url("images/recall-background.png") no-repeat 11px 13px;
  width: 505px;
  height: 231px;
  padding: 0 0 0 183px;
}

.recall_form_title,
.recall_form_subtitle {
  color: #fff;
  padding: 0;
}
.recall_form_title {
  line-height: 50px;
}
.recall_form_text,
.recall_form_fields {
  padding: 0 0 0 90px;
}
.recall_form_text {
  padding-top: 30px;
  padding-bottom: 27px;
  line-height: 133%;
}
#recall_form input[type=text] {
  width: 230px;
  height: 30px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

div.tickets-body-header {
    background: url("images/background_tickets_bodyHeader.png") repeat-x left top;
    height: 27px;
    border-bottom: 1px #adbec8 solid;
    position: relative;
}
div.tickets-body-item-first div.tickets-body-header,
div.tickets-body-item-first,
div.tickets-block-single div.tickets-body-item-first div.tickets-body-list {
  border-radius: 0 10px 0 0;
}

div.tickets-body-flag {
  background: url("images/background_tickets_flag.png") no-repeat left top;
  width: 93px;
  height: 37px;
  text-align: center;
  color: #ffffff;
  padding: 5px 0 0 0;
  position: absolute;
  left: -1px;
  top: 0;
}
div.tickets-block-single div.tickets-body-flag,
div.tickets-block-single div.tickets-body-header {
  display: none;
}
div.tickets-block-single div.tickets-body-header {
  display: block;
}
div.tickets-body-list {
  padding: 11px 8px 11px 8px;
}
div.tickets-body-list {
  overflow: hidden;
}
div.tickets-body-list table {
  width: 100%;
}