body {
  background: url("../images/wlg.png") no-repeat -42px top,
              url("../images/main_background.png") left top,
              url("../images/main_background_2.png") repeat-x left top,
              #fff;
  font-family: "Arial";
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clear { clear: both; }

.title {
  font-family: "Arial Black","Arial";
  font-weight: 900;
}
.subtitle {
  font-family: "Georgia";
}

.f10 { font-size: 10px; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f16 { font-size: 16px; }
.f17 { font-size: 17px; }
.f24 { font-size: 24px; }
.f30 { font-size: 30px; }

.italic { font-style: italic; }

.gray { color: #989898; }
.red { color: #c8321f; }
.violet { color: #844086; }

a, a:link {
  color: #989898;
  text-decoration: none;
}
a:hover {
  color: #444;
}

h2, .h2 {
  font-family: "Georgia";
}

.dashed {
  border-bottom: 1px dashed #000;
}

.wrapper {
  width: 896px;
  margin: 0 auto;
}
.homePage .wrapper {
  width: 861px;
}

/* Forms */
input[type=text] {
  border: 1px #000 solid;
  box-shadow: 0 29px 29px -17px #e8e8e8 inset;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  font-family: "Arial Black", "Arial";
  font-weight: 900;
  color: #773079;
  padding: 0 6px;
}
input[type=text].datePick {
  background: url("../images/datepick.png") no-repeat right 50%;
  cursor: pointer;
}
body.companies input[type=text] { color: #7e9e00; }
body.orderTickets input[type=text] { color: #a22415; }

.contacts {
  float: right;
  background: #000;
  color: #fff;
  line-height: 28px;
  height: 28px;
  padding: 0 28px;
  text-transform: uppercase;
}
.contacts a {
  float: right;
  margin: 0 0 0 32px;
}
.homePage .contacts a:hover {
  color: #ccc;
}

/* Navigation blocks */
.navBlocks {
  clear: both;
  margin: 0 0 0 -18px;
  padding: 252px 0 0;
}
.navBlocks-item {
  float: left;
  width: 273px;
  letter-spacing: 0;
  background: url("../images/nav.png");
  margin: 0 0 10px 18px;
  position: relative;
  padding: 1px;
}
.navBlocks-item a {
  padding: 15px 10px 10px;
  display: block;
}
.navBlocks-item a span {
  padding: 5px 0;
  display: block;
}
.navBlocks-item a.f12 span {
  line-height: 14px;
}
.navBlocks-item img {
  margin: 10px 0;
}

.navBlocks-item:first-child:after,
.navBlocks-item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 10px;
  width: 100%;
}
.navBlocks-item:first-child:after {
  background: url("../images/nav-shadow.png") no-repeat left top;
}
.navBlocks-item:last-child:after {
  background: url("../images/nav-shadow2.png") no-repeat left top;
}

.navBlocks-item:hover {
  box-shadow: 0 0 1px #333;
  padding: 0;
  border: 1px #9a2298 solid;
}
.navBlocks-item:hover a {
  padding: 14px 9px 9px;
  border: #ccc 1px solid;
  color: #fff;
}

.navBlocks-item:nth-child(1):hover {
  border: 1px #9a2298 solid;
  padding: 0;
}
.navBlocks-item:nth-child(1):hover a {
  background: #5d1556 url("../images/nav-hover-1.png") repeat-x left top;
  border-color: #f491f4;
  box-shadow: 0 0 21px #67246b inset;
}

.navBlocks-item:nth-child(2):hover {
  border: 1px #7e9e00 solid;
  padding: 0;
}
.navBlocks-item:nth-child(2):hover a {
  background: #7e9e00 url("../images/nav-hover-2.png") repeat-x left top;
  border-color: #cbff00;
  box-shadow: 0 0 21px #7e9e00 inset;
}

.navBlocks-item:nth-child(3):hover {
  border: 1px #c33c2b solid;
  padding: 0;
}
.navBlocks-item:nth-child(3):hover a {
  background: #a1291a url("../images/nav-hover-3.png") repeat-x left top;
  border-color: #fe614d;
  box-shadow: 0 0 21px #991c0d inset;
}



.navBlocks-item:last-child:hover:after,
.navBlocks-item:first-child:hover:after {
  bottom: -12px;
}

/* Content homepage */
.content {
  clear: both;
  background: url("../images/nav.png");
  padding: 30px 40px 40px;
  margin: 44px 0;
  color: #363636;
  font-size: 14px;
  position: relative;
}
.content header {
  color: #2e2e2c;
  margin: 0 0 27px;
}

.content p {
  line-height: 21px;
}
.content b {
  color: #7e7e7e;
  font-weight: bold;
}

.content > span.title {
  position: absolute;
  color: #989898;
  top: 18px;
  right: 20px;
  font-size: 10px;
  color: #989898;
  text-transform: uppercase;
}

/* Content innerpage */
.mainContent {
  background: url("../images/nav.png") 0 0;
  width: 601px;
  float: right;
  padding: 20px;
  position: relative;
}
.mainContent:first-child:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -15px;
  height: 15px;
  width: 276px;
  background: url("../images/nav-shadow.png") no-repeat scroll left top transparent;
}
.mainContent:first-child:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -15px;
  height: 15px;
  width: 276px;
  background: url("../images/nav-shadow2.png") no-repeat scroll left top transparent;
}
.infoContent {
  margin: 30px 0;
}

.mainContent header {
  float: left;
}
.mainContent header .subtitle { color: #844086; }
body.companies .mainContent header .subtitle { color: #7c9c01; }
body.orderTickets .mainContent header .subtitle { color: #c8321f; }

.mainContent .contacts {
  background: none;
  color: #2e2e2c;
  width: 140px;
  line-height: 120%;
  text-align: right;
}

.mainContent nav {
  clear: both;
  padding: 66px 0 0;
  line-height: 120%;
}
.mainContent nav a {
  float: left;
  text-transform: uppercase;
  margin: 0 20px 0 0;
}

body.searchTickets .mainContent > nav {
  padding-bottom: 175px;
  background: url("../images/nav_1.png") no-repeat left bottom;
}
body.companies .mainContent > nav {
  padding-bottom: 175px;
  background: url("../images/plane.png") no-repeat left bottom;
}
body.orderTickets .mainContent > nav {
  padding-bottom: 175px;
  background: url("../images/plane2.png") no-repeat left bottom;
}
body.searchTickets .mainContent > nav a.select { color: #742879 !important; }
body.companies .mainContent > nav a.select { color: #7f9f01 !important; }
body.orderTickets .mainContent > nav a.select { color: #a22415 !important; }

/* Dash form */
#tickets {
  background: url("../images/dashedForm-1.png") no-repeat left top;
  position: relative;
  margin: 30px 0 15px;
}
#tickets:after {
  background: url("../images/dashedForm-1.png") no-repeat left bottom;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  content: "";
}
#tickets h1,
#tickets .h1 {
  position: relative;
  top: -10px;
  text-align: center;
  margin: 0 0 20px;
}

.leftSide {
  float: left;
  clear: left;
}
.rightSide {
  float: right;
  clear: right;
}

#tickets button[type=submit] {
  clear: both;
}

#tickets label {
  padding: 0 0 9px;
  display: inline-block;
  font-style: italic;
  text-align: left;
  vertical-align: top;
  font-size: 14px;
}
#tickets label > img {
  display: none;
}
#tickets label > div {
  display: inline-block;
}
#tickets label > span {
  display: inline-block;
  width: 95px;
  padding: 0 8px 0 0;
  text-align: right;
}
#tickets .rightSide {
  padding-right: 43px;
}

#tickets .leftSide input[type=text] {
  width: 187px;
}
#tickets .rightSide input[type=text] {
  width: 122px;
}
#tickets .rightSide span {
  width: 100px;
}

.showBack {
  font-style: italic;
  font-size: 14px;
  cursor: pointer;
}
#tickets .backDate {
  display: none;
}


.tickets_passAge {
  clear: both;
  background: url("../images/ticket_passAge.png") no-repeat left bottom;
  width: 386px;
  text-align: center;
  padding: 32px 0 0;
  margin: 0 auto 25px;
  position: relative;
  top: -5px;
}
#tickets .tickets_passAge label {
  line-height: 14px;
  min-width: 115px;
  text-align: right;
}
.tickets_passAge label input {
  float: right;
  width: 30px;
  font-style: normal;
  width: 18px;
  margin: -3px 6px 0;
}
#tickets .tickets_passAge label span {
  font-size: 10px;
  display: inline-block;
  line-height: 12px;
  width: auto;
  padding: 0;
}

#tickets button[type=submit] {
  display: block;
  margin: -25px auto 0;
  color: #fff;
  background: #9d2ca8;
  border: 1px #f491f4 solid;
  border-radius: 4px;
  height: 39px;
  line-height: 39px;
  font-family: "Arial Black", "Arial";
  font-weight: 900;
  padding: 0 16px;
  box-shadow: 0 -15px 30px #67246b inset,
              0 0 1px #67246b;
  position: relative;
  bottom: -20px;
  cursor: pointer;
}

.orderTickets #tickets button[type=submit] {
  background: #d53622;
  border: 1px #fe614d solid;
  box-shadow: 0 -15px 30px #c33c2b inset,
              0 0 1px 0 #c33c2b;
}


#companies{
  background: url("../images/dashedForm-2.png") no-repeat left top;
  position: relative;
  margin: 30px 0 15px;
  padding-bottom: 20px;
}
#companies:after {
  background: url("../images/dashedForm-2.png") no-repeat left bottom;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  content: "";
}
#companies h1,
#companies .h1 {
  position: relative;
  top: -10px;
  text-align: center;
  margin: 0 0 5px;
  left: 5px;
}
#companies label {
  float: left;
  font-size: 14px;
  font-style: italic;
  padding: 0 0 0 20px;
  text-align: left;
}
#companies label > span {
  display: block;
  padding: 0 8px 5px 0;
}
#companies button[type="submit"] {
  background: #a6c91f;
  border: 1px solid #cbff00;
  border-radius: 4px;
  box-shadow: 0 -15px 30px #7e9e00 inset, 0 0 1px #7e9e00;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Arial Black","Arial";
  font-weight: 900;
  height: 27px;
  line-height: 20px;
  margin: 20px 20px 0 0;
  padding: 0 16px;
  float: right;
}

.catalogue h1,
.catalogue .h1 {
  text-align: center;
  padding: 20px 0 0;
}
.catalogue section {
  border: 3px #efefef solid;
  border-radius: 15px 0 0 0;
  padding: 0 10px 20px 0;
  margin: 54px 0 64px;
  background: #fff;
  overflow: visbile;
  position: relative;
  letter-spacing: -0.3em;
}
.catalogue section:last-child {
  margin-bottom: 5px;
}
.catalogue section > header {
  width: 54px;
  height: 45px;
  line-height: 45px;
  font-family: "Arial Black","Arial";
  font-weight: 900;
  font-size: 24px;
  color: #989898;
  text-align: center;
  background: #efefef;
  border-radius: 15px;
  position: absolute;
  left: -3px;
  top: -45px;
  z-index: 0;
  letter-spacing: 0;
}
.catalogue section > header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  width: 15px;
  height: 30px;
  background: #efefef;
}
.catalogue section article {
  background: #fff;
  display: inline-block;
  width: 275px;
  border-radius: 15px 0 0 0;
  letter-spacing: 0;
  vertical-align: top;
  position: relative;
  padding: 20px 0 0 15px;
  font-size: 12px;
  font-family: "Verdana";
  line-height: 20px;
}
.catalogue section article figure {
  float: left;
  width: 88px;
}
.catalogue section article > div {
  overflow: hidden;
}
.catalogue section article a {
  color: #2e539c;
  text-decoration: underline;
}


/* Info blocks */
.infoContent article h2,
.infoContent .h2 {
  font-style: italic;
  font-size: 24px;
  border-bottom: 1px #a14ea6 solid;
  float: left;
  padding: 0 32px 0 0;
}
.infoContent article figure {
  clear: left;
  float: left;
  margin: -1px 0 0 -275px;
  padding: 3px 22px 0 0;
  width: 253px;
  border-top: 1px #a14ea6 solid;
}
.infoContent article div {
  float: right;
  font-family: "Verdana";
  font-size: 80%;
  line-height: 160%;
  margin: 5px 0 25px;
}

/* Footer */
div.footer {
  clear: both;
  background: #2e2e2c;
  border-left: 253px #e8e8e8 solid;
  font-family: "Arial Black", "Arial";
  font-weight: 900;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px 10px;
}

div.footer nav a {
  margin: 0 18px 0 0;
}
div.footer nav a:hover {
  color: #ccc;
}
div.footer nav a.select,
div.footer nav a.select:hover {
  color: #88a808;
}

.footer .footer-contacts {
  margin: 25px 0 0;
  line-height: 150%;
}

.footer a.logo {
  float: left;
  margin-left: -230px;
  margin-top: 20px;
}