/*
 * jQuery UI Datepicker 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: center; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/* Custom styles for Dost.ru */
div.ui-datepicker {
  z-index: 50 !important;
  border: 4px #7597db solid;
  border-radius: 3px;
  background: #ffffff url("images/background-datepicker.png") repeat-x bottom left;
  width: auto !important;
}
div.ui-datepicker-multi-3 {
  width: 700px !important;
}
div.ui-datepicker-multi-2 {
  width: 465px !important;
}

.ui-datepicker-multi-3 .ui-datepicker-group,
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 230px;
  height: 230px;
  margin-bottom: 2px;
}

.ui-datepicker-header {
  background: #dfe4ec;
  height: 42px;
  padding: 0;
  *width: 230px !important;
}
.ui-datepicker-year {
  display: none;
}
.ui-datepicker-month {
  font-size: 24px;
  color: #BA161A;
  line-height: 36px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  width: 44px;
  height: 44px;
}
.ui-datepicker-prev span {
  background: url("images/stuff.png") no-repeat left -1188px;
  width: 44px;
  height: 44px;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
}
.ui-datepicker-next span {
  background: url("images/stuff.png") no-repeat right -1188px;
  width: 44px;
  height: 44px;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 44px;
  text-align: center;
}

.ui-datepicker-header .ui-state-disabled {
  display: none;
}

table.ui-datepicker-calendar {
  margin: 0 10px 10px;
  width: auto;
}

.ui-datepicker th {
  font-weight: bold;
  text-align: center;
  color: #71839d;
  padding-left: 7px;
  padding-right: 7px;
}

a.ui-state-default {
  text-decoration: underline !important;
}
span.ui-state-default {
  color: #959eab;
}
.ui-datepicker td a,
.ui-datepicker td span {
  font-size: 14px;
}

.ui-datepicker .ui-state-active {
  background: #e1e4e8 url("images/background-datepicker-highlight.png") repeat-x left top;
  border: 1px #bbc4d8 solid;
}

.ui-datepicker .ui-state-highlight,
.ui-datepicker a.ui-state-highlight {
  color: #fc6700 !important;
  text-decoration: none !important;
}

.ui-datepicker-buttonpane {
  position: absolute;
  bottom: 0;
  left: -4px;
}
.ui-datepicker-current {
  display: none;
}
.ui-datepicker-close {
  position: absolute;
  top: 0;
  left: 0;
  
  border-width: 0;
  background: #7597db url("images/stuff.png") no-repeat right -1073px;
  text-decoration: underline;
  font-size: 10px;
  color: #00216c;
  padding: 0 25px 0 10px !important;
  line-height: 20px;
  border-radius: 0 0 6px 6px;
  margin: 0 !important;
}


/* Static Datepicker */
div.ui-datepicker-static {
  display: block !important;
  border: 1px #4f5d65 solid;
  border-radius: 0;
  width: 244px !important;
  padding: 2px;
}
div.ui-datepicker-static-horizontal {
  width: 738px !important;
}

div.ui-datepicker-static div.ui-datepicker-group {
  border-left-width: 0;
  padding-left: 0;
  width: 244px;
}
div.ui-datepicker-static-horizontal div.ui-datepicker-group {
  border-right: 1px #4f5d65 solid;  
}
div.ui-datepicker-static-horizontal div.ui-datepicker-group-last {
  border-right-width: 0;  
}
div.ui-datepicker-static div.ui-datepicker-header {
  *width: 244px !important; /* IE special */
}
div.ui-datepicker-static th {
  padding-left: 8px;
  padding-right: 9px;
}


/* Hardcoded datepicker */
div.datepicker-hardcode {
  width: auto !important;
  float: left;
}
div#calendarLightbox {
  padding: 0 10px 10px;
  overflow: hidden;
}