.sheduleTable td {
  padding: 5px 0;
}
.sheduleTable .tdsep {
  padding: 0;
}
.dateSelect {
  cursor: pointer;
  color: #013A7E;
  border-bottom: 1px #013A7E dashed;
}
.message-title {
  color: #BA161A;
  font-size: 18px;
  text-align: center;
  line-height: 150%;
  padding: 10px 0;
}
.lightbox-content {
  display: none;
}