/* Font sizes */
.f11 { font-size: 11px !important }
.f12 { font-size: 12px !important }
.f13 { font-size: 13px !important }
.f14 { font-size: 14px !important }
.f16 { font-size: 16px !important }
.f18 { font-size: 18px !important }
.f22 { font-size: 22px !important }
.f24 { font-size: 24px !important }
.f40 { font-size: 40px !important }

/* colors */
.gray { color: #757575 !important; }
.black { color: #000 !important; }
.blue { color: #5167a1 !important; }
.white { color: #fff !important; }

/* font styles */
.bold { font-weight: bold !important;  }
.italic { font-style: italic !important; }
.caps { text-transform: uppercase !important; }

/* font-families */
.f-arblack { font-family: "Arial Black", "Arial"; font-weight: 900; }
.f-verdana { font-family: "Verdana"; }


.container {
  width: 965px;
  margin-left: auto;
  margin-right: auto;
}

/* Float header */
#floatHeader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background: #757575 url("img/floatHeader-background.png") repeat-x left top;
}
#floatHeader nav {
  float: left;
  widtH: 50%;
  padding: 11px 0;
  line-height: 14px;
}
#floatHeader nav a {
  color: #fff;
  display: inline-block;
  background: url("img/floatHeader-aBorder.png") no-repeat right 50%;
  padding: 0 7px 0 5px;
}
#floatHeader nav a:last-child {
  background: none;
  padding-right: 0;
}

/* Header */
#head {
  margin-top: 42px;
  padding: 0 0 20px;
}
#head .head-left {
  float: left;
  width: 282px;
  padding: 25px 0 0 11px;
  text-align: right;
}
#head .head-left > div {
  margin: 0 0 10px 0;
}
#head .head-left .f18 img,
#head .head-left .f18 span { vertical-align: middle;}
#head .head-left .f18 img { margin-right: 8px; }
#head .head-left .towns {
  background: none;
  float: none;
  height: 65px;
  padding: 5px 0 0 10px;
  position: relative;
  width: auto;
  height: auto;
}
#head .head-left .towns ul {
  display: none;
  left: 10px;
  position: absolute;
  top: 27px;
  z-index: 3;
  width: auto;
  left: auto;
  right: 0;
}

#head .logo {
  text-align: right;
  float: left;
  width: 234px;
  margin: 23px 0 0 10px;
  padding: 12px 79px 0 0;
  background: url("img/logo-top.png") no-repeat right top;
}
#head .logo .f40 {
  line-height: 24px;
  background: url("img/logo-textBackground.png") no-repeat right top;
  padding: 4px 9px 0 0;
  display: inline-block;
  height: 87px;
}

#head .contacts {
  float: right;
  width: 294px;
  position: relative;
  padding: 32px 0 0;
}
#head .contacts > div {
  margin: 0 0 9px 0;
}
#head .contacts div.profile {
  font-family: "Verdana";
  font-size: 12px;
  left: auto;
  margin: 0;
  padding: 0 10px 10px;
  position: absolute;
  top: 100px;
  z-index: 10;
}

/*----------------------------------------*/
/*         Route select styles            */
/*----------------------------------------*/
#route ul {
  text-align: center;
  margin: 0;
  padding: 12px 0 0;
  background: url("img/route-ul.png") no-repeat 50% top;
  height: 36px;
}
#route ul li {
  display: inline-block;
  position: relative;
  background: url("img/route-li.png") no-repeat 50% bottom;
  width: 320px;
  height: 36px;
  line-height: 36px;
  margin: 0 -40px;
  z-index: 1;
}
#route ul li.ui-tabs-active {
  background: url("img/route-li.png") no-repeat 50% top;
  z-index: 2;
  width: 380px;
}
#route ul a {
  color: #fff;
  font-family: "Verdana";
  text-decoration: none;
  padding: 0 50px;
  display: block;
}
#route ul li.ui-tabs-active a {
  color: #000;
  padding: 0 85px;
}
#route ul li span[target='from'] {
  float: left;
}
#route ul li span[target='to'] {
  float: right;
}
#route .switch{
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: top;
  background: url("img/stuff.png") no-repeat right top;
  margin-top: 6px;
}
#route .ui-tabs-active .switch{
  background: url("img/stuff.png") no-repeat left top;
}
#route .ui-tabs-active .switch:hover {
  background: url("img/stuff.png") no-repeat -25px top;
}

#route .route-info {
  padding: 25px 0 0;
}

.route-stations-select {
  height: 60px;
  background: url("img/station-select.png") repeat-x left top;
  border-radius: 30px;
  padding: 0 25px;
  position: relative;
}
.route-stations-finish {
  background: url("img/station-select-mover.png") no-repeat left bottom;
  float: left;
  position: relative;
  overflow: visible !important;
}
.route-stations-finish > span {
  display: block;
  float: right;
  width: 34px;
  height: 29px;
  background: url("img/station-select-mover.png") no-repeat right bottom;
  cursor: pointer;
  margin-right: -17px;
  position: relative;
  z-index: 2;
}

.route-stations-start {
  background: url("img/station-select-mover.png") no-repeat left top;
  float: left;
  position: relative;
  z-index: 2;
  overflow: visible !important;
}
.route-stations-start > span {
  display: block;
  float: right;
  width: 34px;
  height: 29px;
  background: url("img/station-select-mover.png") no-repeat right top;
  cursor: pointer;
  margin-right: -17px;
  position: relative;
}
.route-stations table {
  width: 100%;
  background: url("img/station-select-table.png") no-repeat 50% top;
  height: 42px;
  width: 924px;
  margin: 0 auto;
  padding: 0 8px;
  position: relative;
  top: -39px;
  z-index: 1;
}
.route-stations table td {
  padding: 4px 0;
}
.route-stations table td div {
  height: 24px;
  padding: 5px 0;
}
.route-stations table td span {
  display: block;
  background: url("img/station-select-item.png") no-repeat right top;
  text-align: center;
  line-height: 24px;
  border-radius: 12px;
  margin: 0 2px;
  padding: 0 5px;
}
.route-stations table td.select-f {
  background: url("img/station-select-td-select-f.png") no-repeat right  top;
  background-size: 100% 40px;
}
.route-stations table td.select-l {
  background: url("img/station-select-td-select-l.png") no-repeat left top;
  background-size: 100% 40px;
  padding: 0;
}
.route-stations table td.select-b {
  background: url("img/station-select-td-select-b.png") repeat-x 50% top;
}
.route-stations table td.select-f.select-l {
  background: none;
}

.route-stations table td.select-f span,
.route-stations table td.select-l span {
  background: url("img/station-select-item.png") no-repeat 50% -25px;
  color: #fff;
}
.route-stations table td.select-b span {
  background: url("img/station-select-item.png") no-repeat right -50px;
}

.route-stations table td span span {
  background: none !important;
  display: inline-block;
  width: 12px;
  height: 8px;
  padding: 0 !important;
  margin: 0 -12px 0 4px;
  border-radius: 0;
}
.route-stations table td.select-f span span {
  background: url("img/stuff.png") no-repeat right -115px !important;
}

.routeTitle,
.dateSelect-title {
  text-align: center;
}
.routeTitle {
  position: relative;
  top: -15px;
  margin: -5px;
}
#selectIn {
  margin: 30px 0;
  width: 921px;
  padding: 1px 20px 17px 20px;
}
div#calendar {
  width: 900px;
}

button.trainSel {
    background: -moz-linear-gradient(center bottom , #1C7627 0%, #41B861 100%) repeat scroll 0 0 #2B913F;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: verdana,sans-serif;
    height: 31px;
    margin: 0 0 0 4px;
    text-align: center;
    text-decoration: none;
    width: 103px;
    padding: 0;
}
button.trainNotSel {
    background: -moz-linear-gradient(center bottom , #5C5C5C 0%, #B9B9B9 100%) repeat scroll 0 0 #727272;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-family: verdana,sans-serif;
    height: 31px;
    margin: 0 0 0 4px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 103px;
}
button.trainSel span {
    background: url("img/profile_button_arrows.png") no-repeat scroll 10px 13px transparent !important;
    display: block;
    line-height: 28px;
    padding: 0 0 0 10px;
    margin: -3px 0 0;
}