div.phone {
  padding-top: 0 !important;
  position: relative;
  *z-index: 10;
}
div.profile-link a {
  display: block;
  padding: 0 0 0 15px;
  background: url("img/profile_arrows.png") no-repeat 0 7px;
  line-height: 22px;
  border-bottom: 1px #013a7e dashed;
  float: left;
}
div.profile-link a:hover {
  border-bottom: none;
  padding-bottom: 1px;
}
div.profile-block {
  display: none;
}

div.profile-opened {
  border: #546aa4 2px solid;
  border-radius: 6px;
  background: #dcdcdc url("img/profile_background.png") repeat-x left top;
  width: 250px;
  margin: 0 0 0 -12px;
}
div.profile-opened div.profile-link a {
  background-position: 0 -9px;
}
div.profile-opened div.profile-block {
  display: block;
  clear: left;
  padding: 10px 0 0;
}
div.profile-inputForm {
  overflow: hidden;
  padding: 4px 0;
}
div.profile-inputForm-caption {
  width: 70px;
  float: left;
  padding: 0 0 0 4px;
  color: #000000;
  line-height: 23px;
}
div.profile-inputForm-field {
  width: 167px;
  float: right;
  padding: 0 0 0 4px;
}
div.profile-inputForm-field input {
  width: 158px;
  border: 1px #546aa4 solid;
  background: url("img/profile_inputBackground.png") repeat-x left top;
  height: 23px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}
div.profile-inputForm-field button {
  background: url("img/profile_button.png") no-repeat left top;
  width: 80px;
  height: 31px;
  color: #ffffff;
  border-width: 0;
  padding: 0;
}
div.profile-inputForm-field button span {
  display: block;
  line-height: 31px;
  background: url("img/profile_button_arrows.png") no-repeat 10px 13px;
  padding: 0 0 0 10px;
}
div.profile-inputForm-sub {
  padding: 10px 0 0;
  float: right;
  width: 167px;
  clear: right;
}
div.profile-inputForm-sub a { text-decoration: underline !important; }
div.profile-inputForm-sub a:hover { text-decoration: none !important; }