.fmWrap2 {
  padding-bottom: 22px;
}
.fmWrap3 {
  padding-bottom: 64px;
}
.fmWrap2 h2 {
  background: url("http://biletnasapsan.ru/img/bgForm.png") no-repeat scroll right top transparent;
  padding: 8px 50px 0 20px;
  margin-bottom: 10px;
  float: left;
  width: auto;
  border-radius: 6px 0 0 0;
}

.passangerDel {
  float: right;
  padding: 8px 15px 0px 0;
}
.passangerDel a {
  text-decoration: none;
}

.passangerData {
  clear: both;
  margin: 0 0 0 198px;
}

.passangerData .flL {
  color: #000000;
  padding: 6px 9px 0 0;
}

.passangerData .flL label {
  display: block;
  margin-bottom: 6px;
}

.passangerType {
  clear: both;
  padding: 1px 0;
  margin: 0 0 0 170px;
  font-size: 14px;
}
.passangerType img {
  display: block;
  margin: 10px 0;
}
.passangerType a {
  color: #000000;
  text-decoration: none;
}

div.passangerAdd {
  text-align: center;
  padding: 0 0 21px;
}
div.passangerAdd-type {
  padding: 0 0 12px;
}
div.passangerAdd-type label {
  margin: 0 28px 0 0;
}

div.passangerDataPersonal {
  clear: left;
  margin: 0 143px 0 277px;
}
div.passangerDataPersonal label {
  display: block;
  padding: 7px 0 7px;
}
div.passangerDataPersonal-selected {
  background: #99a6ca url("img/background_diagonal.png") no-repeat right top;
  color: #ffffff;
  padding: 0px 0 16px 34px;
  margin-top: 10px;
  margin-left: 243px;
}
div.passangerDataPersonal-descr {
  float: right;
  width: 290px;
  padding: 17px 25px 0 0;
  font-size: 14px;
  line-height: 16px;
}
div.passangerDataPersonal textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #4F545A;
  color: #4F545A;
  font-size: 18px;
  height: 90px;
  width: 404px;
}

.passangerPay {
  clear: both;
  margin: 0 0 0 310px;
}
.passangerPay ul {
  list-style-type: none;
  padding: 10px 0 0;
  margin: 0;
}
.passangerPay ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("img/pay-icons.png") no-repeat left top;
  vertical-align: top;
  padding: 55px 50px 0 0;
}
.passangerPay ul li.passangerPay-yandex { background-position: 0 -168px; }
.passangerPay ul li.passangerPay-wm { background-position: 0 -353px; }

.passangerPay ul li label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding: 3px 0 0 0;
}

button.ticketChange {
  text-decoration: underline;
  color: #013a7e;
  line-height: 29px;
  border: 1px #546aa4 solid;
  border-radius: 5px;
  padding: 0 20px;
  background: #d6d6d6 url("img/gradient-button.png") repeat-x left top;
}