#trainTable table {
  table-layout: fixed;
  width: 100%;
}
#trainTable td {
  padding: 0 1px 1px 0;
  vertical-align: middle;
}
#trainTable thead td {
  padding-bottom: 3px;
}
#trainTable thead span {
  display: block;
  border-bottom: 3px #bababa solid;
  line-height: 28px;
}
#trainTable tbody td {
  text-align: center;
}
#trainTable tbody span {
  display: block;
}
#trainTable .trainID { width: 97px; }
#trainTable .trainTimeDp { width: 115px; }
#trainTable .trainTimeAr { width: 115px; }
#trainTable .trainTimeTotal { width: 115px; }
#trainTable .trainClass { width: 120px; }
#trainTable .trainPrice { width: 120px; }
#trainTable .trainQuantity { width: 120px; }
#trainTable .trainOrder { width: 100%; }

#trainTable tbody .trainID span, 
#trainTable tbody .trainTimeDp span,
#trainTable tbody .trainTimeAr span,
#trainTable tbody .trainTimeTotal span {
  font-size: 24px;
  background: #ebebeb;
  color: #2d395b;
  border: 1px #c6c6c6 solid;
  line-height: 69px;
}
#trainTable tbody .trainClass span,
#trainTable tbody .trainPrice span,
#trainTable tbody .trainQuantity span {
  font-size: 18px;
  background: #ebebeb;
  color: #2d395b;
  border: 1px #c6c6c6 solid;
  line-height: 33px;
}
#trainTable tbody .trainTimeDp span { color: #b91419; }
#trainTable tbody .trainClass span { line-height: 31px; }
#trainTable tbody .trainClass a {
  color: #7c7c7c;
  text-decoration: none;
  border-bottom: #7c7c7c 1px dashed;
  font-size: 12px;
}
#trainTable tbody .trainClass a:hover {
  text-decoration: none;
  border-bottom: #7c7c7c 0px dashed;
}

#trainTable tr.trainLight span {
  background: #f3f3f3;
  border-color: #dedede;
}

tr.trainSep td {
  height: 5px;
}
tr.trainSep div {
  border-top: 1px #ababab solid;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}