.win-place{
	width:404px;
	border:3px solid #546aa4;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	background-image:url(images/bg.gif);
	background-image:-webkit-linear-gradient(bottom, rgb(220,220,220) 0%, rgb(249,249,249) 100%);
	background-image:-moz-linear-gradient(bottom, rgb(220,220,220) 0%, rgb(249,249,249) 100%);
	background-image:-o-linear-gradient(bottom, rgb(220,220,220) 0%, rgb(249,249,249) 100%);
	background-image:linear-gradient(bottom, rgb(220,220,220) 0%, rgb(249,249,249) 100%);
	padding:1px 11px 13px 16px;
	overflow:hidden;
	position: absolute;
    z-index: 999;
}
.class-place a{
	background: url(images/profile_arrows.png) no-repeat 2px -13px;
	border-bottom: 1px dashed #013A7E;
	display: inline;
	line-height: 22px;
	padding: 0 0 2px 13px;
	text-decoration:none;
}
.win-place p{
	margin:10px 0 15px;
}
.win-place form{
	margin:0 0 0 301px;
}
a.close{
	font-size:10px;
	float:left;
	margin:10px 0 0;
}