div.ui-datepicker {
  z-index: 100;
}
#ui-datepicker-div {
  border: 10px solid #84A2DD;
  padding: 11px 4px 11px 14px;
  border-radius: 10px;
}
div.ui-datepicker-rail {
  border-color: #35754d !important;
}

table.ui-datepicker-calendar {
  background: #ededed;
}
.ui-datepicker-header {
  border: 1px #7D9BD9 solid;
  background: #7D9BD9;
  border-radius: 10px 10px 0 0;
}
div.ui-datepicker-rail .ui-datepicker-header {
  border: 1px #35754d solid;
  background: #35754d;
}

.ui-datepicker-week-end {
  color: #BA4000;
}
.ui-datepicker-calendar th span {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.ui-datepicker-title {
  font-weight: normal;
  font-size: 16px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  border: 1px solid #6785c5;
  background: #99afdc;
}
div.ui-datepicker-rail .ui-state-highlight, div.ui-datepicker-rail .ui-widget-content .ui-state-highlight {
  border: 1px solid #7bc567;
  background: #99dc99;
}

.ui-state-default, .ui-widget-content .ui-state-default {
  color: #000000;
  font-size: 16px;
}
.ui-datepicker-week-end .ui-state-default {
  color: #BA4000;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  background: #c0d0f2;
  border: 1px solid #c0d0f2;
  color: #000000;
  font-weight: bold;
  outline: medium none;
}
.ui-state-active, .ui-widget-content .ui-state-active {
  background: #d5ddf0;
  border: 1px solid #728abd;
  color: #000000;
  font-weight: bold;
}
div.ui-datepicker-rail .ui-state-active, div.ui-datepicker-rail .ui-widget-content .ui-state-active {
  background: #d6f0d5;
  border: 1px solid #72bd7d;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
  background: none;
  border: none;
  color: #000000;
  font-weight: bold;
  outline: medium none;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  top: 6px;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 32.3%;
  margin: 0 1% 0 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  cursor: pointer;
  float: right;
  margin: 8px 0 0 0;
  overflow: visible;
  padding: 0;
  width: auto;
  font-size: 14px;
  font-weight: normal;
  border-width: 0;
  background: none;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
  display: none;
}