@charset "windows-1251";

a.firm:link, a.firm:visited, a.firm:hover, a.firm:active {
	background: url(img/indexLink.gif) no-repeat;
	margin-right: 5px;
}
.selectPass {
	background: #576fac url(img/bgSelPass.gif) repeat-x top;
}
.selForBack {
	background: url(img/bgSelForBack.gif) no-repeat;
}
.selForBackRail {
	background: url(img/bgSelForBackRail.gif) no-repeat;
	margin-left: 21px;
}
.aviaFormBack {
	background: #576fac url(img/bgAviaFm.jpg) no-repeat top;
}
.wrapper {
	zoom: 1;
}
.aviaFormOther {
	background: #576fac url(img/bgAviaFm.jpg) no-repeat top;
}
.railFormOther {
	background: #50976c url(img/bgRailFm.jpg) no-repeat top;
}
.railFormBack {
	background: #50976c url(img/bgRailFm.jpg) no-repeat top;
}
tr.infoRail td .flL {
	background: url(img/bgClassSelRail.gif) no-repeat;
	margin-right: 10px;
}
.aviaFormPopular {
	background: #576fac url(img/popBg.gif) no-repeat top;
}
a.topTab:link, a.topTab:visited, a.topTab:hover, a.topTab:active {
	margin-right: 1px;
}
a.topTabA:link, a.topTabA:visited, a.topTabA:hover, a.topTabA:active {
	margin-right: 1px;
}
.aviaFormServ {
	background: #556caa url(img/bgOtlov.jpg) no-repeat top;
}