.aWidget-steps .clear,
.aWidget .clear {
  clear: both;
}
.aWidget-steps .clearfix {
  zoom: 1;
}
.aWidget-steps .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.aWidget img,
.aWidget-steps img {
  border-width: 0;
}


/* -------------------------------------------- */
/* Common styles */
/* -------------------------------------------- */

.aWidget_input_text input[type=text] {
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
}
.aWidget_input_checkbox input[type=checkbox] {
  vertical-align: middle;
}
.aWidget label > span {
  line-height: 26px;
}

.aWidget_input_date input[type=text] {
  background-image: url("../images/calendar.png");
  background-repeat: no-repeat;
  background-position: right 50%;
}
.aWidget_input_airport input[type=text],
.aWidget_input_age input[type=text],
.aWidget-field-age input[type=text],
.aWidget-field-citizenship input[type=text],
.aWidget-field-phone label + input,
.aWidget_input_class input[type=text] { 
  background-image: url("../images/dropdown.png");
  background-repeat: no-repeat;
  background-position: right 50%;
  padding-right: 61px;
}

label.aWidget_input_text {
  position: relative;
}
.aWidget_airportCode {
  position: absolute;
}

.aWidget button[type=submit],
.aWidget_passengers button[type=submit],
.aWidget-steps-content button[type=submit] {
  background-repeat: repeat-x;
  background-position: left top;
  height: 39px;
  line-height: 39px;
  font-family: "Georgia", "Times New Roman";
  font-size: 12px;
  color: #1e3c70;
  border: 1px #a0b9d0 solid;
  border-radius: 3px;
  padding: 0 22px;
  box-shadow: 0 3px 4px -1px #fff inset;
  cursor: pointer;
}

.aWidget-dashed,
.aWidget-dashed:hover {
  text-decoration: none;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  cursor: pointer;
}
.aWidget-dashed:hover {
  color: #a80103 !important;
  border-color: #a80103 !important;
}

.aWidget-title {
  font-size: 14px;
  font-family: "Georgia", "Times New Roman";
}

/*datepicker */

div.ui-datepicker {
  display: none;
  border-width: 3px;
  border-style: solid;
  padding: 7px;
}
div.ui-datepicker:before {
  content: "";
  position: absolute;
  left: -3px;
  top: -23px;
  width: 28px;
  height: 20px;
  background: url("../images/calendar.png") no-repeat 6px 6px;
  border-width: 3px;
  border-style: solid;
  border-bottom-width: 0;
}
a.ui-datepicker-prev,
a.ui-datepicker-next {
  text-indent: -10000px;
  float: left;
  width: 7px;
  height: 7px;
  background: url("../images/datepicker_arrows.png") no-repeat left top;
  margin: 7px 10px 0;
  cursor: pointer;
}
a.ui-datepicker-next {
  background-position: right top;
  float: right;
}
.ui-datepicker-title {
  text-align: center;
  font-family: "Georgia";
  font-size: 16px;
  color: #393939
}
.ui-datepicker-calendar thead span {
  font-family: "Arial";
  font-size: 8px;
  font-weight: normal;
  text-transform: uppercase;
}
.ui-datepicker-calendar {
  border-collapse: collapse;
}
.ui-datepicker-calendar tbody td {
  border-width: 1px;
  border-style: solid;
  font-family: "Verdana";
  font-size: 12px;
  color: #333;
  width: 29px;
  height: 29px;
  line-height: 29px;
  text-align: center;
}
.ui-datepicker-calendar tbody td a {
  color: #0c3a72;
  text-decoration: none;
}
.ui-datepicker-calendar tbody td {
  background-repeat: repeat-x;
  background-position: bottom left;
  box-shadow: 1px -1px 0 0 #fff inset;
}
.ui-datepicker-calendar .ui-state-disabled {
  background-image: none;
}


/*--------------------------------*/
/* VAR 1 Fields for step 1 */
/*--------------------------------*/

.aWidget.aWidget_var1 {
  padding: 19px;
  width: 700px;
}

.aWidget.aWidget_var1 .title {
  display: none;
}
.aWidget.aWidget_var1 .aWidget_block {
  float: left;
  width: auto;
  padding: 0;
}
.aWidget.aWidget_var1 .aWidget_block:first-child {
  background-image: url("../images/aWidget-plane.png");
  padding: 0 42px 0 0;
  background-repeat: no-repeat;
  background-position: right 5px;
  width: inherit;
}

.aWidget.aWidget_var1 .aWidget_block label,
.aWidget.aWidget_var1 .aWidget_input_airport {
  display: block;
  padding: 0;
  margin: 0;
  width: auto;
}
.aWidget.aWidget_var1 label.aWidget_input_text:first-child {
  float: right;
  margin: 0 0 10px;
  padding: 0;
}
.aWidget.aWidget_var1 label.aWidget_input_date {
  clear: right;
  float: right;
}
.aWidget.aWidget_var1 label.aWidget_input_checkbox { 
  clear: right;
  float: left;
}
.aWidget.aWidget_var1 .aWidget_input_age {
  margin-right: 20px;
}

.aWidget.aWidget_var1 label.aWidget_input_text > span { display: none; float: left; }
.aWidget.aWidget_var1 label.aWidget_input_date > span {
  display: block;
  padding: 0 5px 0 0;
}
.aWidget.aWidget_var1 .aWidget_block label.aWidget_input_text > span {
  display: none;
}

.aWidget.aWidget_var1 .aWidget_input_age input[type=text] {
  width: 20px;
  padding-right: 23px;
}
.aWidget.aWidget_var1 label.aWidget_input_text input[type=text], 
.aWidget.aWidget_var1 #aWidget_from,
.aWidget.aWidget_var1 #aWidget_to,
.aWidget.aWidget_var1 #aWidget_dateBack {
    width: 162px;
}
.aWidget.aWidget_var1 label.aWidget_input_date input[type=text],
.aWidget.aWidget_var1 #aWidget_dateTo,
.aWidget.aWidget_var1 #aWidget_dateBack {
    width: 108px;
}

.aWidget.aWidget_var1 button[type='submit'] { float: right; }
.aWidget.aWidget_var1 a.aWidget-dashed { float: right; clear: right; }

.aWidget.aWidget_var1 button + .aWidget-dashed {
  margin-top: 5px;
  font-size: 90%;
}
.aWidget.aWidget_var1 label.aWidget_input_text > span.aWidget_airportCode {
  display: block;
  position: absolute;
  right: 30px;
  top: 1px;
  padding: 0;
  text-align: right !important;
}

.aWidget.aWidget_var1 .aWidget_passengers {
  display: none;
}
.aWidget.aWidget_var1 .aWidget-dashed:last-child {
    display: inline-block;
}


/* Colorbox */
#cboxLoadedContent {
  padding: 15px;
}

/* Autocomplete */
ul.ui-autocomplete {
  background: #fff;
  border: 1px #000 solid;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Verdana";
  font-size: 12px;
  max-height: 150px;
  overflow-y: scroll;
}
ul.ui-autocomplete li {
  margin: 0;
  padding: 0;
}
ul.ui-autocomplete li a {
  display: block;
  padding: 2px 5px;
  cursor: pointer;
}
ul.ui-autocomplete li a:hover {
  background: #f0f0f0;
}



/* -------------------------------------------- */
/* Steps styles */
/* -------------------------------------------- */
div.aWidget-steps {
  width: 938px;
  padding: 10px 10px;
  margin: 74px 0 0;
  position: relative;
}
ul.aWidget-nav {
  list-style-type: none;
  margin: 0 3px;
  padding: 0;
  position: absolute;
  top: -68px;
  left: 0;
  width: 952px;
  height: 68px;
}
ul.aWidget-nav li {
  float: left;
  padding: 20px 10px 18px 30px;
  font-family: "Georgia", "Times New Roman";
  font-size: 14px;
  height: 44px;
}
ul.aWidget-nav li.aWidget-nav-active {
  border-bottom-width: 0 !important;
  margin: -3px 0 0 -3px;
  padding: 12px 24px 15px 30px;
  font-size: 16px;
}
ul.aWidget-nav li.aWidget-nav-active:first-child {
  font-size: 18px;
}
ul.aWidget-nav li span,
ul.aWidget-nav li br.aWidget-active {
  display: none;
}
ul.aWidget-nav li.aWidget-nav-active span {
  font-size: 14px;
  display: inline-block;
}
ul.aWidget-nav li.aWidget-nav-active span span.aWidget-dashed {
  cursor: pointer;
}

div.aWidget-steps .aWidget {
  width: auto;
}

div.aWidget_ticketClass {
  display: none;
}

/* Step 1 content */
.aWidget-steps-content {
  padding: 28px 0 0;
}

.aWidget-rightSide {
  float: right;
  width: 280px;
  background: #fff;
}

.aWidget-centerSide {
  float: none;
  width: 645px;
}

.aWidget-ticketList-sort {
  color: #0c3a72;
  font-size: 11px;
  font-family: "Verdana";
}
.aWidget-ticketList-sort .aWidget-title {
  padding: 0 22px 0 15px;
}
.aWidget-ticketList-sort-select {
  color: #a80103;
  border-color: #a80103;
}

.aWidget-ticketList {
  float: left;
  width: 645px;
}
.aWidget-ticketList-item {
  border: 3px #c3d9e8 solid;
  margin: 8px 0 16px;
  padding: 7px;
  background: #fff;
}
.aWidget-ticketList-price {
  float: left;
  font-size: 18px;
  font-family: "Verdana";
  color: #000;
  padding: 2px 0 0 8px;
}
.aWidget-airLogo {
  float: right;
}
.aWidget-steps-content .aWidget-ticketList-price button {
  height: 30px;
  line-height: 24px;
  background-position: left 50%;
  margin: 0 0 0 10px;
  vertical-align: middle;
}

.aWidget-flyData-to {
  float: left;
  width: 306px;
}
.aWidget-flyData-from {
  float: right;
  width: 306px;
}

.aWidget-flyData-data {
  width: 306px;
}

.aWidget-flyData-title {
  background: #f6f6f6;
  padding: 7px;
  color: #a80103;
  margin: 8px 0 0;
}
.aWidget-flyData-title span {
  font-size: 14px;
  font-family: "Verdana";
  display: inline-block;
  vertical-align: top;
}
.aWidget-flyData-title span span {
  font-size: 11px;
  color: #7a7a7a;
  display: block;
}

.aWidget-flyData-input {
  float: left;
  width: 30px;
  padding: 0 0 0 7px;
}
.aWidget-flyData-departure {
  float: left;
  width: 67px;
  padding: 0;
}
.aWidget-flyData-arrival {
  float: left;
  width: 67px;
  padding: 0;
}
.aWidget-flyData-total {
  float: left;
  width: 130px;
  padding: 0;
}

.aWidget-flyData-item {
  font-family: "Arial";
  font-size: 11px;
  color: #818181;
}
.aWidget-flyData-item-head {
  overflow: hidden;
  border-bottom: 1px #818181 dotted;
  padding: 5px 0 2px;
  display: none;
}
.aWidget-flyData-title + .aWidget-flyData-item > .aWidget-flyData-item-head {
  display: block;
}

.aWidget-flyData-item-body label {
  display: block;
  padding: 3px 0 0;
}

.aWidget-flyData-departure span,
.aWidget-flyData-arrival span,
.aWidget-flyData-total span {
  font-size: 18px;
  display: block;
  line-height: 20px;
}

.aWidget-flyData-item-addInfo {
  padding: 4px 0 0;
}
.aWidget-flyData-item-addInfo > p {
  margin: 0;
  padding: 0 0 0 37px;
  float: left;
}
.aWidget-flyData-item-addInfo ol {
  margin: 0;
  padding: 0 0 0 15px;
  overflow: hidden;
}
.aWidget-flyData-item-addInfo ol li {
  margin: 0 0 0 5px;
  padding: 0;
}
.aWidget-flyData-item-hidden {
  border-top: 1px #818181 dotted;
  box-shadow: 0 -10px 0 #f6f6f6;
  margin: 15px 0 0;
  min-height: 10px;
  position: relative;
}
.aWidget-flyData-item-hidden-link {
  position: absolute;
  height: 10px;
  line-height: 10px;
  background: #fff url("../images/arrow_blue.png") no-repeat 10px 3px;
  color: #0c3a72;
  font-size: 7px;
  text-transform: uppercase;
  top: -11px;
  right: 0;
  border-left: 1px #818181 dotted;
  border-top: 1px #818181 dotted;
  padding: 0 8px 0 22px;
  box-shadow: 0 -10px 0 #f6f6f6, -10px -10px 0 #f6f6f6;
  cursor: pointer;
}
.aWidget-flyData-item-hidden-open,
.aWidget-flyData-item-hidden-open .aWidget-flyData-item-hidden-link {
  background: #f6f6f6;
  box-shadow: none;
}
.aWidget-flyData-item-hidden-open .aWidget-flyData-item-hidden-link {
  background: #f6f6f6 url("../images/arrow_blue.png") no-repeat 10px -43px;
}

.aWidget-flyData-item-hidden-body {
  padding: 6px 20px 6px 37px;
}


/* Filter */
.aWidget-filter {
  font-size: 11px;
  font-family: "Arial";
  color: #808080;
  padding: 14px 23px;
  background: url("../images/filter-background.png") repeat-x left bottom;
}
.aWidget-filter .aWidget-title {
  color: #404040;
  padding-bottom: 10px;
  clear: left;
}
.aWidget-filter-item {
  margin: 0 0 15px;
  color: #878787;
}
.aWidget-filter-title {
  color: #404040;
  clear: left;
  padding: 5px 0;
}

.aWidget-filter-class {
  float: left;
  width: 100px;
  overflow: hidden;
}
.aWidget-filter-currency {
  float: right;
  width: 116px;
  overflow: hidden;
}
.aWidget-filter-item label {
  float: left;
  clear: left;
}

.aWidget-scaleWrapper {
  padding: 5px 0 5px;
  clear: left;
  position: relative;
  height: 40px;
  width: 170px;
  margin: 0 0 0 12px;
}
.aWidget-scale {
  height: 5px;
  width: 170px;
  box-shadow: 0 0 1px #93b6cd inset;
  background: #c6d7e3;
  position: absolute;
  overflow: visible;
  z-index: 0;
  top: 14px;
  overflow: hidden;
}
.aWidget-scaleEnd_wrapper {
  overflow: hidden;
  height: 23px;
  background: url("../images/scale.png") no-repeat right -37px;
  position: relative;
  z-index: 1;
}
.aWidget-scaleStart_wrapper {
  overflow: hidden;
  height: 23px;
  background: url("../images/scale.png") no-repeat right top;
  position: relative;
  z-index: 1;
}
.aWidget-scaleStart_wrapper span,
.aWidget-scaleEnd_wrapper span {
  float: right;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.aWidget-scale-digits-start {
  float: left;
  margin: 0 0 0 -12px;
}
.aWidget-scale-digits-end {
  float: right;
  margin: 0 -12px 0 0;
}

.aWidget-filter-select {
  color: #a80103;
}

.aWisget-filter-tabs ul {
  list-style-type: none;
  margin: 5px 0 0;
  padding: 0;
  overflow: hidden;
  float: left;
}
.aWisget-filter-tabs ul li {
  margin: 0;
  padding: 0;
  float: left;
  border-bottom: 1px #d0d0d0 solid;
}
.aWisget-filter-tabs ul li:first-child {
  padding-right: 10px;
}
.aWisget-filter-tabs ul li:last-child {
  padding-left: 10px;
  border-left: 1px #d0d0d0 solid;
}
.aWisget-filter-tabs .ui-tabs-selected {
  border-top: 1px #d0d0d0 solid;
  border-bottom-width: 0;
}
.aWisget-filter-tabs ul li a {
  color: #808080;
  text-decoration: none;
}
.aWisget-filter-tabs .ui-tabs-hide {
  display: none;
}

.aWidget-filter-showAll,
.aWidget-filter-off {
  clear: left;
  padding: 5px 0 5px 24px;;
}

/*---------------------------------*/
/* Step 2 content */
/*----------------------------------*/

.aWidget-step2,
.aWidget-step3 {
  font-family: "Verdana";
  font-size: 12px;
}
.aWidget-step2 .aWidget-steps-content {
  padding: 0px 7px;
}
.aWidget-step2 .aWidget-ticketList,
.aWidget-step3 .aWidget-ticketList {
  float: none;
  width: auto;
}
.aWidget-ticketList-choosed {
  float: left;
  width: 228px;
  padding: 0 16px 0 26px;
}

.aWidget-step2 .aWidget-title,
.aWidget-step3 .aWidget-title {
  color: #a80103;
  font-size: 16px;
  border-bottom: 1px #636363 dotted;
  line-height: 30px;
}
.aWidget-ticketList-choosed-price {
  float: none;
  padding: 10px 0 0;
}
.aWidget-ticketList-choosed-place {
  color: #767676;
}
.aWidget-step2 .aWidget-airLogo,
.aWidget-step3 .aWidget-airLogo{
  float: none;
  margin: 0 10px 0 0;
}
.aWidget-step2 .aWidget-flyData-title {
  margin-top: 0;
}

.aWidget-orderer-body {
  padding: 15px 0;
}

.aWidget-orderer label,
.aWidget-orderer .label {
  display: inline-block;
  margin: 0 15px 0 0;
}
.aWidget-field-phone label {
  margin-right: 0;
}

.aWidget-field-email input,
.aWidget-field-phone input,
.aWidget-field-name input { width: 165px; }
.aWidget-field-phone label + input { width: 72px; padding-right: 25px !important; }

.aWidget-passangers > a,
.aWidget-orderer > a {
  float: right;
  margin: 10px 0 0;
}

.aWidget-passangers-item {
  background: #c3d9e8;
  margin: 23px 0 -5px;
  padding: 12px 0 12px 130px;
}
.aWidget-passangers label,
.aWidget-passangers .label {
  float: left;
  margin: 0 29px 8px 0;
}
.aWidget-passangers-item-title {
  float: left;
  margin: -12px 0 0 -130px;
  background: #fff;
  padding: 0 13px 5px 0;
  color: #3f3f3f;
  font-family: "Georgia", "Times New Roman";
  font-size: 16px;
  line-height: 16px;
}

.aWidget-passangers-item .aWidget_input_text span {
  display: block;
  padding: 2px 0;
}
.aWidget-field-citizenship {
  clear: left;
}

.aWidget-field-age input { width: 25px; padding-right: 25px !important;}
.aWidget-field-fname input,
.aWidget-field-lname input,
.aWidget-field-document input { width: 175px; }
.aWidget-field-documentPeriod input { width: 102px; }
.aWidget-field-citizenship input { width: 155px; padding-right: 25px !important }

.aWidget-field-sex {
  height: 48px;
}
.aWidget-field-sex label {
  float: none;
  display: inline;
  margin: 0 10px 0 0;
}
.aWidget-field-sex input[type=radio] {
  margin-left: 0;
  margin-top: 7px;
}

.aWidget-submit {
  padding: 31px 0 20px;
}
.aWidget-submit button {
  margin-right: 18px;
}
.aWidget-submit .aWidget-button-light[type="submit"] {
  background-image: url("../images/button_submit_light.png");
}

a.aWidget_btn_rules {
  display: inline-block;
  text-indent: -10000px;
  width: 136px;
  height: 11px;
  background: url("../images/btn_rules.png") no-repeat left top;
  margin-top: 13px;
}

a.aWidget_btn_newSearch {
  display: inline-block;
  text-indent: -10000px;
  width: 69px;
  height: 11px;
  background: url("../images/btn_newSearch.png") no-repeat left top;
  margin-top: 3px;
}

a.aWidget_btn_edit {
  display: inline-block;
  text-indent: -10000px;
  width: 54px;
  height: 11px;
  background: url("../images/btn_edit.png") no-repeat left top;
  margin-top: 13px;
}

/*------------------------------*/
/* Step 3 */
/*------------------------------*/
.aWidget-step3 .aWidget-steps-content {
  padding: 0 17px;
}
.aWidget-steps-content .aWidget-steps-content {
  padding: 0;
}

.aWidget-step3 a {
  color: #0c3a72;
}
.aWidget-payment {
  padding: 10px 0;
}
.aWidget-payment-wrapper {
  padding: 38px 0;
  word-spacing: 66px;
}
.aWidget-payment-item {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 71px;
  overflow: hidden;
  background: url("../images/payment-background.png") repeat-y 115px 0;
  word-spacing: 0;
}
.aWidget-payment-logo {
  float: left;
  width: 104px;
  text-align: center;
  margin: 0 10px 0 0;
  line-height: 54px;
}
.aWidget-payment-input {
  width: 38px;
  text-align: center;
  position: relative;
  float: left;
  padding: 13px 0 0;
}
.aWidget-payment-title {
  float: left;
  width: 215px;
  padding: 0 0 0 13px;
}

.aWidget-cost {
  overflow: hidden;
  padding: 0 0 44px;
}

.aWidget-payment-submit {
  float: right;
  width: 625px;
  padding: 16px;
  background: #c3d9e8;
}
.aWidget-payment-submit label {
  font-size: 10px;
  color: #3a3a3a;
  float: right;
  width: 430px;
  line-height: 39px;
}
.aWidget-payment-submit label span {
  display: inline-block;
  width: 330px;
  margin: 0 0 0 5px;
  line-height: 13px;
  vertical-align: middle;
}
.aWidget-payment-submit label input {
  display: inline-block;
  vertical-align: middle;
}
.aWidget-cost .aWidget-title {
  float: left;
  width: 227px;
}
.aWidget-cost-text {
  float: left;
  width: 227px;
  color: #767676;
  padding: 5px 0 0;
}
.aWidget-cost-text > span {
  font-size: 18px;
  color: #000;
  display: block;
}

.aWidget-step3 .aWidget-orderer .aWidget-title {
  margin: 0 0 7px;
}
.aWidget-step3 .aWidget-orderer span {
  color: #a80103;
  margin: 0 20px 0 5px;
}
.aWidget-step3 .aWidget-orderer {
  padding: 0 0 34px;
}

.aWidget-step3 .aWidget-passangers {
  margin: 0 0 52px;
}
.aWidget-step3 .aWidget-passangers-item {
  background: none;
  color: #838383;
  padding: 10px 0 0 88px;
  margin: 7px 0 -7px;
}
.aWidget-step3 .aWidget-passangers-item-title {
  margin: 0 0 0 -88px;
  font-family: inherit;
  font-size: inherit;
}

.aWidget-step3 .aWidget-submit {
  margin: -20px 0 20px;
}
.aWidget-step3 .aWidget-ticketList {
  margin: 0 -6px 0 0;
}