.aWidget {
  background: #949595;
  font-family: "Verdana";
  font-size: 12px;
  color: #fff;
}
.aWidget input[type=text],
.aWidget-steps input[type=text] {
  color: #c7141c;
  font-family: "Verdana";
  font-size: 12px;
  border: 1px #c7141c solid;
  box-shadow: 0 0 3px #f0ede3;
}

.aWidget-dashed, .aWidget-dashed:hover {
  color: #fff;
}
.aWidget-steps-content .aWidget-dashed, .aWidget-steps-content .aWidget-dashed:hover { color: #0c3a72; }
.aWidget-steps-content .aWidget-ticketList-sort-select { color: #a80103; }
.aWidget-ticketList-sort .aWidget-dashed:last-child { display: inline; }

.aWidget_airportCode {
  color: #c7141c;
}

.aWidget button[type=submit],
.aWidget_passengers button[type=submit],
.aWidget-steps-content button[type=submit] {
  background-image: url("../images/button_submit_mouze.png");
  text-shadow: 0 0 2px #ffe500;
  border-width: 0px;
  line-height: 31px;
  border-radius: 1px;
  box-shadow: none;
  color: #fff;
  height: 40px;
  box-shadow: 0 0 2px #dfdcd2;
  font-size: 14px;
}

.aWidget .title {
  background-color: #f6f6f6;
  background-image: url("../images/aWidget-plane_mouze.png");
  color: #4b4b4b;
}

div.ui-datepicker {
  background-color: #f2efe7;
  border-color: #cccbc6;
}
div.ui-datepicker:before {
  background-color: #f2efe7;
  border-color: #cccbc6;
}
.ui-datepicker-calendar tbody td {
  background-color: #fff;
  background-image: url("../images/datepicker_row_mouze.png");
  border-color: #bbb;
}
.ui-state-disabled {
  color: #fff;
}
div.ui-datepicker .ui-datepicker-current-day {
  background: #cce999;
}
div.ui-datepicker .ui-datepicker-current-day a {
  color: #c7141c;
}

.aWidget.aWidget_var1 .aWidget_block:first-child {
  background-image: url("../images/aWidget-plane_mouze2.png");
}

.aWidget-flyData-title {
  background: #f0ede3;
  color: #c7141c;
}

.aWidget-ticketList-item { border-color: #479ce4; }
.aWidget-flyData-title span span { color: #c7141c; }
.aWidget-ticketList-price button[type=submit] { 
  height: 28px;
  line-height: 28px;
}

.aWidget-flyData-departure,
.aWidget-flyData-arrival,
.aWidget-flyData-total { color: #d6d3c9; }
.aWidget-flyData-item-body .aWidget-flyData-departure,
.aWidget-flyData-item-body .aWidget-flyData-arrival,
.aWidget-flyData-item-body .aWidget-flyData-total { color: #696869; }

.aWidget-flyData-item-hidden { box-shadow: 0 -10px 0 #f0ede3; }
.aWidget-flyData-item-hidden-body { background-color: #f0ede3; color: #696869; }
.aWidget-flyData-item-hidden-link { box-shadow: 0 -10px 0 #f0ede3, -10px -10px 0 #f0ede3; }
.aWidget-flyData-item-hidden-open .aWidget-flyData-item-hidden-link { background-color: #f0ede3; }
.aWidget-flyData-item-hidden-open, .aWidget-flyData-item-hidden-open .aWidget-flyData-item-hidden-link { box-shadow: none; }

.aWidget-scale {
  background-color: #afada7;
  box-shadow: 0 0 1px #959390 inset;
}
.aWidget-scaleEnd_wrapper,
.aWidget-scaleStart_wrapper { background-image: url("../images/scale_mouze.png"); }
.aWidget-scale-digits-start,
.aWidget-scale-digits-end { color: #65b300; }
.aWidget-filter-select { color: #65b300; }
.aWidget-filter-item {  color: #808080; }
.aWidget-filter-title { color: #424242; }
.aWisget-filter-tabs ul li.ui-tabs-selected a { color: #65b300; }

.aWidget_passengers_title {
  color: #fff;
}

.aWidget-passangers-item,
.aWidget-payment-submit {
  background: #949595;
}
.aWidget-passangers label, .aWidget-passangers .label{ color: #fff; }

.aWidget-payment-submit label span,
.aWidget-payment-submit label span a {
  color: #fff;
}

.aWidget-submit .aWidget-button-light[type="submit"] {
  color: #0c3a72;
  text-shadow: none;
  box-shadow: 0 0 1px #7498b9;
}

/* lightbox */
#cboxLoadedContent {
  background: #949595;
  color: #fff;
}

/* Steps styles */
div.aWidget-steps {
  background: url("../images/lightbox-mouze.png") no-repeat left top;
}
ul.aWidget-nav {
  background: #479ce4;
}
ul.aWidget-nav li {
  color: #fff;
}

ul.aWidget-nav li.aWidget-nav-active {
  background: #f0ede3;
  border: 3px #a2a2a0 solid;
  color: #696869;
}
ul.aWidget-nav li.aWidget-nav-active span {
  color: #828282;
}
ul.aWidget-nav li.aWidget-nav-active span span.aWidget-dashed {
  color: #a80103;
  border-bottom: 1px #a80103 dashed;
}

/* UI.Autocomplete */
ul.ui-autocomplete {
  border-left: 1px #C7141C solid;
  border-right: 1px #C7141C solid;
  border-bottom: 1px #C7141C solid;
  border-top: 0px #C7141C solid;
  color: #C7141C;
}