/* -------------------------------------------- */
/* Placement variant 2 */
/* -------------------------------------------- */

.aWidget {
  padding: 3px 3px 18px;
  width: 660px;
}

.aWidget .title {
  line-height: 42px;
  font-size: 18px;
  text-align: center;
  font-family: "Georgia", "Times New Roman";
  background-position: 151px 50%;
  background-repeat: no-repeat;
  padding-left: 31px;
  margin-bottom: 12px;
}

.aWidget form .aWidget_block {
  float: left;
  width: 255px;
}
.aWidget form .aWidget_block:first-child {
  width: 255px;
  background: none;
}
.aWidget_block label {
  padding: 5px 0 3px;
  display: block;
}
.aWidget_block label.aWidget_input_text > span {
  display: inline-block;
  width: 46px;
  padding: 0 2px 0 0;
  text-align: right;
}
.aWidget form .aWidget_block:first-child .aWidget_input_text > span { width: 63px; }

#aWidget_from,
#aWidget_to,
#aWidget_dateBack { width: 112px; }
#aWidget_dateTo { width: 110px; }
.aWidget_input_age input[type="text"] {
    padding-right: 23px;
    width: 20px;
}

.aWidget_airportCode {
  right: 30px;
  top: 6px;
  width: 40px !important;
}

.aWidget .aWidget_passengers {
  display: none;
}
.aWidget-dashed:last-child {
  display: none;
}
div.ui-datepicker {
  margin-left: 89px;
  margin-top: -8px;
}
.aWidget form label.aWidget_input_checkbox[for=aWidget_back] {
  padding-left: 57px;
}

/* lightbox */
#cboxLoadedContent {
  text-align: center;
}
.aWidget_passengers_title {
  font-family: "Georgia";
  font-size: 16px;
  text-align: center;
  width: 300px;
  margin: 0 auto 15px;
}
#cboxLoadedContent .aWidget_input_age {
  font-size: 12px;
  font-family: "Verdana";
}
.aWidget_passengers button[type=submit] {
  margin: 13px 0 0;
}