/* -------------------------------------------- */
/* Placement variant 5 */
/* -------------------------------------------- */

.aWidget {
  padding: 3px 3px 18px;
  width: 387px;
}

.aWidget .title {
  line-height: 16px;
  font-size: 16px;
  text-align: left;
  font-family: "Georgia", "Times New Roman";
  background-position: 20px 11px;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  padding: 13px 20px 17px 50px;
}

.aWidget form .aWidget_block {
  float: left;
  width: 370px;
  padding: 0 0 3px 17px;
}
.aWidget form .aWidget_block:first-child {
  background: none;
}
.aWidget_block label {
  padding: 0;
  float: left;
  height: auto;
  margin: 1px 0 3px;
}
.aWidget_input_airport { width: 210px; }
.aWidget_block label.aWidget_input_text > span,
.aWidget_input_age > span {
  display: block;
  width: 63px;
  padding: 0 2px 0 0;
  text-align: left;
  font-size: 10px;
}

#aWidget_from,
#aWidget_to,
#aWidget_dateBack { width: 130px; }
#aWidget_dateTo { width: 130px; }
.aWidget_input_age input[type="text"] {
    padding-right: 23px;
    width: 20px;
}

.aWidget_airportCode {
  right: 26px;
  top: 27px;
  width: 40px !important;
  font-size: inherit !important;
}

.aWidget .aWidget-dashed:last-child {
  display: none;
}
div.ui-datepicker {
  margin-left: 109px;
  margin-top: -8px;
}
.aWidget form label.aWidget_input_checkbox[for=aWidget_back] {
  padding-top: 27px;
}

.aWidget .aWidget_ticketClass + button[type=submit] {
  position: relative;
  top: 18px;
  margin: 0 auto 25px;
  width: 139px;
  display: block;
  clear: both;
}


#aWidget_passengers_box {
  padding: 13px 0 0 17px;
  clear: both;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}
.aWidget_passengers_title {
  display: none;
}
.aWidget_input_age {
  float: left;
}
.aWidget_passengers button[type=submit] {
  display: none;
}
div.aWidget_ticketClass {
  display: none;
  width: 138px;
  padding: 13px 0 0;
}

/* lightbox */
#cboxLoadedContent {
  text-align: center;
}
.aWidget_passengers_title {
  color: #4c4b4c;
  font-family: "Georgia";
  font-size: 16px;
  text-align: center;
  width: 300px;
  margin: 0 auto 15px;
}
#cboxLoadedContent .aWidget_input_age {
  font-size: 12px;
  font-family: "Verdana";
}
.aWidget_passengers button[type=submit] {
  margin: 13px 0 0;
}