/* -------------------------------------------- */
/* Placement variant 5 */
/* -------------------------------------------- */

.aWidget {
  padding: 3px 3px 18px;
  width: 573px;
}

.aWidget .title {
  line-height: 16px;
  font-size: 18px;
  text-align: left;
  font-family: "Georgia", "Times New Roman";
  background-position: 72px 10px;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  padding: 13px 20px 12px 107px;
}

.aWidget form .aWidget_block {
  float: left;
  width: 272px;
  padding: 5px 0 3px 0;
}
.aWidget form .aWidget_block:first-child {
  width: 292px;
  background: none;
}
.aWidget_block label {
  padding: 0;
  float: left;
  height: auto;
  margin: 1px 0 7px;
}
.aWidget_input_airport { }
.aWidget_block label.aWidget_input_text > span,
.aWidget_input_age > span,
.aWidget_ticketClass label > span {
  display: inline-block;
  width: 69px;
  padding: 0 2px 0 0;
  text-align: right;
  font-size: 12px;
}
.aWidget form .aWidget_block:first-child label span,
div.aWidget_ticketClass label > span {
  width: 103px;
}

#aWidget_from,
#aWidget_to { width: 113px; }
#aWidget_dateBack,
#aWidget_dateTo { width: 112px; }
.aWidget_input_age input[type="text"] {
    padding-right: 23px;
    width: 20px;
}

.aWidget_airportCode {
  right: 26px;
  top: 1px;
  width: 34px !important;
}

.aWidget .aWidget-dashed:last-child {
  display: none;
}
div.ui-datepicker {
  margin-left: 91px;
  margin-top: -8px;
}
.aWidget form label.aWidget_input_checkbox[for=aWidget_back] {
  padding-top: 0;
  padding-left: 80px;
}

.aWidget .aWidget_ticketClass + button[type=submit] {
  margin: -3px 0 3px 115px;
  width: 139px;
  display: block;
  float: left;
}


#aWidget_passengers_box {
  padding: 20px 0 0 34px;
  clear: both;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.aWidget_passengers_title {
  display: none;
}
.aWidget_input_age {
  float: left;
}
.aWidget_passengers button[type=submit] {
  display: none;
}
.aWidget_input_age[for=aWidget_pass3] span {
  width: 76px;
}

div.aWidget_ticketClass {
  display: block;
  width: auto;
  padding: 26px 0 0;
  clear: both;
}
div.aWidget_ticketClass label {
  float: left;
}
div.aWidget_ticketClass label > span {
  display: inline-block;
}
.aWidget_input_class input[type=text] {
  width: 114px;
  padding-right: 20px;
}


/* lightbox */
#cboxLoadedContent {
  text-align: center;
}
.aWidget_passengers_title {
  color: #4c4b4c;
  font-family: "Georgia";
  font-size: 16px;
  text-align: center;
  width: 300px;
  margin: 0 auto 15px;
}
#cboxLoadedContent .aWidget_input_age {
  font-size: 12px;
  font-family: "Verdana";
}
.aWidget_passengers button[type=submit] {
  margin: 13px 0 0;
}