/* -------------------------------------------- */
/* Placement variant 3 */
/* -------------------------------------------- */

.aWidget {
  padding: 3px 3px 18px;
  width: 268px;
}

.aWidget .title {
  line-height: 16px;
  font-size: 16px;
  text-align: left;
  font-family: "Georgia", "Times New Roman";
  background-position: 33px 18px;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  padding: 11px 20px 13px 69px;
}

.aWidget form .aWidget_block {
  float: left;
  width: 255px;
  padding: 0 0 2px;
}
.aWidget form .aWidget_block:first-child {
  width: 255px;
  background: none;
}
.aWidget_block label {
  padding: 7px 0 0;
  display: block;
  height: 28px;
}
.aWidget_block label.aWidget_input_text > span {
  display: inline-block;
  width: 63px;
  padding: 0 2px 0 0;
  text-align: right;
}

#aWidget_from,
#aWidget_to,
#aWidget_dateBack { width: 112px; }
#aWidget_dateTo { width: 110px; }
.aWidget_input_age input[type="text"] {
    padding-right: 23px;
    width: 20px;
}

.aWidget_airportCode {
  right: 31px;
  top: 8px;
  width: 40px !important;
  font-size: inherit !important;
}

.aWidget .aWidget_passengers {
  display: none;
}
.aWidget .aWidget-dashed:last-child {
  display: none;
}
div.ui-datepicker {
  margin-left: 89px;
  margin-top: -8px;
}
.aWidget form label.aWidget_input_checkbox[for=aWidget_back] {
  padding-left: 74px;
}

.aWidget .aWidget_ticketClass + button[type=submit] {
  position: relative;
  top: 9px;
  margin: 0 0 10px 69px;
  width: 139px;
}

/* lightbox */
#cboxLoadedContent {
  text-align: center;
}
.aWidget_passengers_title {
  font-family: "Georgia";
  font-size: 16px;
  text-align: center;
  width: 300px;
  margin: 0 auto 15px;
}
#cboxLoadedContent .aWidget_input_age {
  font-size: 12px;
  font-family: "Verdana";
}
.aWidget_passengers button[type=submit] {
  margin: 13px 0 0;
}