/* -------------------------------------------- */
/* Placement variant 1 */
/* -------------------------------------------- */

.aWidget {
  padding: 19px;
  width: 700px;
}

.aWidget .title {
  display: none;
}
.aWidget .aWidget_block {
  float: left;
}
.aWidget .aWidget_block:first-child {
  padding: 0 42px 0 0;
  background-repeat: no-repeat;
  background-position: right 5px;
}

.aWidget label.aWidget_input_text:first-child {
  float: right;
  margin: 0 0 10px;
}
.aWidget label.aWidget_input_date {
  clear: right;
  float: right;
}
.aWidget label.aWidget_input_checkbox { 
  clear: right;
  float: left;
}
.aWidget_input_age {
  margin-right: 20px;
}

.aWidget label.aWidget_input_text > span { display: none; float: left; }
.aWidget label.aWidget_input_date > span {
  display: block;
  padding: 0 5px 0 0;
}

.aWidget label.aWidget_input_text input[type=text] {
  width: 162px;
}
.aWidget label.aWidget_input_date input[type=text] {
  width: 108px;
}
.aWidget_input_age input[type=text] {
  width: 20px;
  padding-right: 23px;
} 


.aWidget button[type='submit'] { float: right; }
.aWidget a.aWidget-dashed { float: right; clear: right; }

.aWidget button + .aWidget-dashed {
  margin-top: 5px;
  font-size: 90%;
}
.aWidget label.aWidget_input_text > span.aWidget_airportCode {
  display: block;
  position: absolute;
  right: 30px;
  top: 1px;
}

.aWidget .aWidget_passengers {
  display: none;
}

/* datepicker */

.ui-datepicker-calendar tbody td {
  border-color: #bbbbbb;
}
div.ui-datepicker {
  margin-left: 87px;
  margin-top: -8px;
}

/* lightbox */
#cboxLoadedContent {
  text-align: center;
}
.aWidget_passengers_title {
  font-family: "Georgia";
  font-size: 16px;
  text-align: center;
  width: 300px;
  margin: 0 auto 15px;
}
#cboxLoadedContent .aWidget_input_age {
  font-size: 12px;
  font-family: "Verdana";
}
.aWidget_passengers button[type=submit] {
  margin: 13px 0 0;
}