.aWidget {
  background: #c3d9e8;
  font-family: "Verdana";
  font-size: 12px;
  color: #848484;
}
.aWidget input[type=text],
.aWidget-steps input[type=text] {
  color: #a80103;
  font-family: "Verdana";
  font-size: 12px;
  border: 1px #7f7f7f solid;
}

.aWidget-dashed, .aWidget-dashed:hover {
  color: #0c3a72;
}
.aWidget button[type=submit],
.aWidget_passengers button[type=submit],
.aWidget-steps-content button[type=submit] {
  background-image: url("../images/button_submit.png");
}

.aWidget .title {
  background-color: #f6f6f6;
  background-image: url("../images/aWidget-plane_blue.png");
  color: #4b4b4b;
}

div.ui-datepicker {
  background-color: #f6f6f6;
  border-color: #98b1c2;
}
div.ui-datepicker:before {
  background-color: #f6f6f6;
  border-color: #98b1c2;
}
.ui-datepicker-calendar tbody td {
  background-color: #fff;
  background-image: url("../images/datepicker_row.png");
  border-color: #bbb;
}
.ui-state-disabled {
  color: #fff;
}
div.ui-datepicker .ui-datepicker-current-day {
  background: #f2c1c1;
}
div.ui-datepicker .ui-datepicker-current-day a {
  color: #a80103;
}

.aWidget_passengers_title {
  color: #4c4b4c;
}

/* lightbox */
#cboxLoadedContent {
  background: #c3d9e8;
}

/* Steps styles */
div.aWidget-steps {
  background: url("../images/lightbox-blue.png") no-repeat left top;
}
ul.aWidget-nav {
  background: #f0f5f7;
}
ul.aWidget-nav li {
  color: #828282;
}

ul.aWidget-nav li.aWidget-nav-active {
  background: #f6f6f6;
  border: 3px #c3d9e8 solid;
  color: #4b4b4b;
}
ul.aWidget-nav li.aWidget-nav-active span {
  color: #828282;
}
ul.aWidget-nav li.aWidget-nav-active span span.dashed {
  color: #a80103;
  border-bottom: 1px #a80103 dashed;
}
