div.suggestions
{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	z-index: 100;
}
.townsB
{
	width: 186px;
}
.suggestions .cities {
    max-height: 312px;
	overflow: auto;
	overflow-y: auto;
}
.suggestions .loading {
    height: 60px;
    margin: 0 auto;
    padding-top: 55px;
    text-align: center;
    color: White;
}
.townsB a:link, .townsB a:visited,
.townsB a:hover, .townsB a:active {
    text-decoration: none;
    display: block;
	padding: 4px 10px 4px 10px;
	font-size: 14px;
	border-bottom: 1px solid;
}

.townsB a:link,
.townsB a:visited
{
	color: #000;
	border-color: #97baff;
}
.townsB a:hover,
.townsB a:active
{
	color: #fafafa;
	border-color: #b8d0ff;
	background-color: #647ab4;
}
.townsB a.current,
.townsB a:hover.current,
.townsB a:link.current,
.townsB a:visited.current,
.townsB a:active.current
{
	color: #fafafa;
	border-color: #b8d0ff;
	background-color: #647ab4;
}
.townsB p
{
	text-align: right;
	padding: 4px 8px 6px 0;
	color: #fafafa;
	cursor: pointer;
}
