/* UTF-8 encoded file */

/* Общие элементы */
body {
    background: #efefef url(http://biletnasapsan.ru/img/bg.gif) repeat-x top;
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    font-size: 12px;
    color: #606060;
}
a:link, a:visited {
    text-decoration: underline;
    color: #013a7e;
}
a:active, a:focus, a:hover {
    color: #013a58;
    text-decoration: underline;
}
h1 {
	font-size: 24px;
	font-weight: normal;
    color: #b91419;
	display: inline-block;
	margin: 20px 0 10px;
	padding-bottom: 6px;
	border-bottom: 1px dashed #ba161a;
}
h2 {
	display: inline-block;
	padding: 13px 20px;
	border: 1px solid;
	border-color: #a5b4de #546aa4 #546aa4 #546aa4;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	background: #738fd5 url(/img/indH2.gif) repeat-x top;
	color: #FFF;
	font-weight: normal;
	font-size: 18px;
	margin-bottom: 1px;
}
h3 {
	margin: 0;
	font-weight: normal;
	font-size: 18px;
}
h4 {
	margin: 20px 0 8px;
	font-weight: normal;
	font-size: 14px;
	color: #2d2d2d;
}
p {
    margin: 0 0 10px;
    line-height: 150%;
}
em {
	font-style: normal;
	color: #b91419;
}
p em {
	font-size: 14px;
}

/*Общие стили*/
.flL {
	float: left;
}
.flR {
	float: right;
}
.forClear {
	height: 0;
	overflow: hidden;
	clear: both;
}
.clearL {
	height: 0;
	overflow: hidden;
	clear: left;
}
.clearR {
	height: 0;
	overflow: hidden;
	clear: right;
}
.imgBlock {
	display: block;
	border: 0;
}
a img {
	border: 0;
}
.flL img, .flR img {
	display: block;
}
.relative {
	position: relative;
}
.m0 {
	margin: 0;
}
.red {
    color: #b91419;
}
.black {
	color: #000;
}
a.getCall {
	text-decoration: none;
	display: block;
	padding: 15px 0;
	border: 1px solid #be151a;
	text-align: center;
	background: #d6d6d6 url(http://biletnasapsan.ru/img/bgCall.gif) repeat-x top;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 14px;
}
a.getCall span {
	padding: 0 0 1px 14px;
	background: url(http://biletnasapsan.ru/img/arrowCall.gif) no-repeat left top;
	border-bottom: 1px dashed #013a7e;
}
.accent {
	display: block;
	border-bottom: 1px dashed #555556;
	border-top: 1px dashed #555556;
	background: #d1d1d1;
	padding: 16px 23px 18px;
	color: #000;
}
.accent h3 {
	margin-bottom: 10px;
}
.submenu {
	border: 1px solid #ababab;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 9px 9px 30px;
}
.submenu h3 {
	display: block;
	margin-bottom: 8px;
	padding: 14px 10px;
	color: #FFF;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size: 14px;
	background: #c8c8c8;
}
.submenu h3 a {
	text-decoration: none;
	color: #606060;
}
.submenu ul {
	margin-bottom: 18px;
}
.submenu li {
	padding-left: 10px;
	margin: 8px 0;
}
.submenu ul ul {
	margin-bottom: 10px;
}
.submenu a.act {
	display: block;
	padding: 9px 20px 0 41px;
	margin: 0 -9px 0 -41px;
	height: 25px;
	position: relative;
	z-index: 3;
	background: url(http://biletnasapsan.ru/img/bgAct.png) no-repeat right top;
	color: #FFF;
	text-decoration: none;
}
.news {
	padding: 25px 20px 0;
}
.dashedline {
	height: 0;
	overflow: hidden;
	border-bottom: 1px dashed #606060;
}
.news .dashedline {
	margin: 8px -20px 9px 0;
}
.news p a {
	line-height: 120%;
}
.innermenu a.flL {
    padding: 6px 9px 8px;
    margin-left: -1px;
    background: url(http://biletnasapsan.ru/img/topsep.gif) no-repeat right top;
}
.innermenu a.last {
    padding: 6px 18px 8px 9px;
    margin-left: -1px;
	margin-right: 7px;
    float: left;
    background: #e1e1e1;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
    position: relative;
    z-index: 3;
}
a.button {
	display: inline-block;
	padding: 7px 19px 10px;
	background: #d6d6d6 url(http://biletnasapsan.ru/img/bgBut.gif) repeat-x top;
	border: 1px solid #546aa4;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-top: 60px;
}

/* Основные блоки контента */
#head, #content, #menu, #footer {
	width: 960px;
}
#head {
    height: 130px;
    margin: 16px auto 0;
}
#content {
	margin: 19px auto;
}
#menu, #index #content, #town #content {
    margin: 0 auto;
}
#step2el #content {
	margin: 17px auto;
}
#submenu {
    background: #546aa4;
    padding: 12px 0 0 14px;
    height: 37px;
    width: 946px;
    margin: 0 auto;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
#footer {
	margin: 74px auto;
}
/* Правая колонка */
#additions {
	float: right;
	width: 285px;
}
/* Левая колонка */
#contentIn {
	float: left;
	width: 600px;
	padding-left: 21px;
	padding-bottom: 90px;
}
/* Содержимое шапки */
#head a {
    text-decoration: none;
}
.towns {
    height: 65px;
    width: 153px;
    padding: 65px 0 0 10px;
    background: url(http://biletnasapsan.ru/img/logoR.png) no-repeat left top;
    float: left;
    position: relative;
}
.towns a {
    padding: 0 2px 3px 13px;
    background: url(http://biletnasapsan.ru/img/headtown.gif) no-repeat left top;
    border-bottom: 1px dashed #013a7e;
}
.towns ul {
    position: absolute;
    left: 10px;
    top: 86px;
    z-index: 3;
    display: none;
}
.towns ul li {
    margin-bottom: 3px;
}
.towns ul li a {
    border-bottom: 1px dashed #c0c0bf;
    background: url(http://biletnasapsan.ru/img/1.gif);
    display: block;
}
.sitedescription {
    float: left;
    padding: 14px 10px 0 21px;
    width: 290px;
}
.sitedescription p  {
	line-height: 120%;
}
.phone {
    float: left;
    font-family: 'Arial Black', Arial, sans-serif;
    width: 295px;
    padding: 8px 0 0 18px;
    color: #5369a3;
    line-height: 110%;
}
.phone p.red {
    font-size: 30px;
    margin-bottom: 2px;
}
.ufsLogo {    
    background: url(http://biletnasapsan.ru/img/ufs-logo.png) no-repeat; 
    float: left;
    margin: 28px 0 0 18px;
    padding: 8px 0 0 44px;    
    font-size: 11px;
    font-family: Arial;
}
/* верхнее меню */
#menu a.flR {
    padding: 6px 9px 8px;
    margin-left: -1px;
    background: url(http://biletnasapsan.ru/img/topsep.gif) no-repeat right top;
}
#menu a.last {
    padding: 6px 18px 8px 9px;
    margin-left: -1px;
    float: right;
    background: #e1e1e1;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
    position: relative;
    z-index: 3;
}

#submenu a.act {
	padding: 12px 0 0;
	height: 25px;
	background: #eeeeee url(http://biletnasapsan.ru/img/subActBg.gif) repeat-x;
	color: #b91419;
	float: left;
	text-decoration: none;
	font-size: 14px;
}
#submenu a.actR {
	padding: 11px 25px 0 0;
	margin-top: 1px;
	height: 25px;
	background: #d8d9d9;
	color: #b91419;
	float: right;
	text-decoration: none;
	font-size: 14px;
}
#submenu a.flL img, #submenu a.act img, #submenu a.flR img {
	display: inline;
	border: 0;
}
/* Футер */
#footmenu {
	margin-bottom: 1px;
	font-size: 14px;
}
#footsubmenu {
	font-size: 14px;
	margin-bottom: 58px;
}
a.footlink, a.footlinkFirst {
	padding: 14px 20px;
	float: left;
}
a.footlink {
	background: url(http://biletnasapsan.ru/img/bgF.gif) no-repeat left top;
}
a.footlinkFirst {
	padding-left: 11px;
}
a.footlinkA {
	padding: 14px 20px;
	float: left;
	color: #b91419;
	text-decoration: none;
	background: #eaeaea url(http://biletnasapsan.ru/img/bgFoot.gif) repeat-x top;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: 0 -2px;
	position: relative;
	z-index: 3;
}
a.footlink img, a.footlinkA img {
	border: 0;
}
#footsubmenu a {
	float: left;
	padding: 11px 13px 12px 11px;
	background: url(http://biletnasapsan.ru/img/bgF.gif) no-repeat right top;
}
#footsubmenu a.act {
	background: #eaeaea url(http://biletnasapsan.ru/img/bgFoot.gif) repeat-x top;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	position: relative;
	z-index: 3;
	margin: 0 -2px;
	padding: 11px 19px 13px;
	color: #b91419;
	text-decoration: none;
}
#footsubmenu a.last {
	background: url(http://biletnasapsan.ru/img/1.gif);
	padding-right: 0;
}
#footsubmenu a.actlast { /*последняя ссылка при условии, что она активная - большой отрицательный правый край не дает порушить строку*/
	background: #eaeaea url(http://biletnasapsan.ru/img/bgFoot.gif) repeat-x top;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	position: relative;
	z-index: 3;
	margin: 0 -20px 0 -1px;
	padding: 11px 19px 13px;
	color: #b91419;
	text-decoration: none;
}
/* выбор поезда на главной */
#trainSelect {
	padding: 11px;
	border: 1px solid #ababab;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: 20px auto 42px;
	width: 936px;
	background: #FFF;
}
#trainSelect p {
	margin: 0 0 0 21px;
	line-height: 130%;
	font-size: 14px;
}
#trainSelect h1 {
	margin: 0 0 12px 6px;
	line-height: 130%;
	border-bottom: 0;
	padding-bottom: 0;
}
#trainSelect a.flR {
    padding: 6px 9px 8px;
    margin-left: -1px;
    background: url(http://biletnasapsan.ru/img/topsep.gif) no-repeat right top;
}
#trainSelect a.last {
    padding: 6px 18px 8px 9px;
    margin-left: -1px;
	margin-right: 7px;
    float: right;
    background: #e1e1e1;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
    position: relative;
    z-index: 3;
}
#selectIn {
	padding: 1px 3px 17px 9px;
	background: #FFF url(http://biletnasapsan.ru/img/bgSelect.gif) repeat-x top;
	border: 1px solid #ababab;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#selectIn table {
	border-collapse: separate;
}
#selectIn table td {
	vertical-align: middle;
}
td.tdhead {
	padding: 5px 0;
	border-bottom: 3px solid #bababa;
	color: #848484;
	text-align: left;
}
td.numAct {
	background-color: #ebebeb;
	color: #2d395b;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #c6c6c6;
}
td.numInact {
	background-color: #f3f3f3;
	color: #2d395b;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dedede;
}
td.redAct {
	background-color: #ebebeb;
	color: #b91419;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #c6c6c6;
}
td.redInact {
	background-color: #f3f3f3;
	color: #b91419;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dedede;
}
td.classAct {
	background-color: #ebebeb;
	color: #2d395b;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #c6c6c6;
	padding: 8px 0;
}
td.classInact {
	background-color: #f3f3f3;
	color: #2d395b;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #dedede;
	padding: 8px 0;
}
td.classAct a, td.classInact a {
	text-decoration: none;
	color: #777777;
	border-bottom: 1px dashed #777777;
	font-size: 12px;
}
.countWrap {
	position: relative;
	left: -2px;
	z-index: 3;
	float: left;
}
input.inpCount {
	width: 28px;
	border: 1px solid #949494;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #d1181f;
	font-size: 16px;
	font-weight: bold;
	background: #f4f5f5;
	text-align: center;
	height: 23px;
	float: left;
	margin-left: 6px;
}
.tdsep {
	background: #ababab;
}
/*контент на главной*/
#index a.getCall {
	margin-top: 4px;
	margin-bottom: 25px;
}
#index .submenu h3 {
	background: #546aa4 url(http://biletnasapsan.ru/img/bgSub.gif) repeat-x top;
}
#index .submenu h3 a {
	color: #FFF;
}
#index .accent {
	font-style: italic;
}
#indexMedia {
	float: left;
	width: 275px;
	padding: 0 34px 30px 11px;
}
#indexInfo {
	float: left;
	width: 320px;
	padding-bottom: 30px;
}
#indexHistory {
	width: 629px;
	float: left;
	padding-left: 11px;
}
#indexMedia h3, #indexInfo h3 {
	margin-bottom: 20px;
}
#indexMedia p {
	margin-top: 10px;
	margin-bottom: 20px;
}
#indexMedia img.flL, #indexMedia img.flR {
	margin-bottom: 6px;
}
#indexHistory h3 {
	padding-bottom: 8px;
	margin-bottom: 14px;
	border-bottom: 1px dashed #606060;
}
#indexHistory .innermenu {
	margin-left: -9px;
	margin-bottom: 24px;
}
#reference {
	background: #dadada url(http://biletnasapsan.ru/img/bgRef.gif) repeat-x bottom;
	padding: 20px 0 24px;
	border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	-webkit-border-radius: 0 6px 6px 6px;
}
#reference div.flL {
	padding-left: 20px;
	padding-right: 10px;
	width: 289px;
}
#reference div.flL h3 {
	position: relative;
	z-index: 3;
	margin-top: -24px;
	background: url(http://biletnasapsan.ru/img/bgTown.gif) no-repeat left top;
	color: #000;
}
#reference div.flL h3 a {
	text-decoration: none;
	color: #000;
	width: 200px;
	height: 20px;
	padding-top: 10px;
	display: block;
}
#reference div.flL p {
	margin-top: 10px;
	line-height: 100%;
	display: block;
}
#reference div.flL p a {
	padding-left: 20px;
	background: url(http://biletnasapsan.ru/img/arrowRef.gif) no-repeat left top;
}
/* Страницы с текстовым контентом */
#contentIn p {
	margin-bottom: 15px;
}
#contentIn .accent {
	padding-bottom: 5px;
	margin-bottom: 18px;
}
/* Справочник по городам */
#town #menu a.flR, #step1 #menu a.flR, #back #menu a.flR, #step2el #menu a.flR {
    padding: 6px 20px 0;
	height: 22px;
    margin-left: 5px;
	margin-top: -2px;
    background: #546aa4 url(http://biletnasapsan.ru/img/bgLinkR.gif) repeat-x top;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: #FFF;
	text-decoration: none;
}
#town #additions {
	width: 318px;
	padding-bottom: 60px;
}
#town #contentIn {
	padding-left: 0;
}
#town a.getCall {
	margin-bottom: 16px;
}
#town .accent {
	padding-top: 24px;
	padding-bottom: 27px;
	padding-left: 36px;
	font-size: 14px;
	margin-top: 15px;
}
#town #contentIn h3 {
	padding-bottom: 8px;
	margin-top: 50px;
	margin-bottom: 14px;
	border-bottom: 1px dashed #606060;
}
.town {
	padding: 20px 10px 28px 16px;
	margin-bottom: 19px;
	background: #dadada url(http://biletnasapsan.ru/img/bgRef.gif) repeat-x bottom;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
.town h3 {
	position: relative;
	z-index: 3;
	margin-top: -24px;
	background: url(http://biletnasapsan.ru/img/bgTown.gif) no-repeat left top;
	color: #000;
}
.town h3 a {
	text-decoration: none;
	color: #000;
	width: 200px;
	height: 20px;
	padding-top: 10px;
	display: block;
}
.town p {
	margin-top: 10px;
	line-height: 100%;
}
.town p a {
	padding-left: 20px;
	background: url(http://biletnasapsan.ru/img/arrowRef.gif) no-repeat left top;
}
.town p a.act {
	display: block;
	padding: 10px 20px 0 60px;
	margin: 0 -10px 0 -40px;
	height: 24px;
	position: relative;
	z-index: 3;
	background: url(http://biletnasapsan.ru/img/townAct.png) no-repeat right top;
	color: #FFF;
	text-decoration: none;
}
#contentIn p.phones {
	margin: 6px 0 6px 36px;
	color: #2d2d2d;
}
/* Выбор билетов - 1 шаг */
#step1 #trainSelect, #back #trainSelect {
	padding: 19px 17px 29px 19px;
	background: #FFF url(http://biletnasapsan.ru/img/step1.jpg) no-repeat left bottom;
	width: 922px;
	margin-bottom: 68px;
}
.step1in {
	float: right;
	width: 784px;
}
.step1in a.button {
	float: right;
	margin-top: 0;
}
.step1in h1 {
	border-bottom: 0;
	color: #000;
	margin: 0 0 3px;
}
.step1in h3 {
	margin-top: 4px;
	margin-bottom: 8px;
	line-height: 18px;
}
.step1in h3 span {
	font-size: 14px;
}
.tickets {
	float: left;
	padding: 7px 18px 7px 0;
	color: #000;
}
.step1in .tblWrap {
	padding: 8px 16px;
	background: #efefef;
	border: 1px solid #ababab;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-bottom: 25px;
}
.step1in .tblWrap table {
	border-collapse: separate;
	border: 0;
}
.step1in .tblWrap table th {
	padding-right: 14px;
	padding-bottom: 3px;
	font-weight: normal;
	font-size: 10px;
	color: #7e7e7e;
	border-bottom: 1px solid #7e7e7e;
	text-align: left;
}
.step1in .tblWrap table td {
	padding-right: 8px;
	font-size: 18px;
	text-align: left;
	color: #252525;
}
.step1in .tblWrap table td a {
	text-decoration: none;
	border-bottom: 1px dashed #013a7e;
	font-size: 12px;
}
.selectform {
	width: 311px;
	height: 227px;
	padding-top: 20px;
	padding-left: 20px;
	background: url(http://biletnasapsan.ru/img/selectblank.png) no-repeat left top;
	float: left;
	margin-bottom: 92px;
}
.selectform a {
	display: block;
	width: 158px;
	height: 39px;
	padding: 8px 0 0 40px;
	margin-bottom: 10px;
	background: url(http://biletnasapsan.ru/img/formlink.png) no-repeat left top;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
}
#step1 #trainSelect p, #back #trainSelect p {
	font-size: 12px;
	color: #000;
	line-height: 150%;
	margin: 5px 0 15px;
}
.step1in .flL {
	width: 336px;
	font-family: Arial, Helvetica, sans-serif;
	color: #5369a3;
}
.rowphone {
	font-size: 24px;
	color: #b91419;
	margin-bottom: 2px;
}
.step1in .getCall {
	width: 223px;
	float: left;
	margin: -2px 0 0;
}
/* Оформление электронных билетов */
#step2el h1 {
	border-bottom: 0;
	padding: 0;
	margin: 0 0 24px;
	color: #000;
}
#step2el h1 span {
	font-size: 18px;
}
.fmWrap {
	margin-bottom: 18px;
	padding-bottom: 65px;
	border: 1px solid #546aa4;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background: #FFF url(http://biletnasapsan.ru/img/bgForm.gif) repeat-x bottom;
}
#content .fmWrap h2 {
	margin: -1px 0 32px -1px;
	padding: 8px 0 0 20px;
	display: block;
	border: 0;
    width: 319px;
	height: 28px; color:#fff;
	background: url(http://biletnasapsan.ru/img/bgForm.png) no-repeat left top;
	font-size: 18px;
}
table.tblFm {
	margin-left: 128px;
}
td.mark {
	padding-left: 26px;
	width: 127px;
	font-size: 18px;
	color: #000;
}
td.mark img {
	display: block;
	margin-left: -26px;
}
td.data {
	padding-left: 27px;
	padding-bottom: 8px;
	color: #7e7e7e;
}
td.data .flL {
	color: #000;
	padding: 6px 9px 0 0;
}
td.data .flL label {
	display: block;
	margin-bottom: 6px;
}
input.inpTxt {
	width: 175px;
	height: 20px;
	border: 1px solid #4f545a;
	background: #FFF;
	color: #008115;
	font-size: 18px;
}
input.docNum {
	width: 180px;
	height: 20px;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid #4f545a;
	background: #FFF;
	color: #cecece;
	font-size: 18px;
	margin-top: 2px;
}
select.selTxt {
	border: 1px solid #4f545a;
	padding-top: 2px;
	padding-bottom: 2px;
}
select.selTxt option {
	padding-left: 7px;
	padding-right: 7px;
}
table.tblPersonal {
	margin-left: 278px;
}
.tblPersonal .mark {
	padding: 0;
	width: 30px;
	background: #99a6ca;
}
.tblPersonal .data {
	padding-left: 2px;
	padding-bottom: 10px;
}
td.accented {
	padding-left: 2px;
	padding-bottom: 15px;
	color: #FFF;
	background: #99a6ca url(http://biletnasapsan.ru/img/accent.gif) repeat;
}
td.accented .flR {
	padding: 17px 47px 0 22px;
	line-height: 120%;
	font-size: 14px;
}
.tblPersonal .data label, .accented label {
	display: block;
	padding: 7px 0 4px;
}
input.inpPersonal {
	width: 190px;
	height: 20px;
	border: 1px solid #4f545a;
	background: #FFF;
	color: #4f545a;
	font-size: 18px;
}
.tblPersonal textarea {
	width: 404px;
	border: 1px solid #4f545a;
	background: #FFF;
	color: #4f545a;
	font-size: 18px;
	height: 90px;
}
.tblPay {
	margin-left: 320px;
	color: #000;
}
.tblPay td {
	vertical-align: top;
}
.tblPay a {
	padding-left: 25px;
}
.tdpay {
	padding-left: 12px;
}
.orderWrap {
	background: #FFF url(http://biletnasapsan.ru/img/orderWrap.gif) repeat-x bottom;
	padding: 9px 2px 20px 18px;
	border: 1px solid #ababab;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	position: relative;
}
.orderWrap .flL {
	width: 120px;
	color: #000;
	font-size: 18px;
}
.orderWrap .button {
	font-size: 12px;
	margin-top: 125px;
	position: absolute;
	left: 18px;
	bottom: 20px;
}
.orderWrap table {
	border-collapse: separate;
	border: 0;
}
.orderWrap table th {
	padding-bottom: 2px;
	font-weight: normal;
	font-size: 10px;
	color: #7e7e7e;
	border-bottom: 1px solid #7e7e7e;
	text-align: left;
}
.orderWrap table td {
	font-size: 18px;
	color: #252525;
}
.orderWrap table td a {
	text-decoration: none;
	font-size: 12px;
}
.orderWrap td.ticks {
	font-size: 12px;
	line-height: 130%;
}
.orderWrap td.bordered {
	border-top: 1px solid #7e7e7e;
	height: 1px;
}
.orderfinish {
	text-align: center;
	color: #000;
	margin-bottom: 20px;
}
#step2el p a {
	color: #000;
}
.partHelp p {
    line-height: 16px;
    margin-left: 26px;
    margin-top: 12px;
}

div#calendar {
  width:915px;
  height:133px;
  background:#dddddd url("http://biletnasapsan.ru/img/calendar_background.png") no-repeat left top;
  overflow:hidden;
  font-family: Verdana,Geneva,Helvetica,sans-serif;
  font-size: 12px;
  display: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* стрелки */

div.calendarArrows {
  width:43px;
  height:43px;
  background-image:url("http://biletnasapsan.ru/img/calendar_arrows.png");
  background-repeat:no-repeat;
  margin:40px 2px;
  cursor:pointer;
}
div.calendarArrows-left {
  float:left;
  background-position:left top;
}
div.calendarArrows-right {
  float:right;
  background-position:right top;
}
div.calendarArrows-left-inactive { background-position:left bottom; }
div.calendarArrows-right-inactive { background-position:right bottom; }


/* дни и месяцы */
div.monthsWrapper { 
  width:8zpx;
  height:110px;
  margin:9px auto;
  overflow:hidden;
  position:relative;
}
div.monthList {
  width:10000px;
  height:110px;
  position:absolute;
  left:0;
  top:0;
  background:url("http://biletnasapsan.ru/img/calendar_monthBorder.png") no-repeat left top;
}
div.monthItem {
  float:left;
  overflow:hidden;
  background:url("http://biletnasapsan.ru/img/calendar_monthBorder.png") no-repeat right top;
  padding:0px 5px;
}
span.monthName {
  color:#cc0000;
  font-size:16px;
  padding:0 0 0 2px;
}
div.monthItem ul
{
  margin:0;
  padding:0;
  list-style-type:none;
}
div.monthItem li
{
  float:left;
  width:54px;
  height:92px;
  cursor:pointer;
  position:relative;
  font-size:36px;
}
li.monthDay-holiday {
  color:#cc0000;
}
li.monthDay-selected {
  color:#ffffff;
  background:url("http://biletnasapsan.ru/img/calendar_daySelected.png") no-repeat 50% top;
  font-weight:bold;
}
span.monthDay
{
  width:54px;
  text-align:center;
  position:absolute;
  bottom:52px;
  left:0;
  line-height:100%;
}
span.monthDayOfWeek
{
  text-align:center;
  width:54px;
  height:17px;
  font-size:16px;
  position:absolute;
  bottom:31px;
  left:0;
}
/*----------------------------------------------------------
ASP.NET MVC FRAMEWORK DEFAULT CSS CLASS NAMES
----------------------------------------------------------*/
.error,.field-validation-error{color:red}

/*.input-validation-valid,.field-validation-valid,.validation-summary-valid{display:none}*/
.input-validation-error{background-color:#fee;border:1px solid red; outline: none}
.input-validation-error:focus{outline:none}
input[type="text"].input-validation-error:focus, select.input-validation-error:focus{outline:none}

.validation-summary-errors{color: red; padding-bottom: 12px;}
.validation-summary-errors span{font-weight:700}
.validation-summary-errors ul{list-style:disc inside}
.validation-summary-errors ul li{font-weight:normal}
.validation-summary-errors ul li label, .validation-summary-errors ul li span{display:inline !important; font-weight:normal}

/* существюущие стили */

body {
    background: url("http://biletnasapsan.ru/img/bg.gif") repeat-x scroll center top #EFEFEF;
    color: #606060;
    font-family: Verdana,Geneva,Helvetica,sans-serif;
    font-size: 12px;
}

#head, #content, #menu, #footer {
    width: 960px;
}

#menu, #index #content, #town #content {
    margin: 0 auto;
}

#menu a.last {
    background: none repeat scroll 0 0 #E1E1E1;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    float: right;
    margin-left: -1px;
    padding: 6px 18px 8px 9px;
    position: relative;
    z-index: 3;
}
#menu a.flR {
    background: url("http://biletnasapsan.ru/img/topsep.gif") no-repeat scroll right top transparent;
    margin-left: -1px;
    padding: 6px 9px 8px;
}
a:link, a:visited {
    color: #013A7E;
    text-decoration: underline;
}

.flR {
    float: right;
}
#submenu {
    background: none repeat scroll 0 0 #546AA4;
    border-radius: 0 0 6px 6px;
    height: 37px;
    margin: 0 auto;
    padding: 12px 0 0 14px;
    width: 946px;
}
/* существюущие стили */
body {
    background: url("http://biletnasapsan.ru/img/bg.gif") repeat-x scroll center top #EFEFEF;
    color: #606060;
    font-family: Verdana,Geneva,Helvetica,sans-serif;
    font-size: 12px;
}

#head, #content, #menu, #footer {
    width: 960px;
}

#menu, #index #content, #town #content {
    margin: 0 auto;
}

#menu a.last {
    background: none repeat scroll 0 0 #E1E1E1;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    float: right;
    margin-left: -1px;
    padding: 6px 18px 8px 9px;
    position: relative;
    z-index: 3;
}

#menu a.flR {
    background: url("http://biletnasapsan.ru/img/topsep.gif") no-repeat scroll right top transparent;
    margin-left: -1px;
    padding: 6px 9px 8px;
}
a:link, a:visited {
    color: #013A7E;
    text-decoration: underline;
}

.flR {
    float: right;
}

#submenu {
    background: none repeat scroll 0 0 #546AA4;
    border-radius: 0 0 6px 6px;
    height: 37px;
    margin: 0 auto;
    padding: 12px 0 0 14px;
    width: 946px;
}


/* ---------------------- Новые стили ----------------------*/

/* --------------- Меню -------------------*/
div#menu {
  height:34px;
}

ul.menu-block {
  margin:0;
  padding:0;
  float:left;
  list-style-type:none;
  height:34px;
  position:relative;
}
ul.menu-block li {
  float:left;
  height:34px;
  text-align:center;
  font-size:14px;
  line-height:34px;
}
li.menu-item-positioned {
  position:absolute;
}
li.menu-item-w1 { 
  width:111px;
  /* в данной верстке здесь фон не трэба */
}
li.menu-item-w2 {
  width:203px;
  background:url("http://biletnasapsan.ru/img/menu-item-2.png") no-repeat left top;
}
li.menu-item-first {
  background:url("http://biletnasapsan.ru/img/menu-item-1.png") no-repeat left top;
  padding-right:20px;
  width:91px;
}
li.menu-item-select {
  background-position:left bottom;
  z-index:1000 !important;
}

ul.menu-block li a {
  color:#013a7e;
  text-decoration:none;
  vertical-align:middle;
  
}
li.menu-item-select a {
  color:#ffffff !important;
  text-decoration:none;
}


/* --------------- Подменю -------------------*/
ul.submenu-block {
  margin:1px 0 0 0;
  padding:0;
  float:left;
  list-style-type:none;
  height:36px;
  position:relative;
}
ul.submenu-block li {
  float:left;
  height:36px;
  text-align:center;
  font-size:14px;
  line-height:36px;
}
li.submenu-item-positioned {
  position:absolute;
}
li.submenu-item-w1 {
  background:url("http://biletnasapsan.ru/img/menu-subitem-1.png") no-repeat left bottom;
  width:310px;
}
li.submenu-item-w2 {
  background:url("http://biletnasapsan.ru/img/menu-subitem-2.png") no-repeat left bottom;
  width:390px;
}
li.submenu-item-select {
  background-position:left top;
  z-index:1000 !important;
}

ul.submenu-block img.arrow {
  width:10px;
  height:10px;
  margin:0 10px;
  background:url("http://biletnasapsan.ru/img/menu-arrow.png") no-repeat left 1px;
  border-width:0;
}
ul.submenu-block li.submenu-item-select img.arrow {
  background-position:left bottom;
}

ul.submenu-block a {
  color:#ffffff;
  text-decoration:none;
}
li.submenu-item-select a {
  color:#b91419;
  text-decoration:none;
}

a.submenu-link {
  float:right;
  background:url("http://biletnasapsan.ru/img/submenu-link.png") no-repeat right top;
  height:36px;
  line-height:36px;
  vertical-align:middle;
  padding:0 20px 0 60px;
  margin:1px 0 0 0;
  color:#efefef;
  font-size:14px;
  text-decoration:none;
}
.fmWrap2 {
  padding-bottom: 22px;
}
.fmWrap3 {
  padding-bottom: 64px;
}
.fmWrap2 h2 {
  background: url("http://biletnasapsan.ruhttp://biletnasapsan.ru/img/bgForm.png") no-repeat scroll right top transparent;
  padding: 8px 50px 0 20px;
  margin-bottom: 10px;
  float: left;
  width: auto;
  border-radius: 6px 0 0 0;
}

.passangerDel {
  float: right;
  padding: 8px 15px 0px 0;
}
.passangerDel a {
  text-decoration: none;
}

.passangerData {
  clear: both;
  margin: 0 0 0 198px;
}

.passangerData .flL {
  color: #000000;
  padding: 6px 9px 0 0;
}

.passangerData .flL label {
  display: block;
  margin-bottom: 6px;
}

.passangerType {
  clear: both;
  padding: 1px 0;
  margin: 0 0 0 170px;
  font-size: 14px;
}
.passangerType img {
  display: block;
  margin: 10px 0;
}
.passangerType a {
  color: #000000;
  text-decoration: none;
}

div.passangerAdd {
  text-align: center;
  padding: 0 0 21px;
}
div.passangerAdd-type {
  padding: 0 0 12px;
}
div.passangerAdd-type label {
  margin: 0 28px 0 0;
}

div.passangerDataPersonal {
  clear: left;
  margin: 0 143px 0 277px;
}
div.passangerDataPersonal label {
  display: block;
  padding: 7px 0 7px;
}
div.passangerDataPersonal-selected {
  background: #99a6ca url("http://biletnasapsan.ru/img/background_diagonal.png") no-repeat right top;
  color: #ffffff;
  padding: 0px 0 16px 34px;
  margin-top: 10px;
  margin-left: 243px;
}
div.passangerDataPersonal-descr {
  float: right;
  width: 290px;
  padding: 17px 25px 0 0;
  font-size: 14px;
  line-height: 16px;
}
div.passangerDataPersonal textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #4F545A;
  color: #4F545A;
  font-size: 18px;
  height: 90px;
  width: 404px;
}
div.passangerElReg {
  clear: left;
  margin: 5px 143px 0 277px;
}
.passangerPay {
  clear: both;
  margin: 0 0 0 220px;
}
.passangerPay ul {
  list-style-type: none;
  padding: 10px 0 0;
  margin: 0;
}
.passangerPay ul li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url("http://biletnasapsan.ru/img/pay-icons.png") no-repeat left top;
  vertical-align: top;
  padding: 55px 50px 0 0;
}
.passangerPay ul li.passangerPay-rub { background-position: 0 -551px; }
.passangerPay ul li.passangerPay-yandex { background-position: 0 -168px; }
.passangerPay ul li.passangerPay-wm { background-position: 0 -353px; }

.passangerPay ul li label {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding: 3px 0 0 0;
}

button.ticketChange {
  text-decoration: underline;
  color: #013a7e;
  line-height: 29px;
  border: 1px #546aa4 solid;
  border-radius: 5px;
  padding: 0 20px;
  background: #d6d6d6 url("http://biletnasapsan.ru/img/gradient-button.png") repeat-x left top;
}
/*trainTable*/
#trainTable table {
  table-layout: fixed;
  width: 100%;
}
#trainTable td {
  padding: 0 1px 1px 0;
  vertical-align: middle;
}
#trainTable thead td {
  padding-bottom: 3px;
}
#trainTable thead span {
  display: block;
  border-bottom: 3px #bababa solid;
  line-height: 28px;
}
#trainTable tbody td {
  text-align: center;
}
#trainTable tbody span {
  display: block;
}
#trainTable .trainID { width: 97px; }
#trainTable .trainTimeDp { width: 115px; }
#trainTable .trainTimeAr { width: 115px; }
#trainTable .trainTimeTotal { width: 115px; }
#trainTable .trainClass { width: 120px; }
#trainTable .trainPrice { width: 120px; }
#trainTable .trainQuantity { width: 120px; }
#trainTable .trainOrder { width: 100%; }

#trainTable tbody .trainID span, 
#trainTable tbody .trainTimeDp span,
#trainTable tbody .trainTimeAr span,
#trainTable tbody .trainTimeTotal span {
  font-size: 24px;
  background: #ebebeb;
  color: #2d395b;
  border: 1px #c6c6c6 solid;
  line-height: 69px;
}
#trainTable tbody .trainClass span,
#trainTable tbody .trainPrice span,
#trainTable tbody .trainQuantity span {
  font-size: 18px;
  background: #ebebeb;
  color: #2d395b;
  border: 1px #c6c6c6 solid;
  line-height: 33px;
}
#trainTable tbody .trainTimeDp span { color: #b91419; }
#trainTable tbody .trainClass span { line-height: 31px; }
#trainTable tbody .trainClass a {
  color: #7c7c7c;
  text-decoration: none;
  border-bottom: #7c7c7c 1px dashed;
  font-size: 12px;
}
#trainTable tbody .trainClass a:hover {
  text-decoration: none;
  border-bottom: #7c7c7c 0px dashed;
}

#trainTable tr.trainLight span {
  background: #f3f3f3;
  border-color: #dedede;
}

tr.trainSep td {
  height: 5px;
}
tr.trainSep div {
  border-top: 1px #ababab solid;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}
.carData {
    clear: both;
    margin: 0 0 0 198px;
}
.car-place-tbl {
    padding: 6px 0px 9px 0;
    float: left;
}
.car-place {
    color: #013A7E;
    text-align: center; 
    width: 2em; 
    padding: 4px 0 4px 0;
}
.car-place-sel {
    font-weight: bold;
    color: #B91419;
    text-align: center; 
    width: 2em;
    padding: 4px 0 4px 0;
}
.car-place span,
.car-place-sel span {
    cursor: pointer;
}
div.car-place-tbl label 
{
    color: #000000;
    display: block;
    margin-bottom: 6px;
}
.car-place-link {
    float: right;
    padding: 8px 15px 0 0;
}

p.reg{
	font:18px verdana, sans-serif;
	color:#000;
}
p.reg span {
	font:24px verdana, sans-serif;
}
.win-reg {
	border:1px solid #546aa4;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background:#fff url(http://biletnasapsan.ru/img/bg-reg.png) repeat-x bottom;
	min-height:200px;
	margin:9px 0;
}
.win-reg div {
	position:relative;
	width:575px;
	margin:0 auto;
	clear:both;
}
.win-reg div p {
	margin:10px 0 0;
	float:left;
}
.win-reg div p input {
	width:177px;
	height:22px;
	border:1px solid #4f545a;
	margin:0 9px 0 0;
	padding:0 0 0 2px;
	font:18px/22px verdana, sans-serif;
	color:#008115;
}
.win-reg div p select {
	width:230px;
	height:22px;
	background:#fff;
	border:1px solid #4f545a;
	margin:0 9px 0 0;
}
.win-reg div input.button {
	border:1px solid #BE151A;
	float:right;
	width:173px;
	font:12px verdana, sans-serif;
	cursor:pointer;
}
.win-reg a.open{
	float:right;
	margin:16px 19px 0 0;
}
p.title-win-reg{
	width:194px;
	height:36px;
	background:url(http://biletnasapsan.ru/img/win-reg-title.png) no-repeat;
	font:18px/36px verdana, sans-serif;
	padding:0 0 0 20px;
	color:#fff;
	float:left;
}
p.age{
	float:none !important;
	font:14px verdana, sans-serif;
	color:#008115;
}
.add-pass{
	width:700px;
	height:150px;
	margin:0 auto 50px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(239,239,239) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(239,239,239) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(239,239,239) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(239,239,239) 100%);
	padding:0 50px;
}
.first{
	margin:0 0 0 60px;
}
.add-pass p{
	float:left;
	margin:55px 20px 0;
	font:12px/18px verdana, sans-serif;
	color:#343434;
}
.add-pass p.center{
	float:none;
	text-align:center;
	padding:55px 0 0;
}
.add-pass p  span{
	margin:-45px 5px 0;
	display:block;
}
.add-pass a{
	float:left;
	font:12px/27px verdana, sans-serif;
	color:#013a7e;
	height:27px;
	text-decoration:none;
	padding:0 12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-image: linear-gradient(bottom, rgb(208,208,208) 0%, rgb(248,248,248) 100%);
	background-image: -o-linear-gradient(bottom, rgb(208,208,208) 0%, rgb(248,248,248) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(208,208,208) 0%, rgb(248,248,248) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(208,208,208) 0%, rgb(248,248,248) 100%);
}
.add-pass p input{
	position:relative;
	top:2px;
	margin:0 7px 0 0;
}
a.add-pass-button{
    width:318px;
    height:47px;
    font:18px/47px verdana, sans-serif;
    text-decoration:none;
    margin:10px 0 20px 194px;
    text-align:center;
    float:left;
    border:0;
    color:#fff;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background:#727272;
    background-image: linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
    background-image: -o-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
}
a.add-pass-button img{
	position:relative;
	top:-2px;
}
p.title-win-reg-two{
	width:344px;
	height:36px;
	background:url(http://biletnasapsan.ru/img/win-reg-title-2.png) no-repeat;
	font:18px/36px verdana, sans-serif;
	padding:0 0 0 20px;
	color:#fff;
}
ul.pay{
	margin:20px 0 0 320px;
}
ul.pay li{
	float:left;
	margin:0 60px 0 0;
}
ul.pay li p{
	font:12px verdana, sans-serif;
	color:#010101;
}
ul.pay li p input{
	position:relative;
	top:2px;
	margin:0 5px 0 0;
}
ul.pay li p a{
	margin:0 0 0 20px;
}
.win-reg form.cust-data{
	padding:0 0 65px;
	margin:0 0 0 320px;
}
.win-reg form.cust-data span{
	display:block;
	width:538px;
	height:60px;
	padding:5px 0 0 30px;
	margin:10px 0 0 -30px;
	background:url(http://biletnasapsan.ru/img/bg-cust-data-mail.png);
}
.win-reg form.cust-data span div{
	float:right;
	width:280px;
	margin:-10px 40px 0 0;
}
.win-reg form.cust-data span p{
	color:#fff;
	margin:0;
}
.win-reg form.cust-data p{
	float:none;
	color:#000;
}
.win-reg form.cust-data input{
	width:193px;
	height:22px;
	border:1px solid #4f545a;
}
.win-reg form.cust-data textarea{
	width:403px;
	height:92px;
	border:1px solid #4f545a;
}
.your-order{
	min-height:204px;
	padding:15px 40px 15px 18px;
	border:1px solid #ababab;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background-image: linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
	background-image: -o-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
}
table.table_rate{
	border-bottom:1px solid #777;
	float:left;
}
.your-order p.reg{
	float:left;
}
table.table_rate tr.top-table p{
	color:#777777;
	font:10px verdana, sans-serif;
	padding:0 0 3px;
	display:inline;
	width:100%;
}
table.table_rate td.td-1{
	border-bottom:1px solid #777;
	margin:0 10px 0 0;
	height:20px;
}
table.table_rate td.td-2, table.table_rate td.td-3, table.table_rate td.td-4, table.table_rate td.td-5, table.table_rate td.td-6, table.table_rate td.td-7{
	border-bottom:1px solid #777;
	margin:0 10px 0 0;
}

table.table_rate td.direction p{
	font:12px verdana, sans-serif;
	color:#b91419;
	padding:0 10px 0 0;
}
table.table_rate td.direction p span{
	color:#000;
}
table.table_rate td.train p{
	font:18px verdana, sans-serif;
	color:#000;
	padding:0 10px 0 0;
}
table.table_rate td.time p{
	font:18px verdana, sans-serif;
	color:#b91419;
	padding:0 10px 0 0;
}
table.table_rate td.class p{
	font:18px verdana, sans-serif;
	color:#000;
	padding:0 10px 0 0;
}
table.table_rate td.class p span{
	font:12px verdana, sans-serif;
	color:#013a7e;
}
table.table_rate td.price p{
	font:18px verdana, sans-serif;
	color:#000;
	padding:0 10px 0 0;
}
table.table_rate td.amount p{
	font:18px verdana, sans-serif;
	color:#000;
	padding:0 10px 0 0;
}
table.table_rate td.all-price p{
	font:18px verdana, sans-serif;
	color:#000;
	padding:0 10px 0 0;
}
a.button-order{
	clear:both;
	width:237px;
	height:31px;
	font:12px/31px verdana, sans-serif;
	text-align:center;
	float:left;
	margin:35px 0 0;
	border:1px solid #546aa4;
	color:#013a7e;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-image: linear-gradient(bottom, rgb(214,214,214) 0%, rgb(249,249,249) 100%);
	background-image: -o-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(249,249,249) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(249,249,249) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(214,214,214) 0%, rgb(249,249,249) 100%);
}
.your-order div{
	float:right;
	margin:0 70px 0 0;
}
.your-order div p{
	font:18px/24px verdana, sans-serif;
	color:#000;
	text-align:right;
	margin:0;
}
.your-order div p.last{
	color:#b91419;
}
.your-order div p span{
	font:12px/24px verdana, sans-serif;
	width:180px;
	display:block;
	float:left;
	text-align:left;
}
p.agreem{
	float:right;
	margin:20px 0 10px;
}
a.ticket-back{
	height:47px;
	font:18px/47px verdana, sans-serif;
	text-decoration:none;
	margin:20px 0 0;
	padding:0 19px;
	text-align:center;
	float:left;
	border:0;
	color:#fff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background-image: linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
	background-image: -o-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(92,92,92) 0%, rgb(185,185,185) 100%);
}
a.payment{
    height:47px;
    font:18px/47px verdana, sans-serif;
    text-decoration:none;
    margin:20px 0 0 0px;
    padding:0 19px;
    text-align:center;
    float:right;
    border:0;
    color:#fff;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
    background:#2b913f;
    background-image: linear-gradient(bottom, rgb(28,118,39) 0%, rgb(65,184,97) 100%);
    background-image: -o-linear-gradient(bottom, rgb(28,118,39) 0%, rgb(65,184,97) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(28,118,39) 0%, rgb(65,184,97) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(28,118,39) 0%, rgb(65,184,97) 100%);
}
.tichet-back{
	width:700px;
	min-height:204px;
	position:absolute;
	z-index:99999;
	top:450px;
	left:170px;
	padding:20px;
	border:3px solid #546aa4;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	background-image: linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
	background-image: -o-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(231,231,231) 0%, rgb(254,254,254) 100%);
}
.tichet-back a.payment {
	margin-left:0;
	float:right;
}
.tichet-back p.center{
	width:420px;
	text-align:center;
	margin:0 auto;
	font-size:14px;
	color:#4b4b4b;
}
.tichet-back p.center span{
	font-size:24px;
}
.tichet-back p.center-bottom{
	clear:both;
	width:420px;
	text-align:center;
	margin:0 auto;
	font-size:12px;
	color:#000;
	padding:30px 0 0;
}
.wrapper-black{
	background:#000;
	opacity: 0.7;
	z-index:9999;
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
p{
	color:#000;
}
.clear{
	clear:both;
}



