html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px; width: 100%;
}
.breadcrumbs {
	font: 12px/normal Verdana; margin: 20px 0px 25px; padding: 0px 15px; color: rgb(74, 110, 173); font-size-adjust: none; font-stretch: normal;
}
.breadcrumbs ul {
	list-style: none; margin: 0px; padding: 0px;
}
.breadcrumbs li {
	margin: 0px; padding: 0px; display: inline;
}
.breadcrumbs li a {
	font: 12px/normal Verdana; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.breadcrumbs ul img.arrow {
	background: url("images/breadcrumbs-arrow.png") no-repeat left top; border-width: 0px; margin: 0px 10px; width: 10px; height: 10px;
}
.breadcrumbs ul li.breadcrumbs-select img.arrow {
	background-position: left bottom;
}


#tabvanilla ul {
	list-style: none; margin: 0px auto; padding: 0px; width: 543px; height: 34px; position: relative;
}
#tabvanilla li {
	position: relative;
}
#tabvanilla li a {
	background: url("images/tabs.png") no-repeat left top; font: 20px/34px Verdana; left: 0px; width: 203px; height: 34px; text-align: center; color: rgb(71, 106, 167); text-decoration: none; vertical-align: middle; display: block; position: absolute; z-index: 100; font-size-adjust: none; font-stretch: normal;
}
#tabvanilla li a.selected, #tabvanilla li.ui-tabs-selected a {
	background-position: left bottom; color: rgb(255, 255, 255) !important; z-index: 1000 !important;
}
#tabvanilla li a.biznes {
	left: 170px; z-index: 90;
}
#tabvanilla li a.econom {
	left: 340px; z-index: 90;
}
.tabs_border {
	margin: 0px 15px; border-top-color: rgb(97, 138, 210); border-top-width: 1px; border-top-style: solid;
}
.grey_line /* wagons header line */ {
	font: 12px/normal Verdana; margin: 10px; padding: 10px 20px; border-radius: 6px; color: rgb(97, 96, 96); font-size-adjust: none; font-stretch: normal; background-color: rgb(239, 239, 239); -moz-border-radius: 6px; -webkit-border-radius: 6px; width:936px;
}
.grey_line .price,
.grey_line .klass,
.grey_line .klass:first-line,
.grey_line .n_vagon,
.grey_line .n_vagon span,
.grey_line .f_places {
  font: 12px/normal Verdana; margin: 10px; color: rgb(97, 96, 96);
}


div#content { overflow:hidden !important; padding:10px 0 6px 0; }

div#content h2 a img { position:absolute; right:10px; top:20px; border:none}

div#content .fmWrap div.tabdiv  h2, div#content h2.trigger {
	background: url("images/accordion_bg.jpg") repeat-x left top; margin: 0px 10px 4px 10px; padding: 12px 20px 12px 20px; border: 1px solid rgb(220, 220, 220); height: 40px; color: rgb(0, 0, 0); vertical-align: middle; border-top-left-radius: 10px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-top-left-radius: 10px; -moz-border-top-right-radius: 10px; -webkit-border-top-left-radius: 10px; position:relative; width:896px;  
}


h2.trigger table td, h2.expanded table td { border-right:#ccc 0px dotted}
h2.trigger table td+td+td+td, h2.expanded table td+td+td+td { border-right:none}

.price {
	font: 24px/normal Verdana; font-size-adjust: none; font-stretch: normal; width:120px;
}
.price.red {color:red;}
.klass:first-line {
	font: 20px/normal Verdana; color:#546AA4; font-size-adjust: none; font-stretch: normal;
}

.klass {
	font: 11px/normal Verdana; padding:0 20px 0 20px; width:175px; color:#546AA4  
}
.n_vagon {
	font: 30px/normal Verdana; text-align: center; font-size-adjust: none; font-stretch: normal; color:#000; width:190px;
}
.n_vagon span {
	font: 16px/30px Verdana; vertical-align: middle; font-size-adjust: none; font-stretch: normal; /* display: block; */ color:#000;
}
.f_places {
	font: 14px/normal Verdana; font-size-adjust: none; font-stretch: normal; line-height:28px; padding:0 0 0 10px 
}

.f_places span {
	font: 18px/normal Verdana; padding: 2px 5px; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal; background-color: rgb(45, 165, 13); width:24px; display:inline-block; text-align:center 
}
.f_places span.red {background-color:red;}
div#content .fmWrap h2.expanded, .fmWrap h2.expanded {
	background: url("images/accordion_a_bg.jpg") repeat-x left top; border: 1px solid rgb(204, 204, 204); border-top-left-radius: 10px; border-top-right-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-top-left-radius: 10px; -moz-border-top-right-radius: 10px; -webkit-border-top-left-radius: 10px; margin: 0px 10px 0px 10px !important;
}

.directions .msk {float:left;font-size:14px;font-family:Verdana;color:#000;font-weight:bold;margin:0px 0px 10px 18px;}
.directions .msk span {font-size:22px;position:relative;top:1px;}
.directions .spb {float:right;font-size:14px;font-family:Verdana;color:#000;font-weight:bold;margin:0px 18px 10px 0px;}
.directions .spb span {font-size:22px;position:relative;top:2px;}
div.tooltip {position:absolute;display:none;border-radius:10px;padding:10px;color:#000;background-color:#FFF;border:#F89848 2px solid;width: 502px;font-weight:bold;}

div.frame {background:none; margin-bottom:6px; }
table.inner {border:1px #ccc solid; margin:0 10px 10px 10px; background:#FFF; padding:0 !important}
table.inner td {padding:0 !important}

.clear {
	line-height: 0; overflow: hidden; clear: both; font-size: 0px;
}
/*
div.accordion_block { background-color:#fafbfc; overflow:hidden; height:auto !important;}
*/
/* WAGON 1 */
div[class=^wagon]{
	display:none;
}

div.wagon1 {
	background: url("images/wagon.jpg") no-repeat left top; margin: 0px auto; width: 938px; height:220px; overflow:hidden
}
div.wagon1 div.side {
	width: 485px; margin-left: 60px;
}
div.wagon1 div.side2 {
	width: 485px; margin-left: 71px; height: 23px; padding-top: 23px;
}
div.side {
	padding: 0px; height: 46px; margin-top: 24px; float: left;
}
div.side2 {
	padding: 0px; height: 46px; margin-top: 20px; float: left;
}
div.side div, div.side2 div {
	margin: 0px 0px 0px 10px; width: 26px; height: 46px; float: left;
}
div.side div.stol, div.side2 div.stol {
	margin-left:36px;
}
div.side div.robe, div.side2 div.robe {
	margin-left:80px;
}
div.side div.premium1wagon {
  margin-left: 98px;
  width: 84px;
}
p.car-place {
	background: url("images/kreslo.png") no-repeat 0px 0px; margin: 0px auto; padding: 2px; width: 22px; height: 19px; float: left;
}
div.side div.premium1wagon p.car-place {
  width: 80px;
  height: 43px;
  background: url("images/kreslo_premium.png") no-repeat 0px 0px; 
}
div.side div.premium1wagon p.car-place:hover {
  background: url("images/kreslo_premium.png") no-repeat 0px -47px; 
}
div.side div.premium1wagon p.car-place[state="2"] {
  background: url("images/kreslo_premium.png") no-repeat 0px -94px; 
}
div.side div.premium1wagon p.car-place[state="3"] {
  background: url("images/kreslo_premium.png") no-repeat 0px -141px; 
}


p.car-place span, p.car-placer span {
	color: rgb(74, 74, 74); font-size: 12px; font-weight: bold;
}
div.side div.premium1wagon p.car-place span {
  float: left;
  margin-left: 2px;
}
div.side div.premium1wagon p.car-place span + span { float: right; margin-right: 5px;}
div.side div.premium1wagon p.car-place span + span + span { float: left; clear: left; margin-top: 4px; }
div.side div.premium1wagon p.car-place span + span + span + span { float: right; clear: none; }

/* selected place */

p[state^='1'].car-place {
	background: url("images/kreslo.png") no-repeat -26px 0px; cursor: pointer;
}
p.car-place:hover {
	background: url("images/kreslo.png") no-repeat -26px 0px; cursor: pointer;
}

/* busy place */

p[state^='2'].car-place {
	background: url("images/kreslo.png") no-repeat -52px 0px; 
}
p[state^='2'].car-place span,p[state^='2'].car-placer span {color:#ffe9e9 !important;}

p.car-placer {
	background: url("images/kreslo.png") no-repeat 0px -23px; margin: 0px auto; padding: 2px 2px 2px 6px; width: 18px; height: 19px; float: left;
}

/* selected place */

p[state^='1'].car-placer {
	background: url("images/kreslo.png") no-repeat -26px -23px; cursor: pointer;
}
p.car-placer:hover {
	background: url("images/kreslo.png") no-repeat -26px -23px; cursor: pointer;
}

/* busy place */

p[state^='2'].car-placer {
	background: url("images/kreslo.png") no-repeat -52px -23px; 
}

div[class^='wagon'] {padding:0 0 20px 0 !important; overflow:hidden;}

/* disabled place (another class) */
p[state='3'].car-placer {
	background: url("images/kreslo.png") no-repeat -78px -23px; 
}
p[state='3'].car-place {
	background: url("images/kreslo.png") no-repeat -78px 0px; 
}
p[state='3'].car-place span, p[state='3'].car-placer span {
  color: #aaa;
}


/* legenda */



.notes { float:left; font-family:Calibri, Arial, sans-serif; font-size:13px; background:none; margin:0px 0 0 23px; width:500px; }
.notes h3 {font-size:13px; font-weight:400; color:#424242 !important; text-transform:uppercase}

/* cart */

div.cart {  float:right; margin:30px 20px 20px 0; overflow:hidden}
div.line { margin:0 auto; padding:0 0 0 30px;overflow: hidden;height: 38px;}
div.cart span { font-size:24px; font-weight:400;}
/*div.cart h3 { float:left; margin:0 auto; padding:0;}*/
div.cart p.place { background: url(images/place.png) no-repeat; color:#000; text-align:center; width:61px; height:27px; margin:0 0 0 -30px; padding:8px 26px 3px 50px; float:right;}
div.cart div.line p.place span { width:20px;text-align:center; line-height:12px; display:block; float:left; font-size:12px; font-weight:normal;}
div.cart div.line p.place span b { display:block; font-weight:600}
p.place img { float:right;cursor:pointer; }

div.sum { width: 120px; background:url(images/cash.png) no-repeat 0 0; height:36px; padding:0 0 0 30px; float:right; margin:16px 0 0 0; text-transform:uppercase; font-size:11px;}
div.sum b { display:block; font-size:18px; font-weight: 400}

/* wagon shapka */

.det { float:left; margin:30px 0 20px 20px;  width:380px; clear: right; font-size:14px;}
.det div {margin:10px 0 0 0; float:left; width:100%}
.det b { background:rgb(47,173,13); width:25px; height:23px; padding:3px 3px 6px 3px; font-size:20px; font-weight:400; color:#fff; display:block; text-align:center; letter-spacing:-.1em; float:left; margin:8px 4px 0 0;}
.det b.busy {background:rgb(238,30,51);}
.det p { float:left; width:120px; margin:15px 3px 0 0; line-height:20px; }



/************************************
tabs
************************************/

* {
margin: 0;
padding: 0;
}

body {
font-size: 75%;
color: #222;
background: #ffffff;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.6em;
}

.widget {
/*width: 890px;
margin: 20px;
padding: 10px;
background: #f3f1eb;
border: 1px solid #dedbd1;
margin-bottom: 15px;*/
}

	.widget a {
	color: #222;
	text-decoration: none;
	}
	
	.widget a:hover {
	color: #009;
	text-decoration: underline;
	}

ul.tabnav { height:40px; background:url(images/menu.png) repeat-x; padding:0 20px 0 20px; text-align:center; display:inline-block; margin:0 0 20px 240px; 
border-top-left-radius: 6px; border-top-right-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-top-left-radius: 6px; -moz-border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px;
border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-bottom-left-radius: 6px; -moz-border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px;}

	.tabnav li {height:35px;  font-size:14px; text-transform:uppercase; font-family:Verdana, Geneva, sans-serif;
	display: block; margin:5px 0 0 0; 
	list-style: none; width:120px; float:left; color:#fff;
	padding: 0; 
	}
	
		.tabnav li a {
		text-decoration: none;color:#fff;
		font-weight: bold;
		outline: none; display:block; padding:5px
		}
		
		.tabnav li-selected, .tabnav li:hover, .tabnav li.ui-tabs-selected, .tabnav li.ui-tabs-selected:hover {background:url(images/hovlin.png) 0 0 no-repeat; color:#1a2a30; text-decoration:none;
	
	}
	
		.tabnav li-selected a {
	 background:url(images/hovend.png) 100% 0 no-repeat;color:#1a2a30
		}
		
		.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
	 background:url(images/hovend.png) 100% 0 no-repeat;color:#1a2a30; text-decoration:none		}
		
	.tabdiv {
	margin-top: 2px;
	background: #fff;
/*	border: 1px solid #dedbd1;
	padding: 5px;*/
	}
	
		.tabdiv li {
		list-style-image: url("star.png");
		margin-left: 20px;
		}

.ui-tabs-hide {
		display: none;
		}

	
		
			.fvid {
			margin-bottom: 5px;
			}
		
			.vidselector li {
			text-align: left;
			list-style: none;
			padding: 5px;
			background: #ffffff;
			border: 1px solid #dedbd1;
			text-transform: uppercase;
			margin-bottom: 5px;
			}

div.show { width:100%}

/************************************
collapse
************************************/

		.trigger{
			cursor:pointer;
		}		
		.trigger:hover{
			cursor:pointer;
			
		}		
		.expanded{
			
			cursor:pointer;
		}
		.expanded:hover{
			
			cursor:pointer;
		}
		.show{
     position:static;
     display: table; background:none;
		}
		.hide{
			position:absolute;
			left:-999em;
			height:1px;
			width:100px;
			overflow:hidden;
		}


/* WAGON 1 */

div.wagon {
	background: url("images/wagon.jpg") no-repeat left top; margin: 0px auto; width: 872px; height:220px; overflow:hidden
}
div.wagon div.side {
	width: 485px; margin-left: 60px;
}
div.wagon div.side2 {
	width: 485px; margin-left: 60px;
}
div.side {
	padding: 0px; height: 46px; margin-top: 24px; float: left;
}
div.side2 {
	padding: 0px; height: 46px; margin-top: 20px; float: left;
}
div.side div, div.side2 div {
	margin: 0px 0px 0px 10px; width: 26px; height: 46px; float: left;
}
div.side div.stol, div.side2 div.stol {
	margin-left:36px;
}
div.wagon1 div.side div.stol, div.wagon1 div.side2 div.stol {
	margin-left:29px;
}
div.side div.robe, div.side2 div.robe {
	margin-left:81px;
}
div.wagon1 div.side div.robe, div.wagon1 div.side2 div.robe {
	margin-left:76px;
}
div.wagon1 div.side div.robe2, div.wagon1 div.side2 div.robe2 {
	margin-left:99px;
}
p.car-place {
	background: url("images/kreslo.png") no-repeat 0px 0px; margin: 0px auto; padding: 2px; width: 22px; height: 19px; float: left;
}
p.car-place span, p.car-placer span {
	color: rgb(74, 74, 74); font-size: 12px; font-weight: bold;
}

/* selected place */

p[state^='1'].car-place {
	background: url("images/kreslo.png") no-repeat -26px 0px; cursor: pointer;
}
p.car-place:hover {
	background: url("images/kreslo.png") no-repeat -26px 0px; cursor: pointer;
}

/* busy place */

p[state^='2'].car-place {
	background: url("images/kreslo.png") no-repeat -52px 0px; 
}
p[state^='2'].car-place span,p[state^='2'].car-placer span {color:#ffe9e9 !important;}

p.car-placer {
	background: url("images/kreslo.png") no-repeat 0px -23px; margin: 0px auto; padding: 2px 2px 2px 6px; width: 18px; height: 19px; float: left;
}

/* selected place */

p[state^='1'].car-placer {
	background: url("images/kreslo.png") no-repeat -26px -23px; cursor: pointer;
}
p.car-placer:hover {
	background: url("images/kreslo.png") no-repeat -26px -23px; cursor: pointer;
}

/* busy place */

p[state^='2'].car-placer {
	background: url("images/kreslo.png") no-repeat -52px -23px; 
}

div[class^='wagon'] {padding:0 0 20px 0 !important; overflow:hidden;}

/* legenda */

.notes { float:left; font-family:Verdana, Geneva, sans-serif; font-size:11px; background:none; margin:8px 0 0 94px; width:400px;}
.notes h3 {font-size:13px; font-weight:400}

/* cart */

div.cart {  float:right; margin:30px 20px 20px 0; overflow:hidden}
div.line { margin:0 auto; padding:0 0 0 30px; overflow:hidden}
div.cart span { font-size:24px; font-weight:400;}
/*div.cart h3 { float:left; margin:0 auto; padding:0;}*/
div.cart p.place { background: url(images/place.png) no-repeat; color:#000; text-align:center; width:61px; height:27px; margin:0 0 0 -30px; padding:8px 26px 3px 50px; float:right;}
div.cart div.line p.place span { width:20px;text-align:center; line-height:12px; display:block; float:left; font-size:12px; font-weight:normal;}
div.cart div.line p.place span b { display:block; font-weight:600}
p.place img { float:right; }

div.sum { width: 120px; background:url(images/cash.png) no-repeat 0 0; height:36px; padding:0 0 0 30px; float:right; margin:16px 0 0 0; text-transform:uppercase; font-size:11px;}
div.sum b { display:block; font-size:18px; font-weight: 400}

/* wagon shapka */

.det { float:left; margin:30px 0 20px 20px;  width:340px; clear: right}
.det h3 { margin:0 0 4px 0;}
.det b { background:url(images/green.png) no-repeat; width:25px; height:23px; padding:5px 3px 3px 3px; font-size:18px; font-weight:800; color:#fff; display:block; text-align:center; letter-spacing:-.1em; float:left; margin:0 4px 0 0;}
.det b.busy {background:url(images/red.png) no-repeat;}
.det p { float:left; width:120px; margin:6px 3px 0 0; line-height:20px;}

/* WAGON 2 */

div.wagon2 {
	background: url("images/wagon2.jpg") no-repeat left top; margin: 0px auto; width: 872px; 
}
div.wagon2 div.side {
	width: 645px; margin-left: 98px;
}
div.wagon2 div.side2 {
	width: 615px; margin-left: 98px;
}
div.wagon2 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon2 div.side2 div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

div.wagon2 div.side div.stol { margin-left:36px}
div.wagon2 div.side2 div.stol { margin-left:33px}
div.wagon2 div.side2 div.stol2 { margin-left:33px}
/*div.wagon2 div.side2*/ div.less { margin-left:3px !important}
div.wagon2 div.side2 div.less { margin-left:1px !important}
div.wagon2 div.side div.robe { margin-left:70px}
div.wagon2 div.side2 div.stol { margin-left:36px}

/* WAGON 3 & 4 */

div.wagon3 {
	background: url("images/wagon3.jpg") no-repeat left top; margin: 0px auto; width: 872px; 
}

div.wagon3 div.side, div.wagon3 div.side2, div.wagon4 div.side, div.wagon4 div.side2 { width:685px; margin-left:93px;}

div.wagon3 div.side div, div.wagon4 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon3 div.side2 div,  div.wagon4 div.side2 div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

div.wagon3 div.side div.stol, div.wagon4 div.side div.stol { margin-left:32px}
div.wagon3 div.side2 div.stol, div.wagon4 div.side2 div.stol { margin-left:33px}
div.wagon3 div.side div.robe, div.wagon4 div.side div.robe { margin-left:83px}

/* WAGON 4 */

div.wagon4 {
	background: url("images/wagon3.jpg") no-repeat left top; margin: 0px auto; width: 872px; 
}

/* WAGON 6 */

div.wagon6 {
	background: url("images/wagon6.jpg") no-repeat left top; margin: 0px auto; width: 872px; 
}

div.wagon6 div.side, div.wagon6 div.side2 { width:585px; margin-left:96px;}

div.wagon6 div.side div {
	margin-left: 10px; width: 26px; height: 46px; float: left;
}

 div.wagon6 div.side2 div {
	margin-left: 10px; width: 26px; height: 46px; float: left;
}

div.wagon6 div.side div.stol { margin-left:32px}
div.wagon6 div.side2 div.stol { margin-left:33px}

/* WAGON 7,8,9 */

div.wagon7 {
	background: url("images/wagon7.jpg") no-repeat left top; margin: 0px auto; width: 872px; 
}

div.wagon7 div.side, div.wagon7 div.side2, div.wagon8 div.side, div.wagon8 div.side2, div.wagon9 div.side, div.wagon9 div.side2 { width:645px; margin-left:137px;}

div.wagon7 div.side div, div.wagon8 div.side div, div.wagon9 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon7 div.side2 div,  div.wagon8 div.side2 div,  div.wagon9 div.side2 div {
	margin-left: 8px; width: 26px; height: 46px; float: left;
}

div.wagon7 div.side div.stol, div.wagon8 div.side div.stol, div.wagon9 div.side div.stol { margin-left:28px}
div.wagon7 div.side2 div.stol, div.wagon8 div.side2 div.stol, div.wagon9 div.side2 div.stol  { margin-left:30px}
div.wagon7 div.side div.stol2, div.wagon8 div.side div.stol2, div.wagon9 div.side div.stol2 { margin-left:35px;}
div.wagon7 div.side2 div.stol2, div.wagon8 div.side2 div.stol2, div.wagon9 div.side2 div.stol2  { margin-left:40px;}
div.wagon7 div.side2 div.robe, div.wagon8 div.side2 div.robe, div.wagon9 div.side2 div.robe { margin-left:83px}

/* WAGON 8 */

div.wagon8 {
	background: url("images/wagon8.jpg") no-repeat left top; margin: 0px auto; width: 872px; 
}

/* WAGON 9 */

div.wagon9 {
	background: url("images/wagon9.jpg") no-repeat left top; margin: 0px auto; width: 872px; 
}

/* WAGON 10 */

div.wagon10 {
	background: url("images/wagon10.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}
div.wagon10 div.side, div.wagon10 div.side2 {
	width: 690px; margin-left: 188px;
}

div.wagon10 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon10 div.side2 div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

.wider { margin-left:19px !important}
.uno {margin-top:6px !important; }
div.wagon10 div.side div.stol { margin-left:36px}
div.wagon10 div.side2 div.stol { margin-left:33px}
div.wagon10 div.side2 div.stol2 { margin-left:33px}
div.wagon10 div.side div.prohod { margin-left:102px}
div.wagon10 div.side2 div.prohod { margin-left:68px}
div.wagon10 div.side2 div.robe { margin-left:108px}
div.wagon10 div.side2 div.stol { margin-left:36px}
