html {
	margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px; width: 100%;
}
.breadcrumbs {
	font: 12px/normal Verdana; margin: 20px 0px 25px; padding: 0px 15px; color: rgb(74, 110, 173); font-size-adjust: none; font-stretch: normal;
}
.breadcrumbs ul {
	list-style: none; margin: 0px; padding: 0px;
}
.breadcrumbs li {
	margin: 0px; padding: 0px; display: inline;
}
.breadcrumbs li a {
	font: 12px/normal Verdana; color: rgb(0, 0, 0); font-size-adjust: none; font-stretch: normal;
}
.breadcrumbs ul img.arrow {
	background: url("images/breadcrumbs-arrow.png") no-repeat left top; border-width: 0px; margin: 0px 10px; width: 10px; height: 10px;
}
.breadcrumbs ul li.breadcrumbs-select img.arrow {
	background-position: left bottom;
}
#tabs {
	margin: 0px;
}
#tabs ul {
	list-style: none; margin: 0px auto; padding: 0px; width: 406px; height: 34px; position: relative;
}
#tabs li {
	position: relative;
}
#tabs li a {
	background: url("images/tabs.png") no-repeat left top; font: 20px/34px Verdana; left: 0px; width: 203px; height: 34px; text-align: center; color: rgb(71, 106, 167); text-decoration: none; vertical-align: middle; display: block; position: absolute; z-index: 100; font-size-adjust: none; font-stretch: normal;
}
#tabs li a.selected {
	background-position: left bottom; color: rgb(255, 255, 255) !important; z-index: 1000 !important;
}
#tabs li a.econom {
	left: 170px; z-index: 90;
}
.tabs_border {
	margin: 0px 15px; border-top-color: rgb(97, 138, 210); border-top-width: 1px; border-top-style: solid;
}
.grey_line {
	font: 12px/normal Verdana; margin: 10px 0px; padding: 10px 20px; border-radius: 6px; color: rgb(97, 96, 96); font-size-adjust: none; font-stretch: normal; background-color: rgb(239, 239, 239); -moz-border-radius: 6px; -webkit-border-radius: 6px;
}
.grey_line td {
	
}





/* WAGON 1 */

div.wagon1 {
	background: url("images/wagon.jpg") no-repeat left top; margin: 0px auto; width: 938px; height:220px; overflow:hidden
}
div.wagon1 div.side {
	width: 485px; margin-left: 60px;
}
div.wagon1 div.side2 {
	width: 485px; margin-left: 60px;
}
div.side {
	padding: 0px; height: 46px; margin-top: 24px; float: left;
}
div.side2 {
	padding: 0px; height: 46px; margin-top: 20px; float: left;
}
div.side div, div.side2 div {
	margin: 0px 0px 0px 10px; width: 26px; height: 46px; float: left;
}
div.side div.stol, div.side2 div.stol {
	margin-left:36px;
}
div.side div.robe, div.side2 div.robe {
	margin-left:80px;
}
p.car-place {
	background: url("images/kreslo.png") no-repeat 0px 0px; margin: 0px auto; padding: 2px; width: 22px; height: 19px; float: left;
}
p.car-place span, p.car-placer span {
	color: rgb(74, 74, 74); font-size: 12px; font-weight: bold;
}

/* selected place */

p[state^='1'].car-place {
	background: url("images/kreslo.png") no-repeat -26px 0px; cursor: pointer;
}
p.car-place:hover {
	background: url("images/kreslo.png") no-repeat -26px 0px; cursor: pointer;
}

/* busy place */

p[state^='2'].car-place {
	background: url("images/kreslo.png") no-repeat -52px 0px; 
}
p[state^='2'].car-place span,p[state^='2'].car-placer span {color:#ffe9e9 !important;}

p.car-placer {
	background: url("images/kreslo.png") no-repeat 0px -23px; margin: 0px auto; padding: 2px 2px 2px 6px; width: 18px; height: 19px; float: left;
}

/* selected place */

p[state^='1'].car-placer {
	background: url("images/kreslo.png") no-repeat -26px -23px; cursor: pointer;
}
p.car-placer:hover {
	background: url("images/kreslo.png") no-repeat -26px -23px; cursor: pointer;
}

/* busy place */

p[state^='2'].car-placer {
	background: url("images/kreslo.png") no-repeat -52px -23px; 
}

div[class^='wagon'] {padding:0 0 20px 0 !important; overflow:hidden;}

/* legenda */

.notes { float:left; font-family:Verdana, Geneva, sans-serif; font-size:11px; background:none; margin:8px 0 0 94px; width:400px;}
.notes h3 {font-size:13px; font-weight:400}

/* cart */

div.cart {  float:right; margin:30px 20px 20px 0; overflow:hidden}
div.line { margin:0 auto; padding:0 0 0 30px; overflow:hidden}
div.cart span { font-size:24px; font-weight:400;}
/*div.cart h3 { float:left; margin:0 auto; padding:0;}*/
div.cart p.place { background: url(images/place.png) no-repeat; color:#000; text-align:center; width:61px; height:27px; margin:0 0 0 -30px; padding:8px 26px 3px 50px; float:right;}
div.cart div.line p.place span { width:20px;text-align:center; line-height:12px; display:block; float:left; font-size:12px; font-weight:normal;}
div.cart div.line p.place span b { display:block; font-weight:600}
p.place img { float:right; }

div.sum { width: 120px; background:url(images/cash.png) no-repeat 0 0; height:36px; padding:0 0 0 30px; float:left; margin:16px 0 0 0; text-transform:uppercase; font-size:11px;}
div.sum b { display:block; font-size:18px; font-weight: 400}

/* wagon shapka */

.det { float:left; margin:30px 0 20px 20px;  width:340px; clear: right}
.det h3 { margin:0 0 4px 0;}
.det b { background:url(images/green.png) no-repeat; width:25px; height:23px; padding:5px 3px 3px 3px; font-size:18px; font-weight:800; color:#fff; display:block; text-align:center; letter-spacing:-.1em; float:left; margin:0 4px 0 0;}
.det b.busy {background:url(images/red.png) no-repeat;}
.det p { float:left; width:120px; margin:6px 3px 0 0; line-height:20px;}

/* WAGON 2 */

div.wagon2 {
	background: url("images/wagon2.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}
div.wagon2 div.side {
	width: 645px; margin-left: 98px;
}
div.wagon2 div.side2 {
	width: 615px; margin-left: 132px;
}
div.wagon2 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon2 div.side2 div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

div.wagon2 div.side div.stol { margin-left:36px}
div.wagon2 div.side2 div.stol { margin-left:33px}
div.wagon2 div.side2 div.stol2 { margin-left:33px}
/*div.wagon2 div.side2*/ div.less { margin-left:3px !important}
div.wagon2 div.side div.robe { margin-left:104px}
div.wagon2 div.side2 div.stol { margin-left:36px}

/* WAGON 3 & 4 */

div.wagon3 {
	background: url("images/wagon3.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}

div.wagon3 div.side, div.wagon3 div.side2, div.wagon4 div.side, div.wagon4 div.side2 { width:685px; margin-left:93px;}

div.wagon3 div.side div, div.wagon4 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon3 div.side2 div,  div.wagon4 div.side2 div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

div.wagon3 div.side div.stol, div.wagon4 div.side div.stol { margin-left:32px}
div.wagon3 div.side2 div.stol, div.wagon4 div.side2 div.stol { margin-left:33px}
div.wagon3 div.side div.robe, div.wagon4 div.side div.robe { margin-left:83px}

/* WAGON 4 */

div.wagon4 {
	background: url("images/wagon3.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}

/* WAGON 6 */

div.wagon6 {
	background: url("images/wagon6.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}

div.wagon6 div.side, div.wagon6 div.side2 { width:585px; margin-left:96px;}

div.wagon6 div.side div {
	margin-left: 10px; width: 26px; height: 46px; float: left;
}

 div.wagon6 div.side2 div {
	margin-left: 10px; width: 26px; height: 46px; float: left;
}

div.wagon6 div.side div.stol { margin-left:32px}
div.wagon6 div.side2 div.stol { margin-left:33px}

/* WAGON 7,8,9 */

div.wagon7 {
	background: url("images/wagon7.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}

div.wagon7 div.side, div.wagon7 div.side2, div.wagon8 div.side, div.wagon8 div.side2, div.wagon9 div.side, div.wagon9 div.side2 { width:645px; margin-left:137px;}

div.wagon7 div.side div, div.wagon8 div.side div, div.wagon9 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon7 div.side2 div,  div.wagon8 div.side2 div,  div.wagon9 div.side2 div {
	margin-left: 8px; width: 26px; height: 46px; float: left;
}

div.wagon7 div.side div.stol, div.wagon8 div.side div.stol, div.wagon9 div.side div.stol { margin-left:28px}
div.wagon7 div.side2 div.stol, div.wagon8 div.side2 div.stol, div.wagon9 div.side2 div.stol  { margin-left:30px}
div.wagon7 div.side div.stol2, div.wagon8 div.side div.stol2, div.wagon9 div.side div.stol2 { margin-left:35px;}
div.wagon7 div.side2 div.stol2, div.wagon8 div.side2 div.stol2, div.wagon9 div.side2 div.stol2  { margin-left:40px;}
div.wagon7 div.side2 div.robe, div.wagon8 div.side2 div.robe, div.wagon9 div.side2 div.robe { margin-left:83px}

/* WAGON 8 */

div.wagon8 {
	background: url("images/wagon8.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}

/* WAGON 9 */

div.wagon9 {
	background: url("images/wagon9.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}

/* WAGON 10 */

div.wagon10 {
	background: url("images/wagon10.jpg") no-repeat left top; margin: 0px auto; width: 938px; 
}
div.wagon10 div.side, div.wagon10 div.side2 {
	width: 690px; margin-left: 188px;
}

div.wagon10 div.side div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

 div.wagon10 div.side2 div {
	margin-left: 9px; width: 26px; height: 46px; float: left;
}

.wider { margin-left:19px !important}
.uno {margin-top:6px !important; }
div.wagon10 div.side div.stol { margin-left:36px}
div.wagon10 div.side2 div.stol { margin-left:33px}
div.wagon10 div.side2 div.stol2 { margin-left:33px}
div.wagon10 div.side div.prohod { margin-left:102px}
div.wagon10 div.side2 div.prohod { margin-left:68px}
div.wagon10 div.side2 div.robe { margin-left:108px}
div.wagon10 div.side2 div.stol { margin-left:36px}
