/**/

.ui-datepicker-trigger {
    background: url("images/stuff.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 22px;
    width: 43px;
    border: 0px;
}

div#loader {
    width: 200px;
    height: 200px;
    left: 45%;
    top: 30%;
    position: fixed;
    display: none;
    z-index: 999;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
}

div#loader-message {
    font-family: Arial;
    font-weight: bold;
    height: 20px;
    left: 50%;
    margin-left: -85px;
    margin-top: -10px;
    position: absolute;
    text-align: center;
    top: 30%;
    white-space: nowrap;
    width: 170px;
    z-index: 101;
}

img#perfectCentre {
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 200;
}

.field-validation-error {   
    color: red;
    font-size: 11px;
}

.input-validation-error {
    border: 2px solid red !important;
}

div#FromList,
div#ToList {
    position: relative;
}

div#FromList div.popupBlock,
div#ToList div.popupBlock{
    position: absolute;
    top: 23px;
}

div#PopularRoutes div.popupBlock{
    position: absolute;
}

div#FromList  div.popupBlock-container,
div#ToList  div.popupBlock-container,
div#PopularRoutes  div.popupBlock-container {
    background-color: #DDE3EF;
}

div.popupBlock-container  div.station-item {
    padding: 7px;
    border-bottom: 1px dotted #26353A;
    cursor: pointer;
}

div.popupBlock-container  div.station-item:hover {
    background-color: #b8c2d9;
}

div#PopularRoutes .callback-form {
    width: 285px;
}

#ToolTip {
    display: none;
    position: absolute;
}

#ToolTip div.popupBlock-open div.callback-form {
    width: 330px;
}

#ToolTip div.inner{
    background-color: #FFFFEE;
    overflow: auto;    
    width: 300px;
    height: 300px;
    padding: 15px
}


#ToolTip h2 {
    margin: 0px;
}